{% from "../../action-bar/component.njk" import action_bar %}
{% from "../../button/component.njk" import button %}
{% set css_deps = ['components/icons'] %}
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAP Hybris Techne | Starter Page | {{ title }}</title>
    <style media="screen">
    {% set core_sass = 'all.scss' %}
    {{ core_sass | sass_to_css }}
    </style>
</head>
<body class="tn-ui tn-ui--{{ app.id }}">

{%- set backbtn %}
    {{ button(
              { icon: 'backarrow' },
              modifier={ block: ['text','icon','large'] },
              aria={ label: 'Back' }
    )}}
{%- endset %}

    {{  action_bar(
            properties={
                title: "Page Title",
                navigation: backbtn
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% block content %}
    {% endblock %}
</body>
</html>
