@import 'system/colors';
@import 'system/colors';

// Tabs

.tn-tabs {

    .tn-tabs-options {
        list-style: none;
        border-bottom: 1px solid $tn-color-neutral-lighter;
        padding: 0;
        margin: 0;

        .tn-tabs-option {
            display: inline-block;
            padding: .5em 1em;
            cursor: pointer;
            color: $tn-color-default;
            border: 1px solid transparent;

            &:hover {
                background-color: $tn-color-neutral-lightest;
            }

            &.tn-tabs-option-selected {
                background-color: $tn-color-neutral-lightest;
                cursor: default;
                color: $tn-color-neutral;
            }
        }

        .tn-side-actions { 
            float: right;
            user-select: none;
            
            .tn-action {
                cursor: pointer;
                margin: 0 tn-get-spacing("normal", 1);
                color: $tn-color-neutral-lighter;

                .material-icons {
                    font-size: 2em;
                }

                &.tn-selected {
                    color: $tn-color-neutral-dark;
                }

                &:hover {
                    color: $tn-color-default;
                }

            }
        }
    }

    &.tn-tabs-vertical {
        display: flex;
        flex-direction: row;

        .tn-tabs-options {
            border-bottom: none;
            border-right: 1px solid $tn-color-neutral-lighter;
        }

        .tn-tabs-container {
        }

    }

}
