@import "../core/mixins";

@mixin navlist($direction: horizontal) {
    list-style: none;
    padding: 0;
	[aria-selected=true] {
		cursor: default;
	}
	a {
		color: inherit;
	}
	[aria-hidden=true] {
		display: none;
	}
	@if $direction = horizontal {
	    @include clearfix;
		margin: 0;
		li {
			float: left;
		}
	} 
}

