@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

$block: ns(ui);

/*! */

.#{$block} {
    $tn-ui-header-height: 60px !default;
    $tn-ui-header-fixed: true !default;
    $tn-ui-header-background-color: tn-color(primary) !default;
    $tn-ui-sidebar-background-color: tn-color(primary,2) !default;

    &__header {
        background: $tn-ui-header-background-color;
        width: 100%;
        height: $tn-ui-header-height;
        position: tn-if($tn-ui-header-fixed, fixed static);
        top: 0;
    }
    &__app {
        margin-top: tn-if($tn-ui-header-fixed, $tn-ui-header-height 0);
        height: tn-if($tn-ui-header-fixed, calc(100vh - #{$tn-ui-header-height}) 100vh);
        overflow: scroll;
        display: flex;
    }
    &__sidebar {
        background: $tn-ui-sidebar-background-color;
    }
    &__main {
        flex: 1;
    }

}
