@import "../core/settings";

$ns: ns();

.#{$ns}has-background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.#{$ns}has-background-fixed {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@each $key, $value in $colors {
  .#{$ns}has-background-color-#{$key} {
    background-color: $value !important;
//     $saturation: saturation($value) / 100%;
//     @if $saturation > 0.5 {
//       color: color(white);
//     }
  }
}
