@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

$block: ns(button);

/*! */


// BUTTON
//     - primary
//     - secondary
//     - upload
//     - directional
//     - icon
//         - back to top
//     - link
//         - delete
//         - cancel
//         - back
//         - next
//     - add

.#{$block} {
    //BASE
    //set all reset and baseline block styles
    @include reset;
    font-smoothing: antialiased;
    appearance: none;
    outline: 0;
    border: 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: $background-color--button;

    //VARIANTS
    //each variant MUST extend base block
    &--primary {
        @extend .#{$block};
    }
    &--secondary {
        @extend .#{$block};
        background-color: color(link);
        color: color(lightest);
    }
    &--link {
        @extend .#{$block};
        background-color: color(lightest);
    }
    &--upload {
        @extend .#{$block};
        background-color: color(link);
        color: color(lightest);
        position: relative;
        overflow: hidden;
        [type="file"] {
            opacity: 0;
            position: absolute;
            padding: 20px 40px;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    &--add {
        @extend .#{$block};
        @include weight(bold);
        width: 100%;
        background-color: color(light);
        color: color(link);
        &::before {
            @include type(3);
            @include weight(reg);
            content: "+";
        }
    }
}
