@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

/*!
    card structure
    .tn-card+(--static)+(.is-disabled)
        .tn-card__media+(--fill)
        .tn-card__content
            .tn-card__header, .tn-card__description, .tn-card__label
*/

.tn-card {
    @include reset;
    //LOCAL VARS
    $tn-card-color-border: color(light) !default;
    $tn-card-color-disabled: color(lightest) !default;
    $tn-card-time-hover: 0.2s;
    $tn-card-shadow-hover: 0px 0px 5px 5px rgba(138,143,138,0.2);
    $tn-card-padding: 40px !default;
    $tn-card-media-width: 75px !default;

    $tn-card-color-link: $color--link !default;


    display: flex;
    border: solid 1px $tn-card-color-border;

    &--static {
        @extend .tn-card;
    }

    //EFFECTS *******************************************
    transition: border-color $tn-card-time-hover, box-shadow $tn-card-time-hover;
    &:hover:not([class*="--static"], .is-disabled) {
        border-color: $tn-card-color-link;
        box-shadow: $tn-card-shadow-hover;
    }
    //STATES *******************************************
    &.is-disabled {
        background-color: $tn-card-color-disabled;
        * {
            color: color(dark);
        }
    }





    //ELEMENTS
    &__media {
        background-repeat: no-repeat;
        background-position: top center;
        width: $tn-card-media-width;
        margin: $tn-card-padding 0 $tn-card-padding $tn-card-padding;

        //ELEMENT MODIFIERS
        &--fill {
            @extend .tn-card__media;
            margin: 0;
            width: $tn-card-media-width + $tn-card-padding;
            background-size: cover;
        }

    }

    &__content {
        padding: $tn-card-padding;
    }

    &__header {
        color: $tn-card-color-link;
    }
    &__description {

    }
    &__label {

    }







}
