@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

/*!
.tn-form-group+(--no-border)
    .tn-form-group__content+()
    .tn-form-group__title+()
*/
$block: ns(form-group);

.#{$block} {
    //LOCAL VARS (set all vars used in component, always include !default)
    $tn-form-group-color-border: tn-color(neutral, 3) !default;
    $tn-form-group-color-border-content: tn-color(neutral, 4) !default;
    $tn-form-group-color-selected: tn-color(primary, 3) !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    border: solid 1px $tn-form-group-color-border;


    //BLOCK MODIFIERS ************
    //each mod MUST extend base block so devs can use a single class and get all base styles for free
    &--no-border {
        @extend .#{$block} !optional;
        border-color: transparent;
    }


    //ELEMENTS *******************************************
    //set all ELEMENT baseline styles
    &__content {
        border: solid 1px $tn-form-group-color-border;


        //ELEMENT MODIFIERS ************
        //each mod MUST extend the element base
        &--no-border {
            @extend .#{$block}__content !optional;
            border-color: transparent;
        }

    }
    &__title {


    }


    //STATES *******************************************
    //these classes and attributes can be modified by scripts
    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
    }
    &[aria-selected="true"] {
        border-color: $tn-form-group-color-selected;
    }




}
