@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "../layout/mixins";

$block: ns(primary-nav);


/*
	.primary-nav
		.primary-nav__directory
		.primary-nav__home
		.primary-nav__list
			.primary-nav__listitem
			.primary-nav__listlink

*/

%base {
	@include navlist;
	background-color: color(brand);
	color: color(lightest);
	padding: 10px 30px;
}

//testing this - the idea is that you won't have to duplicate classes when applying a modifier
// [class*="#{&$block}--"] {
// 	@extend %base;
// }

.#{$block} {
	@extend %base;
	&__directory, &__index, &__list, &__listitem {
		display: inline-block;
		margin-bottom: 0;
	}
	&__directory {
		padding: 0 20px 0 0;
	}
	&__index {
		padding: 0 20px;
		vertical-align: top;
	}
	&__list {
		[aria-selected=true] {
			font-weight: bold;
		}
	}
	&__listitem {

	}
	&__listlink {
		display: block;
		padding: 0 20px;
		&[aria-haspopup] {
			&::after {
				content: '';
				@include triangle(10px, color(light), down);
				position: relative;
				top: 15px;
			}

		}
	}


}
