@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

/*!
    .tn-table
        .tn-table__row+(--stripe)
        .tn-table__cell
*/

// TABLE
//     - not-striped

.tn-table {
    //BASE
    //set all BLOCK reset and baseline styles
    @include reset;
    border-collapse: collapse;
    width: 100%;
    background-color: color(light);

    //VARIANTS
    //each variant MUST extend base block
    // &--modifier {
    //     @extend .tn-table;
    // }


    //ELEMENTS
    &__row {
        //BASE
        //set element baseline styles

        //VARIANTS
        //each variant MUST extend element block
        &--stripe {
            @extend .tn-table__row !optional;
            background: color(lightest);
        }
        //STATES
        // &.is-active {
        //     background: color(brand);
        // }

    }
    &__cell {
        //BASE
        //set element baseline styles
        vertical-align: top;
        text-align: left;

        //VARIANTS
        //each variant MUST extend element block
        // &--modifier {
        //     @extend .tn-table__cell;
        // }
    }


}
