@import "functions";

//library namespace
$namespace: tn !default;

//breakpoints
$breakpoints: (
    xs: 480px,
    s: 667px,
    m: 768px,
    l: 1024px,
    xl: 1248px,
    xxl: 1440px
) !default;

//spacing
$spacing--base: 6px;

$spacing: (
    base: $spacing--base,   //6
    xs: $spacing--base*2,   //12
    s: $spacing--base*4,    //24
    reg: $spacing--base*6,  //36
    m: $spacing--base*8,    //48
    l: $spacing--base*10,   //60
    xl: $spacing--base*12,  //72
    xxl: $spacing--base*14  //84
) !default;

//type
$type: (
    -3: 0.75rem (16/12) body bold uppercase,	//12/16
    -2: 0.8125rem (18/13) body reg none,	//13/18
    -1: 0.875rem (20/14) body reg none,	//14/18
    0: 1rem (22/16) body reg none,     	//16/22
    1: 1.125em (24/18) body semi none,   	//18/24
    2: 1.25rem (26/20) body semi none,   	//20/26
    3: 1.625rem (32/26) body semi none,	//26/32
    4: 2.1875rem (42/35) header bold none,	//35/42
    5: 2.8125rem (50/45) header semi none,   //45/50
) !default;

//fonts
$fonts: (
    body: #{"'Open Sans'", sans-serif},
    header: #{"Dosis", sans-serif},
    code: #{"Courier", sans-serif},
) !default;

//colors
$colors: (
    brand: #006fbb,
    accent: #fbc100,
    action: #009cdf,
    success: #61bf33,
    warning: #e96b1a,
    error: #df1919,
    lightest: #eef1f3,
    light: #d7d7d7,
    dark: #7f90a4,
    darkest: #21262c,
) !default;

//type
$font-family: map-get($fonts,body) !default;
$font-family--header: map-get($fonts,header) !default;
$font-family--code: map-get($fonts,code) !default;
$font-size: nth(map-get($type,0), 1) !default;
$line-height: nth(map-get($type,0), 2) !default;

//baseline
$color: color(darkest) !default;
$background-color: white !default;

//positioning
$margin-bottom: map-get($spacing, reg) !default;

//interactive
$color--link: color(action) !default;
$color--link-hover: color(action) !default;
$color--button: color(dark) !default;
$background-color--button: color(light) !default;

//states
$color--error: color(error) !default;
$color--warning: color(warning) !default;
$color--success: color(success) !default;
