//== DEFAULT COLOUR SETS
//
// Syntax for sets:
// ---------------------------------------
// $type-colour-200: #; // Lightest value
// $type-colour-300: #;
// $type-colour-400: #;
// $type-colour: #;     // Normal value (500)
// $type-colour-600: #;
// $type-colour-700: #;
// $type-colour-800: #; // Darkest value
// ----------------------------------------


// Base color
$black: #000;
$white: #fff;

// Default Yellow
$default-yellow: #fbc100;

// Default Orange
$default-orange: #e96b1a;

// Default Green
$default-green: #61bf33;

// Default Red
$default-red: #df1919;

// Default Blue
$default-blue: #009cdf;

// Dark Blue
$dark-blue: #006fbb;

//Grey
$light-grey-100: #eef1f3;
$default-grey: #d7d7d7;
$dark-grey: #7f90a4;
$dark-grey-800: #21262c;
