@import "settings";

// Required variables:
// 	$tn-background-color
// 	$tn-color
$elements__headers: h1, h2, h3, h4, h5, h6;
$elements__blocks: p, ul, ol, li, blockquote, table, figure;
$elements__interactive: a, audio\[controls\], button, details, embed, iframe, img\[usemap\], input, keygen, label, object\[usemap\], select, textarea, video\[controls\];
$elements__inputs--text: "input[type=text]", "input[type=password]", "input[type=email]", "input[type=url]", "input[type=search]", "input[type=tel]", "input[type=number]", "input[type=date]";
$elements__inputs--check: "input[type=radio]", "input[type=checkbox]";

/*!
* @section Root Element
* Default styles for root elements
*/
html {
    box-sizing: border-box;
    min-height: 100%;
}
html,
body {
    font-size: $tn-font-size;
    font-family: $tn-font-family;
    line-height: $tn-line-height;
}
* {
    box-sizing: inherit;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}
body {
    margin: 0;
    background-color: $tn-background-color;
    -webkit-font-smoothing: antialiased;
    color: $tn-color;

}

/**
* @section Header Elements
* Default styles for header elements
*/
#{$elements__headers} {
    text-rendering: optimizeLegibility;
    margin-bottom: $tn-margin-bottom;
    margin-top: 0;
}

/*!
* @section Block Elements
* Default styles for block elements
*/
#{$elements__blocks} {
    margin-top: 0;
    margin-bottom: $tn-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

/*!
* @section List Elements
* Default styles for lists
*/
ul, ol {
  padding-left: 0;
  list-style: none;
}


/*!
* @section Phrases Elements
* Default styles for phrase elements
*/
img {
    line-height: 0;
}

a {
    color: $tn-color--link;
    text-decoration: none;
    &:hover {
        color: $tn-color--link-hover;
    }
    &:active,
    &:focus {
        color: $tn-color--link-hover;
        outline: none;
    }
}

/*!
* @section Button Elements
* Default styles for button elements
*/
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*!
* @section Form Elements
* Default styles for form elements
*/
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

// select {
//     appearance: none;
//     background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00LjY2MiA1Ljg3M2wtLjAxMi4wMUwuMzQ1IDEuNThsLjg1LS44NTIgMy40NzcgMy40NzZMOC4xMzguNzRsLjg1Ljg1LTQuMzA0IDQuMzA1LS4wMjItLjAyMnoiIGZpbGw9InJnYmEoMTQ0LCAxNDQsIDE0NSwgMS4wKSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
//     background-repeat: no-repeat;
//     background-position: calc(100% - 0.8em) center;
//     padding-right: 25px;
//     &.is-invalid {
//         border-color: $tn-forms-color--invalid;
//         background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZT5jaXJjdW1mbGV4LWludmVydGVkPC90aXRsZT48cGF0aCBkPSJNNC42NjIgNS44NzNsLS4wMTIuMDFMLjM0NSAxLjU4bC44NS0uODUyIDMuNDc3IDMuNDc2TDguMTM4Ljc0bC44NS44NS00LjMwNCA0LjMwNS0uMDIyLS4wMjJ6IiBmaWxsPSJyZ2JhKDIwNCwgMTI0LCAxMjcsIDEuMCkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
//     }
// }

@-moz-document url-prefix() {
    // Firefox
    select {
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    // IE10+ specific styles go here
    select {
        padding-right: 0;
    }
}
