// Cards on pages
//
// At Desktop and Tablet inflections, it is recommended to show up to 25 cards before pagination. At the Mobile inflection, it is recommended to show up to 5 cards before pagination. When used as a summary for a complete list on a mixed content page, display 5 cards before “See All.”
//
//<h3>Table summary for cards on mixed pages</h3>
//Use cards summaries in order to give users quick access to multiple data type lists on a mixed page. When the number of entries is more than 5, provide a “See All” link to either show the complete list within that page or to go to another page and display the full list.
//
//
// Markup:
// <ul class="dataCards {$modifiers}">
//  <li class="y-add dataCard ">
//     <button  type="button" class="y-add-btn">
//         <span class="hyicon hyicon-add"></span>
//         New Button
//     </button>
//  </li>
//  <li class="dataCard">
//    <div class="cardRow cardRowClickable">
//        <p class="primaryData">
//          Primary Value
//        </p>
//        <p class="secondaryData">
//          You can click me!
//        </p>
//          <span class="label label-success">
//            Active Label
//          </span>
//  </li>
//  <li class="dataCard">
//    <div class="cardRow">
//        <p class="primaryData">
//          Primary Value
//        </p>
//        <p class="secondaryData">
//          You can't click me, I'm static!
//        </p>
//          <span class="label label-default">
//            Default Label
//          </span>
//    </div>
//  </li>
//  <li class="dataCard">
//    <div class="cardRow cardRowDisabled">
//        <p class="primaryData">
//          Primary Value
//        </p>
//        <p class="secondaryData">
//          You can't click me, I'm disabled!
//        </p>
//        <p class="statusDataValue">
//          <span class="active">
//            Active
//          </span>
//        </p>
//    </div>
//  </li>
// </ul>
// <div class="dataCard-seeall">
//   <button class="btn btn-link">
//         <span>See All</span>
//         <span class="hyicon hyicon-chevron"></span>
//     </button>
// </div>
// 
// .dataCards-singleColumn - Force the card layout to stay in one column. Built to be used within a existing grid column. 
//
// Pattern 4.1

.dataCards {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox; /* IE10 */
  align-items: stretch;
  -ms-flex-align: stretch;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: relative;

  @media (max-width:@screen-xs-max) {
    flex-direction: column;
  }

  &.dataCards-singleColumn{
    display: block;

    .cardRow,
    .dataCard{
      width: 100%;
    }
    .y-add{
      margin-bottom: 10px;
    }
  }
}

a.dataCard{
  transition: background 0.05s ease-in-out;
}

.dataCard{
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox; /* IE10 */
  cursor: default;
  overflow: visible !important;
  box-shadow: 0 1px 0 rgba(138, 143, 161, 0.3);
  margin-bottom: 7px;
  margin-top: 0;
  transition: all 0.1s ease-in-out 0s;

  &:last-child{
    margin-bottom: 7px;
  }

  .y-add-btn{
    height: auto;
  }

  //sm display
  @media (min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
    width: 49.5%;
    margin-right: 1%;

    &:nth-child(2n){
      margin-right: 0;
    }

    // remove padding when cards are in panels
    .panel &{
      width: 50%;
      margin: 0;
    }
  }
  //md display
  @media (min-width:@screen-md-min) {
    width: 32.888888889%;
    margin-right: 0.6666666667%;

    &:nth-child(3n){
      margin-right: 0;
    }

    // remove padding when cards are in panels
    .panel &{
      width: 33%;
      margin: 0;
    }
  }



  a&:hover *,
  a&:focus *{
    color: #000 !important;
  }

  .panel > .list-group .list-group-item&{
    border-width: 1px;
  }

  .checkbox input,
  .checkbox label{
    width: auto;
  }

  .cardRow{
    overflow:hidden;
    height: auto;
    padding: 13px;
    background: #fff;
    width: 100%;
    flex: 1;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1; /* Safari */
    transition: all 0.1s ease-in-out 0s;

    .hyicon-remove{
      color: @default-red;
    }

    &.cardRowClickable{
      cursor: pointer;
      display: block;

      // Hover state
      &:hover,
      &:focus {
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(138, 143, 161, 0.6);
        color: #555555;
        margin-bottom: 2px;
        margin-top: -2px;
        z-index: 5;

        & *{
          color: @default-blue;
        }
      }
      &:active{
        background-color: @default-greyblue-500;
      }

      .primaryData{
        color: @default-blue;
      }
    }

    &.cardRowDisabled{
        background-color: fade(@default-greyblue, 15%);
        user-select: none;
        & *{ 
          color: fade(@default-greyblue, 70%);
        }

    }
  }

  .cardRow > .label{
    padding-left: 0px;
    background: transparent;
  }

  .cardRow .radio{
    margin-top: 3px;

  }


  .actions{
    padding-top: 6px;
  }

  .cardRow label{
    float: left;
    width: 78%;

  }

  .actions .hyicon{
    font-size: 33px;
    color: @btn-warning-color;
    vertical-align: top;
  }

  .dataCard .hyicon-remove {
    color: @default-red;
  }

}

.dataCard-seeall{
  text-align: center;
  background: none;
  font-weight: bold;
  .btn{
      font-weight: bold;
  }

}

.cardCalloutHeader{
  color: #fff;
  padding: 13px;
  background-color: #7f90a4;
}
