// Locals Editor
//
// Markup:
//    <label>Headline</label>
//    <div class="form-group locals-editor">
//        <div class="locals-header clearfix">
//            <ul class="nav nav-tabs locals-tabs">
//                <li class="active"> <a href="" class="is-required">EN</a></li>
//                <li> <a href="">BG</a></li>
//                <li> <a href="" class="is-required">DE</a></li>
//                <li> <a href="">FR</a></li>
//                <li> <a href="">PL</a></li>
//                <li> <a href="">DA</a></li>
//            </ul>
//        </div>
//        <div class="form-group ">
//            <div class="property" baas-form-name ng-form="innerForm" style="width:100%">
//                <input name="lastName" type="text" class="form-control input-lg" value="Men Walk On Moon"/>
//            </div>
//        </div>
//    </div>
//
// Pattern 8.1

// Locals Editor
//
// Markup:
//    <label>Headline</label>
//    <div class="form-group locals-editor">
//        <div class="locals-header clearfix">
//            <ul class="nav nav-tabs locals-tabs">
//                <li> <a href="" class="is-required">EN</a></li>
//                <li> <a href="">BG</a></li>
//                <li class="active"> <a href="" class="is-required">DE</a></li>
//                <li> <a href="">FR</a></li>
//                <li> <a href="">PL</a></li>
//                <li> <a href="">DA</a></li>
//            </ul>
//        </div>
//        <div class="form-group ">
//            <div class="property" baas-form-name ng-form="innerForm" style="width:100%">
//                <input name="lastName" type="text" class="form-control input-lg" value="Männer gehen auf Mond"/>
//            </div>
//        </div>
//    </div>
//
// Pattern 8.2


// Locals Editor
//
// Markup:
//    <div class="form-group locals-editor">
//    <div class="locals-header clearfix">
//        <ul class="nav nav-tabs locals-tabs">
//            <li class="active"> <a class="has-error" href="">EN</a></li>
//            <li> <a href="">BG</a></li>
//            <li> <a class="has-error is-required" href="">DE</a></li>
//            <li> <a href="">FR</a></li>
//            <li> <a href="">PL</a></li>
//            <li> <a href="">DA</a></li>
//        </ul>
//    </div>
//    <div class="form-group">
//        <div class="input-group property" baas-form-name ng-form="innerForm" style="width:100%">
//            <input name="lastName" type="text" class="form-control input-lg has-error">
//            <span class="inline-hint-text inline-hint-text__error">This field is required</span> 
//        </div>
//    </div>
//</div>
//
// Pattern 8.3


// Locals Editor
//
// Markup:
//<div class="form-group locals-editor">
//    <div class="locals-header clearfix">
//        <ul class="nav nav-tabs locals-tabs">
//            <li class="active"> <a href="">EN</a></li>
//            <li> <a href="">BG</a></li>
//            <li> <a class="has-error" href="">DE</a></li>
//            <li> <a href="">FR</a></li>
//            <li> <a href="">DA</a></li>
//            <li> <a href="">NL</a></li>
//            <li class="dropdown locals-tabs__more-menu is-required">
//                <a class="dropdown-toggle has-error" data-toggle="dropdown" aria-expanded="false"><span class="locals-tabs__more-span">MORE</span>
//                    <span class="caret"></span>
//                </a>
//                <ul class="dropdown-menu locals-tabs__more-tabs">
//                    <li>
//                        <a href="" class="locals-tabs__more-tab">IT</a>
//                    </li>
//                    <li class="">
//                        <a href="" class="locals-tabs__more-tab has-error is-required">PL</a>
//                    </li>
//                </ul>
//            </li>
//        </ul>
//    </div>
//    <div class="form-group">
//        <div class="input-group property" baas-form-name ng-form="innerForm" style="width:100%">
//            <input name="lastName" type="text" class="form-control input-lg" value="Men Walk On Moon">
//        </div>
//    </div>
//</div>
//
// Pattern 8.4


// Locals Editor
//
// Markup:
//<div class="form-group locals-editor">
//    <div class="locals-header clearfix">
//        <ul class="nav nav-tabs locals-tabs">
//            <li class="active"> <a href="">EN</a></li>
//            <li> <a href="">BG</a></li>
//            <li> <a class="has-error" href="">DE</a></li>
//            <li> <a href="">FR</a></li>
//            <li> <a href="">DA</a></li>
//            <li> <a href="">NL</a></li>
//            <li class="dropdown locals-tabs__more-menu is-required">
//                <a class="dropdown-toggle has-error" data-toggle="dropdown" aria-expanded="false"><span class="locals-tabs__more-span">MORE</span>
//                    <span class="caret"></span>
//                </a>
//                <ul class="dropdown-menu locals-tabs__more-tabs">
//                    <li>
//                        <a href="" class="locals-tabs__more-tab">IT</a>
//                    </li>
//                    <li class="">
//                        <a href="" class="locals-tabs__more-tab has-error is-required">PL</a>
//                    </li>
//                    <li class="">
//                        <a href="" class="locals-tabs__more-tab has-error is-required">PT</a>
//                    </li>
//                </ul>
//            </li>
//        </ul>
//    </div>
//    <div class="form-group">
//        <div class="input-group property" baas-form-name ng-form="innerForm" style="width:100%">
//            <input name="lastName" type="text" class="form-control input-lg" value="Men Walk On Moon">
//        </div>
//    </div>
//</div>
//
// Pattern 8.5


// Locals Editor
//
// Markup:
//    <div class="form-group locals-editor">
//        <div class="locals-header clearfix">
//            <ul class="nav nav-tabs locals-tabs">
//                <li> <a href="">EN</a></li>
//                <li> <a href="">BG</a></li>
//                <li> <a class="has-error" href="">DE</a></li>
//                <li> <a href="">FR</a></li>
//                <li> <a href="">DA</a></li>
//                <li> <a href="">NL</a></li>
//                <li class="dropdown locals-tabs__more-menu active">
//                    <a class="dropdown-toggle is-required locals-tabs__more-btn" data-toggle="dropdown" aria-expanded="false">IT
//                        <span class="caret"></span>
//                    </a>
//                    <ul class="dropdown-menu locals-tabs__more-tabs">
//                        <li class="active">
//                            <a href="" class="locals-tabs__more-tab">IT</a>
//                        </li>
//                        <li>
//                            <a href="" class="locals-tabs__more-tab has-error">PL</a>
//                        </li>
//                    </ul>
//                </li>
//            </ul>
//        </div>
//        <div class="form-group">
//            <div class="input-group property" baas-form-name ng-form="innerForm" style="width:100%">
//                <input name="lastName" type="text" class="form-control input-lg" value="Gli uomini camminare sulla Luna">
//            </div>
//        </div>
//    </div>
//
// Pattern 8.6

// Core Navigation stylings
.nav {
	a {
		color: @navigation-links-color;
		&:hover {
			color: @navbar-default-bg
		}
	}
}

.locals-tabs .active :not(.has-error) {
    background-color: @default-blue;
    border-color: @default-blue;
    color: @navbar-default-bg;
}

.locals-tabs .active .has-error {
    background-color: @default-red;
    border-color: @default-red;
}

.locals-tabs__more-tabs{
    border-color: @default-grey-700;
    background-color:  @navbar-default-bg;
}

.locals-tabs__more-menu{
    cursor: pointer;
}

.locals-editor .locals-tabs a{
    width: 100%;
}

.locals-editor .locals-tabs{
    border-bottom-color: @default-grey-700;
}

.locals-editor .locals-tabs .active a,
.locals-editor .locals-tabs .active a:hover,
.locals-editor .locals-tabs .active a:focus{
    font-weight: bold;
}

.locals-editor .locals-tabs li:not(.active){
    border-color: @default-grey-700;
}

.locals-editor .locals-tabs li:last-of-type {
    border-right: 1px solid @default-grey-700;
}

.locals-editor .locals-tabs .locals-tabs__more-tabs li:last-of-type{
    border-right: none;
}

.locals-editor .locals-tabs > li{
    border-top: 1px solid @default-grey-700;
    border-left: 1px solid @default-grey-700;
    border-bottom: 1px solid @default-grey-700;
}

.locals-header .locals-tabs{
    margin-bottom: 0;
}

.locals-editor .locals-tabs .active a.has-error,
.locals-editor .locals-tabs .active a:hover .has-error,
.locals-editor .locals-tabs .active a:focus .has-error{
    background-color: @default-red;
    border-color: @default-red;
    color:  @navbar-default-bg;
}

.locals-tabs .has-error:before{
    content: "! ";
}

.locals-tabs :not(.locals-tabs__more-menu) .is-required:after,
.locals-tabs__more-menu.is-required .locals-tabs__more-span:after{
    content: "*";
}

.locals-header .locals-tabs > :not(.active) > a.has-error:not(:hover){
    background-color: transparent;
    color: @state-danger-text;
}

.locals-editor .form-group{
    margin-top: -1px;
}

.locals-tabs .locals-tabs__more-menu.active .caret{
    border-top-color: @navbar-default-bg;
}

.has-error{
    border-color: @state-danger-border;
}

.locals-editor .inline-hint-text__error,
.locals-tabs .active a.locals-tabs__more-tab.has-error,
.locals-tabs a.locals-tabs__more-tab.has-error{
    color: @state-danger-text;
}

.locals-tabs .locals-tabs__more-menu .locals-tabs__more-tabs{
    background-color: @navbar-default-bg;
    border-color: @default-grey-700;
}

.locals-editor .locals-tabs > li.locals-tabs__more-menu{
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.locals-editor .locals-tabs > li.locals-tabs__more-menu.open{
    border-top-color: @default-grey-700;
    border-right-color: @default-grey-700;
    border-bottom-color: @default-grey-700;
}

.locals-tabs .active .locals-tabs__more-tab:not(.has-error),
.locals-tabs .active a.locals-tabs__more-tab.has-error,
.locals-tabs .active .locals-tabs__more-tab:not(.has-error):hover,
.locals-tabs .active a.locals-tabs__more-tab.has-error:hover  {
    background-color:  @navbar-default-bg;
    font-weight: normal;
} 

.locals-tabs .active .locals-tabs__more-tab:not(.has-error),
.locals-tabs .locals-tabs__more-tab:not(.has-error){
    color: @grayish;
}

.locals-tabs .locals-tabs__more-tabs .active .locals-tabs__more-tab:not(.has-error){
    color: @default-blue;
}