<aside class="tn-side-nav">
    <nav>
        <ul>
            <li *ngFor="let category of componentList">
                <span class="tn-side-nav-header">{{ category.label }}</span>
                <ul>
                    <li *ngFor="let component of category.components" class="tn-side-nav-option">
                        <a [routerLink]="category.id + '/' + component.id" routerLinkActive="tn-side-nav-option-selected">{{ component.label }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>