{#
    see ./data.json for object structure
#}
{%- macro button(properties={}, modifier={}, state={}, aria={}) -%}
<button class="tn-button{{ modifier.block | modifier('button') }}{{ state | state }}"{{ aria | aria }}>
    {%- if properties.icon %}
    <span class="tn-button__icon{{ modifier.icon | modifier('button__icon') }} tn-icon tn-icon--{{ properties.icon }}" role="presentation">✕</span>
    {%- endif %}
    {%- if properties.label %}
    {{properties.label}}
    {%- endif %}
</button>
{%- endmacro %}
