{% extends "layout.njk" %}
{% from "./component.njk" import button %}
{% from "./../format.njk" import format %}
{% set css_deps = ['helpers'] %}

{% block content %}
<style media="screen">
    textarea {display: none;}
</style>
<h1>Button</h1>
{% set example %}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: ''
        },
        modifier={
            block: ['small']
        })
}}

{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: ''
        },
        modifier={
        })
}}

{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: ''
        },
        modifier={
            block: ['large']
        })
}}
{% endset %}
{{ format(example) }}

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        aria={ selected: true }
    )
}}

{{  button(
        { label: 'BUTTON_LABEL' },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        aria={ disabled: true }
    )
}}
{% endset %}
{{ format(example) }}

<br><hr><br>


<h1>Text Button</h1>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text'] })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','large'] })
}}
{% endset %}
{{ format(example) }}

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        aria={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        state={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        aria={ disabled: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        state={ disabled: true })
}}
{% endset %}
{{ format(example) }}

<br><hr><br>


<h1>Button w/ Icon</h1>
{% set example %}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo',
            after: false
        },
        modifier={
            block: ['small']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo'
        },
        modifier={
            block: []
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo'
        },
        modifier={
            block: ['large']
        })
}}
<br><br>
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo',
            after: false
        },
        modifier={
            block: ['text','small']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo'
        },
        modifier={
            block: ['text']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'foo'
        },
        modifier={
            block: ['text','large']
        })
}}
{% endset %}
{{ format(example) }}

<br>

<h1>Button w/ Icon Only</h1>
{% set example %}
{{  button(
        { icon: 'foo' },
        modifier={ block: ['small','icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'foo' },
        modifier={ block: ['icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'foo' },
        modifier={ block: ['large','icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
<br><br>
{{  button(
        { icon: 'foo' },
        modifier={ block: ['text','small','icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'foo' },
        modifier={ block: ['text','icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'foo' },
        modifier={ block: ['text','large','icon-only'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{% endset %}
{{ format(example) }}







{% endblock %}
