/* demo.css used for example site skeleton. It should not be included in your project */

.top-nav{					
	background: #27394f; 
	color:#fff; 
	text-align: center; 
	height: 50px; 
}

.top-nav h1{
	margin:15px 0 0 10px;
	text-transform: uppercase;
	font-size: 20px;
}

.brand .brand-logo {
    padding: 10px;
    height: 50px;
}

.sub-nav{					
	background: #0486e0; 
	margin-top: 50px; 
	height: 50px;
	text-align: left;
}

.sub-nav a{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	padding:15px 20px;
}

.offcanvas-row{			
	padding-left: 0; 
	padding-right: 0;
}

.side-bar{					
	background:#233243; 
	width: 266px; 
	color:#fff; 
	vertical-align: middle; 
	text-align: center; 
	text-transform: uppercase; 
	position: fixed; 
	left: 0; 
	height: 100%;
}

.content{					
	margin-left: 266px;
}

.page-header{				
	margin-top: 100px; 
	margin-left: 266px; 
	height: 70px;
}

.page-content{				
	padding-top: 90px;
}

.demo-label{ 
	padding:10px 20px;
}

.nav-tabs.nav-tabs--center{
	margin-top: 30px;
}

.card-col{
	margin-top: 50px;
}

.y-thumbnail img{
	width:200px;
}

.userAvatar img{
	width:45px;
}


/* techne resets */
.help-inline--on .hyicon-helpoff:before{
	margin-top: 5px;
}

@media screen and (max-width: 778px) {

	.side-bar{ 			
		left: -266px;
	}

	.content {			
		margin-left: 0;
	}

	.page-header{ 		
		margin-left: 0;
	}

	.btn-back{			
		padding:10px 0px!important; 
		margin-right: 5px!important;
	}

}

