.tn-icon {
    font-size: 16px;
}

.tn-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("techne-icons.svg");
    background-repeat: no-repeat;
    background-size: 1em 54em;
}


  .tn-icon.tn-icon-add:before {
      background-position: 0em 0em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-addlg:before {
      background-position: 0em -1em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-arrow:before {
      background-position: 0em -2em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-back:before {
      background-position: 0em -3em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-caution:before {
      background-position: 0em -4em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-change:before {
      background-position: 0em -5em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-checked:before {
      background-position: 0em -6em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-checkedlg:before {
      background-position: 0em -7em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-chevron:before {
      background-position: 0em -8em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-clone:before {
      background-position: 0em -9em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-close:before {
      background-position: 0em -10em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-collapse:before {
      background-position: 0em -11em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-combinedview:before {
      background-position: 0em -12em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-customize:before {
      background-position: 0em -13em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-delete:before {
      background-position: 0em -14em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-done:before {
      background-position: 0em -15em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-dragdrop:before {
      background-position: 0em -16em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-dragdroplg:before {
      background-position: 0em -17em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-duplicate:before {
      background-position: 0em -18em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-edit:before {
      background-position: 0em -19em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-expand:before {
      background-position: 0em -20em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-feedback:before {
      background-position: 0em -21em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-filter:before {
      background-position: 0em -22em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-filterremove:before {
      background-position: 0em -23em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-gethelp:before {
      background-position: 0em -24em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-grid:before {
      background-position: 0em -25em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-helpoff:before {
      background-position: 0em -26em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-helpon:before {
      background-position: 0em -27em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-info:before {
      background-position: 0em -28em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-infoon:before {
      background-position: 0em -29em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-library:before {
      background-position: 0em -30em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-linked:before {
      background-position: 0em -31em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-list:before {
      background-position: 0em -32em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-localization:before {
      background-position: 0em -33em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-lock:before {
      background-position: 0em -34em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-maximize:before {
      background-position: 0em -35em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-minimize:before {
      background-position: 0em -36em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-more:before {
      background-position: 0em -37em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-msgdanger:before {
      background-position: 0em -38em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-msginfo:before {
      background-position: 0em -39em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-msgsuccess:before {
      background-position: 0em -40em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-msgwarning:before {
      background-position: 0em -41em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-noimage:before {
      background-position: 0em -42em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-options:before {
      background-position: 0em -43em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-remove:before {
      background-position: 0em -44em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-removelg:before {
      background-position: 0em -45em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-restrictions:before {
      background-position: 0em -46em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-search:before {
      background-position: 0em -47em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-sort:before {
      background-position: 0em -48em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-sync:before {
      background-position: 0em -49em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-top:before {
      background-position: 0em -50em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-visibilityoff:before {
      background-position: 0em -51em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-visibilityon:before {
      background-position: 0em -52em;
      width: 1em;
      height: 1em;
  }

  .tn-icon.tn-icon-warning:before {
      background-position: 0em -53em;
      width: 1em;
      height: 1em;
  }

