@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

@font-face {
    font-family: "TechneIcons";
    src: url("TechneIcons.woff2") format("woff2"),
        url("TechneIcons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

//icon map
$tn-icons: (

    add: "\ea01",

    addlg: "\ea02",

    arrow: "\ea03",

    back: "\ea04",

    backarrow: "\ea05",

    caution: "\ea06",

    change: "\ea07",

    checked: "\ea08",

    checkedlg: "\ea09",

    chevron: "\ea0a",

    clone: "\ea0b",

    close: "\ea0c",

    collapse: "\ea0d",

    combinedview: "\ea0e",

    customize: "\ea0f",

    delete: "\ea10",

    done: "\ea11",

    dragdrop: "\ea12",

    dragdroplg: "\ea13",

    duplicate: "\ea14",

    edit: "\ea15",

    expand: "\ea16",

    feedback: "\ea17",

    filter: "\ea18",

    filterremove: "\ea19",

    gethelp: "\ea1a",

    grid: "\ea1b",

    helpoff: "\ea1c",

    helpon: "\ea1d",

    info: "\ea1e",

    infoon: "\ea1f",

    library: "\ea20",

    linked: "\ea21",

    list: "\ea22",

    localization: "\ea23",

    lock: "\ea24",

    maximize: "\ea25",

    minimize: "\ea26",

    more: "\ea27",

    msgdanger: "\ea28",

    msginfo: "\ea29",

    msgsuccess: "\ea2a",

    msgwarning: "\ea2b",

    noimage: "\ea2c",

    options: "\ea2d",

    remove: "\ea2e",

    removelg: "\ea2f",

    restrictions: "\ea30",

    search: "\ea31",

    sort: "\ea32",

    sync: "\ea33",

    top: "\ea34",

    visibilityoff: "\ea35",

    visibilityon: "\ea36",

    warning: "\ea37",

) !default;

$block: ns(icon);


//TODO: finish mixin
// @mixin icon($key, $size) {
//     @if map-has-key($tn-icons, $size) {
//         &::before {
//             content: map-get($tn-icons, $key);
//             @content;
//         }
//     } @else {
//         @warn "Unknown `#{$key}` in $tn-icons map";
//     }
// }

// [class*="#{$block}"] {
//
// }

.#{$block} {
    $tn-icon-size: 1.125rem !default;         //18px
    $tn-icon-size--medium: 1.625rem !default; //26px
    $tn-icon-size--large: 2rem !default;      //32px
    font-size: $tn-icon-size;
    font-family: "TechneIcons";
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &--medium {
        font-size: $tn-icon-size--medium;
    }
    &--large {
        font-size: $tn-icon-size--large;
    }
    &::before {
        display: inline;
        text-align: center;
    }

    @each $key, $value in $tn-icons {
        &--#{$key} {
            &::before {
                content: $value;
            }
        }
    }
}