// componentes page 
body.hyComponentsPage{
    background: #e0e9f0;
}

#demo-page-background {
        background-color: #e0e9f0;
        padding: 40px;

        .panel-body {
            background-color: #fff;
        }
    }

.kss-patterns-page .modal-dialog{
	width: 90%;
}

#viewFullscreen .modal-dialog{
  overflow: hidden;
  background-color: #e0e9f0;

  .modal-content{
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}

.error-message-table td:nth-child(2),
.error-message-table td:nth-child(3) {
    word-break: break-all;
}
.error-message-table .narrow-col {
    min-width: 130px;
}
.error-message-table .wide-col {
    min-width: 260px;
}

.kss-page{

    a:visited {
        color: #0486e0;
    }
}

.kss-guidelines-page .kss-page,  .kss-patterns-page .kss-page{
    
    h2, h3{
        margin-top: -55px;
        padding-top: 100px;
    }

}
