// Common styles

@import '_variables';

body.kss-body {
    background: @white;
    overflow: visible;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    max-width: 100%;
    padding-top: 100px;
    padding-right:0!important;
}

#kss-wrapper {
    height: auto;
}

.active.demo-container {
    background-color: @screen-bg_gd;
    padding: 15px;
}

#kss-header h1 {
    font-size: 1.5em;
    margin-top: 5/3em;
    margin-left: 4/3em;
}

h1.kss-title {
    color: @blue-heading;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}

#kss-main {
    padding-left: 15px;
    padding-bottom: 40px;

    &.col-md-12{
        max-width: 1000px;
    }

}

.kss-mod-list {
    width: 100%;
}

.kss-mod-desc {
    display: inline-block;
    width: 69%;
    padding: 10px 0;
}

.kss-mod-head {
    border-top: 1px solid @grey-border;
    padding: 20px 0 20px;
    margin-top: 20px;
}

.kss-mod-name {
    width: 30%;
    display: inline-block;
    text-align: right;
    padding: 10px;
    margin: 0;
    vertical-align: top;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: @typography_gd;
    background-color: @kss-grey;
    border: 1px solid @kss-grey-border;
    border-radius: 3px;
    font-family: Courier, "Courier New", monospaced;
  
    p {
        display: block;
    }
}

.kss-mod-example {
    display: block;
    padding-bottom: 20px;
    & > td {
        display: block;
    }
}

.kss-markup {
    margin: 20px 0 40px;
}

.kss-depth-1 > h1 {
    font-size: 2.5em * .950;
}

.kss-depth-2 > h1 {
    font-size: 2.5em * .900;
}

.kss-depth-3 > h1 {
    font-size: 2.5em * .850;
}

.kss-depth-4 > h1 {
    font-size: 2.5em * .800;
}

.kss-depth-5 > h1 {
    font-size: 2.5em * .750;
}

.kss-depth-6 > h1 {
    font-size: 2.5em * .700;
}

// Styleguide specifc overwrites
.kss-modifier-example {
    padding-bottom: 20px;
    padding-top: 20px;

    .popover {
        position: relative!important;
        z-index: 1!important;
        display: block!important;
    }
    > [class^="hyicon-"],
    > [class*=" hyicon-"] {
        font-size: 35px;
    }
    > .nav-pill {
        float: none!important;
    }
}

.kss-lead{
    font-weight: bold;
}

// shared styles across pages 
#patterns-list-pages,
#patterns-card-pages,
#patterns-retail-product-pages,
#patterns-trees,
#patterns-mixed-pattern-pages,
#patterns-overall-pattern-reference,
#kss-content {
    .sectionSpacing {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .table-behavoir-cell .seperator {
        margin: 0 50px 0 0;
    }

    /* patterns */
    .row.visual-code {
        margin: 0;
    }

    h3.popover-title {
        margin-bottom: 0;
    }

    .usercard-info p {
        margin-bottom: 0;
    }

    .list-group-item.deleteable .list-group-item-delete {
        top: 18%;
    }

    .row {
        margin-right: -8px;
        margin-left: -8px;
    }

    .modal-dialog,.popover {
        z-index: 0;
    }

    .circle {
        border: 1px solid #cfd8e3;
        box-shadow: 0px 1px 1px #fff;
        margin: 0 auto 20px auto;
        width: 100%;
        height: 0;
        padding: 50% 0;
        border-radius: 50%;
        
    }

    .circle-type {
        font-size: 74px;
        display: inline-block;
        margin-top: -35%;
    }

    .seperator {
        margin: 40px 0 80px 0;
        position: relative;

        .hexagon {
            top: 31px;
            left: 0;
            position: relative;
            width: 36px;
            height: 20.78px;
            background-color: #d8dfe8;
            margin: auto;
            display: block;
            z-index: 2;

            .glyphicon {
                font-size: 20px;
                position: absolute;
                top: 10px;
                left: 10px;
                color: #7e858d;
            }

            .code-open {
                font-size: 12px;
                position: absolute;
                top: 1px;
                left: 6px;
                font-weight: 900;
                color: #7e858d;
                
            }

            .code-close {
                font-size: 20px;
                position: absolute;
                top: -2.5px;
                left: 8px;
                font-weight: 500;
                color: #fff;
                display: none;
            }
        }
        .hexagon:before, .hexagon:after {
            content: "";
            position: absolute;
            width: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
        }

        .hexagon:before {
            bottom: 100%;
            border-bottom: 10.39px solid #d8dfe8;
        }

        .hexagon:after {
            top: 100%;
            width: 0;
            border-top: 10.39px solid #d8dfe8;
        }
        
        .open-hexagon:before {
            bottom: 100%;
            border-bottom: 10.39px solid #7e858d;
        }

        .open-hexagon:after {
            top: 100%;
            width: 0;
            border-top: 10.39px solid #7e858d;
        }

        .circle {
            top: 38px;
            left: 0;
            position: relative;
            width: 35px;
            height: 35px;
            background-color: #d8dfe8;
            margin: auto;
            display: block;
            z-index: 2;
            padding:0;
            border: none;
            box-shadow: none;
            span{
                margin-top: 5px;
            }

            .glyphicon {
                font-size: 20px;
                position: absolute;
                top: 10px;
                left: 10px;
                color: #7e858d;
            }

            .code-open {
                font-size: 12px;
                position: absolute;
                top: 4px;
                left: 6px;
                font-weight: 900;
                color: #7e858d;
                
            }

            .code-close {
                font-size: 20px;
                position: absolute;
                top: -2.5px;
                left: 8px;
                font-weight: 500;
                color: #fff;
                display: none;
            }

        }

        .open-circle {
            background: #7e858d;
        }


        .code-snippet {
            display: none;
            background: #cfd8e3;
            position: relative;
            z-index: 1;
            margin-top: 0px;
            border-radius: 0;
            padding-top: 30px;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 0;
        }

        .caption {
            text-align: center;
            margin-top: 45px;
            display: block;
            font-weight: 200;
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            top: 35px;
        }

    }
}