@import '_variables'; 

// Patterns page styles

.kss-guidelines-page {
    margin-bottom:50px;
    max-width: 1000px;
    padding: 0 20px;

    .imageCenter {
        position: relative;
        margin: -40px auto 0 auto; 
        text-align: center;
    }

    a img, 
    a span {
        vertical-align: middle;
    }

    #hyGuidelinesContianer {
        padding-bottom: 20px;
    }

    .carousel-inner{
        img {
            margin: 0 auto;
        }
    }

    .visualSystemSpacing {
        padding-top: 40px;
    }
}

.visual-system {

    /* font-size */
    .size-26 {
        font-size: 26px;
    }

    .size-20 {
        font-size: 20px;
    }
    
    /* 5 column layout */
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media (min-width: 76npx) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }    

    .content-bg {
        background: @content-bg_gd;
    }

    .content-bg-2 {
        background: @screen-bg-2_gd;
    }

    .typography {
        background: @typography_gd;
    }

    .typographySecondValue {
        background: @typographySecondValue_gd;
    }

    .blue {
        background: @blue_gd;
    }
    
    /* alert colors */
    .help-info {
        background: @help-info_gd;
    }

    .attention {
        background: @attention_gd;
    }

    .success {
        background: @success_gd;
    }

    .warning {
        background: @warning_gd;
    }

    .try-again {
        background: @try-again_gd;
    }

    .alertSpacing {
        padding-left: 23px;
    }

    /* typography */
    .dosis-light {
        font-weight: 300;
        font-family: 'Dosis';
    }

    .dosis-book {
        font-weight: 400;
        font-family: 'Dosis';
    }

    .dosis-medium {
        font-weight: 500;
        font-family: 'Dosis';
    }

    .dosis-semibold {
        font-weight: 600;
        font-family: 'Dosis';
    }

    .carousel-indicators {
        position: absolute;
        background: @white;

        li {
            background: @light-grey;
            text-indent: 0;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            padding-top: 7px;
            text-align: center;
            border: none;
            box-shadow: 0px 2px 2px @white;
            margin: 0 10px;
        }

        .active {
            background-color: @blue_gd;
            color: @white;
            height: 10px;
            width: 10px;
        }
    }

    .carousel-caption {
        position: absolute;
        left: auto;
        right: auto;
        padding-top: 95px;
        color: @typography_gd;
        text-shadow: none;
       
        @media only screen and (max-width: 1012px) and (min-width: 992px) {
            padding-top: 120px;
        }
       
        @media only screen and (max-width: 910px) and (min-width: 769px) {
        
            padding-top: 120px;
        }
       
        @media only screen and (max-width: 445px) {
            padding-top: 120px;
        }
    }

    .header-example-carousel {
       
        .carousel-inner {
            margin-bottom:20px;
            padding-bottom: 70px;
            
            ol, ul {
                margin-bottom: -10px;
            
                @media (max-width: 767px) {
                    margin-bottom: 0px;
                }
            }
        }

        .carousel-indicators {
            width: 100%;
            margin-left: -50%;
            
            li {
                line-height: 60%;
                position: relative;
                width: 40px;
                height: 40px;
                background-color: @light-grey;
                border-radius: 50%;
              
                span{   
                    display: inline-block;
                    margin-top: 8px;
                }

            }

            li.active {
                color: @white;
                background-color: @blue_gd;
            }

        }
    }

    .carouselSpacing {
       padding-bottom: 70px;
    }

    .typographyAlignment {
        padding-left: 15px;
    }

    .exampleSpacing {

         @media only screen and (max-width: 1376px) {

            p {
                font-size: 25px;
            }
        }

        @media only screen and (max-width: 1337px) and (min-width: 1330px) {

            p {
                font-size: 24px;
            }
        }

        @media only screen and (max-width: 1329px) and (min-width: 1264px) {

            p {
                font-size: 23px;
            }
        }

        @media only screen and (max-width: 1263px) and (min-width: 1225px) {

            p {
                font-size: 22px;
            }
        }

        @media only screen and (max-width: 1224px) and (min-width: 1187px) {

            p {
                font-size: 21px;
            }
        }

        @media only screen and (max-width: 1186px) and (min-width: 992px) {

            p {
                font-size: 20px;
            }
        }
    }

}