@import '_variables'; 

// Patterns page styles

#patterns-localization .btn-link.collapsed .glyphicon-chevron-right:before {
    content: "";
}
#patterns-localization .btn-link .glyphicon-chevron-right:before {
    content: "";
}
#patterns-trees .btn-link .glyphicon-plus:before {
    content: "−";
}
#patterns-trees .btn-link.collapsed .glyphicon-plus:before {
    content: "+";
}
