@import '_variables';

.kss-sidebar-shadow{
    background: fade(@kss-shadow, 80%);
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    cursor: pointer;

    .toggled{
        display: block;
    }

    @media(min-width:769px) {
        display: none!important;
    }
}

.kss-ref{
  display: none;
}

#kss-nav {
    background-color: @dark-blue;
    font-family: "Dosis", sans-serif !important;

    nav ul {
        margin: 0;
        padding: 50px 0 0 0;
        list-style-type: none;
    }

    a {
        color: @side-nav-link;
        display: block;
        padding: 10px 15px 10px 31px;
        text-decoration: none;
        font-size: 15px;
       
        &:hover {
            color: @blue_gd;
            background-color: transparent;
        }
    }

    .active a {
        border-left-color: @blue_gd;
        color: @blue_gd;
        text-decoration: none;
        background: url("/images/kss-active.svg") 100% 50% no-repeat;
        background-size: 10px 20px;
    }

    .kss-back{
        border-bottom: 1px solid @dark-blue;
        position: relative;

        @media(min-width:769px) {
            display: none;
        }

        &:before{
            content: '';
            width: 0;
            position: absolute;
            left: 16px;
            top: 50%;
            margin-top: -4px;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 5px 0;
            border-color: transparent @blue_gd transparent transparent;
        }
    }
}

.kss-navbar.navbar {
    border: 0 none;
    box-shadow: none;
    padding-bottom: 41px;
    background:none;
}

#kss-wrapper {
    padding-left: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

body.has-left-nav.kss-sidebar-nav-mobile-only #kss-wrapper{
    padding-left: 0;

    @media(min-width:769px) {
        padding-left: 0px!important;
    }
}

body.has-left-nav.toggled #kss-wrapper{
    //padding-left: 265px;
}


body.has-left-nav #kss-nav {
    position: fixed;
    z-index: 901;
    width: 250px;
    left:0;
    top: 0;
    height: 100%;
    padding: 100px 0 0 0;
    overflow-y: auto;
    transition: all 0.4s ease-out;
}

body.has-left-nav.navbar-super-up #kss-nav {
    padding-top: 50px;
}

body.has-left-nav.toggled #kss-wrapper #kss-nav {
    left:0!important;
    background: @dark-blue none repeat scroll 0 0;
    position: absolute;

}

#kss-main {
    padding: 15px;
}

/* Sidebar Styles */
body.has-left-nav .sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:769px) {
    body.has-left-nav #kss-wrapper {
        padding-left: 265px;
    }
    .main-content {
        position: relative;
    }

    .kss-body .footer{
        height: 40px;
        position: relative;
        display: block !important;
        z-index: 902; //+1 over left nav (see around line 110)
        &--starterpages {
            bottom: 0;
            position: absolute;
        }
    }

    body.has-left-nav #kss-nav {
        padding-top: 100px;
    }

    body.has-left-nav.kss-sidebar-nav-mobile-only #kss-wrapper {
        background: none;
    }

    body.has-left-nav.navbar-super-up #kss-nav {
        padding-top: 60px !important;
    }

    #kss-main {
        position: relative;
    }

    .toggled #kss-wrapper #kss-main {
        position: relative;
        margin-right: 0;
    }

}