## BOWER COMPONENTS
bower_components/

## NODE MODULES
node_modules/*
!node_modules/gulp-kss/index.js
!node_modules/gulp-kss/handlebarsHelpers.js

## IDE Specfici folders
.idea/

## Local config file
config.json
