// Remove wrapper padding when navbar is gone

.no-navbar{
	padding-top: 0px;

  > .wrapper{
    padding-top: 0px;
  }
}

// Breakpoint Specific Text aligment

.tl-xs {
  @media (max-width: @screen-xs-max) {
    text-align: left;
  }
}
.tl-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    text-align: left;
  }
}
.tl-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    text-align: left;
  }
}
.tl-lg {
  @media (min-width: @screen-lg-min) {
    text-align: left;
  }
}

.tr-xs {
  @media (max-width: @screen-xs-max) {
    text-align: right;
  }
}
.tr-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    text-align: right;
  }
}
.tr-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    text-align: right;
  }
}
.tr-lg {
  @media (min-width: @screen-lg-min) {
    text-align: right;
  }
}

// Breakpoint Specific Pull

.pl-xs {
  @media (max-width: @screen-xs-max) {
    float: left!important;
  }
}
.pl-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    float: left!important;
  }
}
.pl-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    float: left!important;
  }
}
.pl-lg {
  @media (min-width: @screen-lg-min) {
    float: left!important;
  }
}

.pr-xs {
  @media (max-width: @screen-xs-max) {
    float: right!important;
  }
}
.pr-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    float: right!important;
  }
}
.pr-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    float: right!important;
  }
}
.pr-lg {
  @media (min-width: @screen-lg-min) {
    float: right!important;
  }
}

// Center Small text in navbar
.navbar-text-center{
  float:none;
  display: inline-block;
}

.spacer-margin-20{
  margin:20px;
}

.spacer-padding-20{
  padding: 20px;
}

.spacer-padding-10{
  padding:10px;
}

// Inlines
.display-inline-block {
  display: inline-block;
}