{% import "./../utils.njk" as utils %}
<!--
toggle:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro toggle(properties={}, modifier={}, state={}, aria={}) -%}
{% set _id = utils.id() -%}
<span class="tn-toggle{{ modifier.block | modifier('toggle') }}"{{ aria | aria }}>
    <input type="checkbox" name="" value="" id="{{ _id }}"{{ ' disabled' if state.disabled }}{{ ' checked' if state.checked }}>
    <span class="tn-toggle__switch" role="presentation"></span>
</span>
{%- endmacro %}
