<!--
CARD:
    CONTENT ___
    title="", (string)
    description="", (string)
    status="", (string | optional)
    media="", (url | optional)
    mediaAlt="", (string | optional)

    TYPE ___
    modifier="", (string | optional)

    STATES ___
    mediaFill=false (boolean | optional)
-->
{% macro card(
    title="",
    description="",
    status="",
    modifier="",
    button="true",
    media="",
    mediaAlt="",
    mediaFill=false,
    disabled=false) %}
    <div class="tn-card{{ '--' + modifier if modifier }}"{{ ' aria-disabled="true"' if disabled }}{{ ' role="button"' if button }}>{% if media %}
        <div class="tn-card__media{{ '--fill' if mediaFill }}" style="background-image: url({{ media }})" aria-label="{{ mediaAlt }}">
        </div>{% endif %}
        <div class="tn-card__content">
            <h2 class="tn-card__header">
                {{ title }}
            </h2>
            <p class="tn-card__description">
                {{ description }}
            </p>
            <p class="tn-card__status">
                {{ status }}
            </p>
        </div>
    </div>
{% endmacro %}
