<!--
CARD:
    CONTENT ___
    title="", (string)
    description="", (string)
    label="", (string | optional)
    media="", (url | optional)
    mediaAlt="", (string | optional)

    TYPE ___
    modifier="", (string | optional)

    STATES ___
    mediaFill=false (boolean | optional)
-->
{% macro card(
    title="",
    description="",
    label="",
    modifier="",
    button="true",
    media="",
    mediaAlt="",
    mediaFill=false,
    disabled=false) %}
    <div class="tn-card{{ '--' + modifier if modifier }}"{{ ' aria-disabled="true"' if disabled }}{{ ' role="button"' if button }}>{% if media %}
        <div class="tn-card__media{{ '--fill' if mediaFill }}" style="background-image: url({{ media }})" aria-label="{{ mediaAlt }}">
        </div>{% endif %}
        <div class="tn-card__content">
            <h2 class="tn-card__header">
                {{ title }}
            </h2>
            <p class="tn-card__description">
                {{ description }}
            </p>
            <p class="tn-card__label">
                {{ label }}
            </p>
        </div>
    </div>
{% endmacro %}


<!--
TABLE:
    header="", (array | optional)
    row="", (array)
    modifier="" (string)
-->
{% macro table(
    header="",
    rows="",
    modifier="",
    _multiplier="1") %}
{% set stripe = cycler("--stripe", "") %}
<table class="tn-table{{ '--' + modifier if modifier and modifier != 'stripe' }}">
    {% if header %}<thead>
        <tr class="tn-table__row">{% for item in header %}
            <th class="tn-table__cell">{{ item }}<th>{% endfor %}
        </tr>
    </thead>{% endif %}
    <tbody>{% for i in range(0,_multiplier) %}{% for row in rows %}
        <tr class="tn-table__row{{ stripe.next() if modifier == 'stripe' }}">{% for item in row %}
            <td class="tn-table__cell">{{ item }}<td>{% endfor %}
        </tr>{% endfor %}{% endfor %}
    </tbody>
</table>
{% endmacro %}
