<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->

<span class="tn-icon hyicon-add"></span> <br>

<span class="tn-icon hyicon-addlg"></span> <br>

<span class="tn-icon hyicon-arrow"></span> <br>

<span class="tn-icon hyicon-back"></span> <br>

<span class="tn-icon hyicon-caution"></span> <br>

<span class="tn-icon hyicon-change"></span> <br>

<span class="tn-icon hyicon-checked"></span> <br>

<span class="tn-icon hyicon-checkedlg"></span> <br>

<span class="tn-icon hyicon-chevron"></span> <br>

<span class="tn-icon hyicon-clone"></span> <br>

<span class="tn-icon hyicon-close"></span> <br>

<span class="tn-icon hyicon-collapse"></span> <br>

<span class="tn-icon hyicon-combinedview"></span> <br>

<span class="tn-icon hyicon-customize"></span> <br>

<span class="tn-icon hyicon-delete"></span> <br>

<span class="tn-icon hyicon-done"></span> <br>

<span class="tn-icon hyicon-dragdrop"></span> <br>

<span class="tn-icon hyicon-dragdroplg"></span> <br>

<span class="tn-icon hyicon-duplicate"></span> <br>

<span class="tn-icon hyicon-edit"></span> <br>

<span class="tn-icon hyicon-expand"></span> <br>

<span class="tn-icon hyicon-feedback"></span> <br>

<span class="tn-icon hyicon-filter"></span> <br>

<span class="tn-icon hyicon-filterremove"></span> <br>

<span class="tn-icon hyicon-gethelp"></span> <br>

<span class="tn-icon hyicon-grid"></span> <br>

<span class="tn-icon hyicon-helpoff"></span> <br>

<span class="tn-icon hyicon-helpon"></span> <br>

<span class="tn-icon hyicon-info"></span> <br>

<span class="tn-icon hyicon-infoon"></span> <br>

<span class="tn-icon hyicon-library"></span> <br>

<span class="tn-icon hyicon-linked"></span> <br>

<span class="tn-icon hyicon-list"></span> <br>

<span class="tn-icon hyicon-localization"></span> <br>

<span class="tn-icon hyicon-lock"></span> <br>

<span class="tn-icon hyicon-maximize"></span> <br>

<span class="tn-icon hyicon-minimize"></span> <br>

<span class="tn-icon hyicon-more"></span> <br>

<span class="tn-icon hyicon-msgdanger"></span> <br>

<span class="tn-icon hyicon-msginfo"></span> <br>

<span class="tn-icon hyicon-msgsuccess"></span> <br>

<span class="tn-icon hyicon-msgwarning"></span> <br>

<span class="tn-icon hyicon-noimage"></span> <br>

<span class="tn-icon hyicon-options"></span> <br>

<span class="tn-icon hyicon-remove"></span> <br>

<span class="tn-icon hyicon-removelg"></span> <br>

<span class="tn-icon hyicon-restrictions"></span> <br>

<span class="tn-icon hyicon-search"></span> <br>

<span class="tn-icon hyicon-sort"></span> <br>

<span class="tn-icon hyicon-sync"></span> <br>

<span class="tn-icon hyicon-top"></span> <br>

<span class="tn-icon hyicon-visibilityoff"></span> <br>

<span class="tn-icon hyicon-visibilityon"></span> <br>

<span class="tn-icon hyicon-warning"></span> <br>


