<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->

<span class="tn-icon tn-icon-add"></span> <br>

<span class="tn-icon tn-icon-addlg"></span> <br>

<span class="tn-icon tn-icon-arrow"></span> <br>

<span class="tn-icon tn-icon-back"></span> <br>

<span class="tn-icon tn-icon-caution"></span> <br>

<span class="tn-icon tn-icon-change"></span> <br>

<span class="tn-icon tn-icon-checked"></span> <br>

<span class="tn-icon tn-icon-checkedlg"></span> <br>

<span class="tn-icon tn-icon-chevron"></span> <br>

<span class="tn-icon tn-icon-clone"></span> <br>

<span class="tn-icon tn-icon-close"></span> <br>

<span class="tn-icon tn-icon-collapse"></span> <br>

<span class="tn-icon tn-icon-combinedview"></span> <br>

<span class="tn-icon tn-icon-customize"></span> <br>

<span class="tn-icon tn-icon-delete"></span> <br>

<span class="tn-icon tn-icon-done"></span> <br>

<span class="tn-icon tn-icon-dragdrop"></span> <br>

<span class="tn-icon tn-icon-dragdroplg"></span> <br>

<span class="tn-icon tn-icon-duplicate"></span> <br>

<span class="tn-icon tn-icon-edit"></span> <br>

<span class="tn-icon tn-icon-expand"></span> <br>

<span class="tn-icon tn-icon-feedback"></span> <br>

<span class="tn-icon tn-icon-filter"></span> <br>

<span class="tn-icon tn-icon-filterremove"></span> <br>

<span class="tn-icon tn-icon-gethelp"></span> <br>

<span class="tn-icon tn-icon-grid"></span> <br>

<span class="tn-icon tn-icon-helpoff"></span> <br>

<span class="tn-icon tn-icon-helpon"></span> <br>

<span class="tn-icon tn-icon-info"></span> <br>

<span class="tn-icon tn-icon-infoon"></span> <br>

<span class="tn-icon tn-icon-library"></span> <br>

<span class="tn-icon tn-icon-linked"></span> <br>

<span class="tn-icon tn-icon-list"></span> <br>

<span class="tn-icon tn-icon-localization"></span> <br>

<span class="tn-icon tn-icon-lock"></span> <br>

<span class="tn-icon tn-icon-maximize"></span> <br>

<span class="tn-icon tn-icon-minimize"></span> <br>

<span class="tn-icon tn-icon-more"></span> <br>

<span class="tn-icon tn-icon-msgdanger"></span> <br>

<span class="tn-icon tn-icon-msginfo"></span> <br>

<span class="tn-icon tn-icon-msgsuccess"></span> <br>

<span class="tn-icon tn-icon-msgwarning"></span> <br>

<span class="tn-icon tn-icon-noimage"></span> <br>

<span class="tn-icon tn-icon-options"></span> <br>

<span class="tn-icon tn-icon-remove"></span> <br>

<span class="tn-icon tn-icon-removelg"></span> <br>

<span class="tn-icon tn-icon-restrictions"></span> <br>

<span class="tn-icon tn-icon-search"></span> <br>

<span class="tn-icon tn-icon-sort"></span> <br>

<span class="tn-icon tn-icon-sync"></span> <br>

<span class="tn-icon tn-icon-top"></span> <br>

<span class="tn-icon tn-icon-visibilityoff"></span> <br>

<span class="tn-icon tn-icon-visibilityon"></span> <br>

<span class="tn-icon tn-icon-warning"></span> <br>


