

/* http://jeremydorn.com/json-editor/?schema=N4IgLglmA2CmIC4QHUIBMDmswgDTgE8AHeJAewCMArWAYx3yICcySnJYBnRUAC1gCGaWEx6ESiEJzBMIAOwx4QAMzJMAtgJxIwsAB44AvvmGdasopDJyxYYqSkz5i/Ko1bJugyGMgImrFt7SWlZBSU3TW0QAFdZH3xoeQBrbgRQOwkkASYmAQIldXkASV11NIAGfE09UthyxABmVzUozwEKbnwoerTQABImWGVJAGIAemFleSgIa05xpLlkn0NfIYBHGIghtEQAbRB+IRElU3MISzmbAF0TYZmrOT6QJZX08QdKGnolZlYRBwXtAOrBoEEso4wi4VK0PDp9EZ8HFwR9Mg5Qs4InDonEIKs1oYgA=&value=N4IgFgpghgJhBOIBcIAiUBuBLGACVEGIANCHAM4DG8WADgC5YD2AdsiADJPwQC2udcgFd+MJgBtuuclnq4ovCPWK5KrchEr0lQ+PJh0sMylhYBzXBHGyVGvGMtYh5XkzzbetKaZMGYQljkhOXEoACNuCEs5MUkeXF4oMxYoeWsARyEoADoSECxEswh2MHp6WiQAekrsZKVtABZsgHcsAGssHJYmNSYOiGyWJUrhWSssADMISoKkiHJKgDYlgA5KgC0oSjaAfQBmbIArWjNKnmwZVkrQ7XJ6AH5KMIBeACYABgBGAFZPz9fFu8AOyfFYNT55awsNrkZAAbVAoTCVnYHFMbQgMAAkmxSLpxCUyhVqlCMQYWNk1LwQABfAC6NKAAAA=&theme=bootstrap2&iconlib=fontawesome4&object_layout=normal&show_errors=interaction */


Product thumbnail


<div class="product-thumbnail">
    <div class="product-image">
        <div class="img-wrapper">
        <span class="img-spacer"></span>
        <img src="../images/product-thumbnail.png" class="img img-responsive full-width">
        </div>
    </div>
    <div class="product-details">
        <div class="product-name">
            <a>Product Name</a>
        </div>
        <div class="product-code">
            000123456789000
        </div>
        <div class="product-price">
            <s>47.48</s>
            <span class="text-danger">42.48</span>
            <span>USD</span>
        </div>
        <div class="label label-success">Published</div>
    </div>
</div>