<!--
TABLE:
    header="", (array | optional)
    row="", (array)
    modifier="" (string)
-->
{% macro table(
    header="",
    rows="",
    modifier="",
    _multiplier="1") %}
{% set stripe = cycler("--stripe", "") %}
<table class="tn-table{{ '--' + modifier if modifier and modifier != 'stripe' }}">
    {% if header %}<thead>
        <tr class="tn-table__row">{% for item in header %}
            <th class="tn-table__cell">{{ item }}<th>{% endfor %}
        </tr>
    </thead>{% endif %}
    <tbody>{% for i in range(0,_multiplier) %}{% for row in rows %}
        <tr class="tn-table__row{{ stripe.next() if modifier == 'stripe' }}">{% for item in row %}
            <td class="tn-table__cell">{{ item }}<td>{% endfor %}
        </tr>{% endfor %}{% endfor %}
    </tbody>
</table>
{% endmacro %}
