{% extends "layout.njk" %}

{% block content %}
<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->
<style>
	.demo-icon-wrapper{
		padding: 20px;
	}
	.demo-icon-wrapper span{
		float: left;
		margin-right: 20px;
		display: inline-block;
	}
</style>

<div class="demo-icon-wrapper">


    	<span class="hyicon hyicon-add"></span>




    	<span class="hyicon hyicon-addlg"></span>




    	<span class="hyicon hyicon-arrow"></span>




    	<span class="hyicon hyicon-back"></span>




    	<span class="hyicon hyicon-caution"></span>




    	<span class="hyicon hyicon-change"></span>




    	<span class="hyicon hyicon-checked"></span>




    	<span class="hyicon hyicon-checkedlg"></span>




    	<span class="hyicon hyicon-chevron"></span>




    	<span class="hyicon hyicon-clone"></span>




    	<span class="hyicon hyicon-close"></span>




    	<span class="hyicon hyicon-collapse"></span>




    	<span class="hyicon hyicon-combinedview"></span>




    	<span class="hyicon hyicon-customize"></span>




    	<span class="hyicon hyicon-delete"></span>




    	<span class="hyicon hyicon-done"></span>




    	<span class="hyicon hyicon-dragdrop"></span>




    	<span class="hyicon hyicon-dragdroplg"></span>




    	<span class="hyicon hyicon-duplicate"></span>




    	<span class="hyicon hyicon-edit"></span>




    	<span class="hyicon hyicon-expand"></span>




    	<span class="hyicon hyicon-feedback"></span>




    	<span class="hyicon hyicon-filter"></span>




    	<span class="hyicon hyicon-filterremove"></span>




    	<span class="hyicon hyicon-gethelp"></span>




    	<span class="hyicon hyicon-grid"></span>




    	<span class="hyicon hyicon-helpoff"></span>




    	<span class="hyicon hyicon-helpon"></span>




    	<span class="hyicon hyicon-info"></span>




    	<span class="hyicon hyicon-infoon"></span>




    	<span class="hyicon hyicon-library"></span>




    	<span class="hyicon hyicon-linked"></span>




    	<span class="hyicon hyicon-list"></span>




    	<span class="hyicon hyicon-localization"></span>




    	<span class="hyicon hyicon-lock"></span>




    	<span class="hyicon hyicon-maximize"></span>




    	<span class="hyicon hyicon-minimize"></span>




    	<span class="hyicon hyicon-more"></span>




    	<span class="hyicon hyicon-msgdanger"></span>




    	<span class="hyicon hyicon-msginfo"></span>




    	<span class="hyicon hyicon-msgsuccess"></span>




    	<span class="hyicon hyicon-msgwarning"></span>




    	<span class="hyicon hyicon-noimage"></span>




    	<span class="hyicon hyicon-options"></span>




    	<span class="hyicon hyicon-remove"></span>




    	<span class="hyicon hyicon-removelg"></span>




    	<span class="hyicon hyicon-restrictions"></span>




    	<span class="hyicon hyicon-search"></span>




    	<span class="hyicon hyicon-sort"></span>




    	<span class="hyicon hyicon-sync"></span>




    	<span class="hyicon hyicon-top"></span>




    	<span class="hyicon hyicon-visibilityoff"></span>




    	<span class="hyicon hyicon-visibilityon"></span>




    	<span class="hyicon hyicon-warning"></span>





</div>


{% endblock %}
