{% extends "layout.njk" %}

{% block content %}
<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->
<style>
	.demo-icon-wrapper{
		padding: 20px;
		float: left;
		width: 25%;
		text-align: center;
	}
	.demo-icon-wrapper span{
		padding: 20px;
		display: inline-block;
	}
	.demo-icon-wrapper .icon-medium{
		font-size: 26px;
	}
	.demo-icon-wrapper .icon-large{
		font-size: 32px;
	}
</style>


<div class="demo-icon-wrapper">
	<h2>.tn-icon-add</h2>
	<span class="tn-icon tn-icon-add"></span>
	<span class="tn-icon tn-icon-add icon-medium"></span>
	<span class="tn-icon tn-icon-add icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-addlg</h2>
	<span class="tn-icon tn-icon-addlg"></span>
	<span class="tn-icon tn-icon-addlg icon-medium"></span>
	<span class="tn-icon tn-icon-addlg icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-arrow</h2>
	<span class="tn-icon tn-icon-arrow"></span>
	<span class="tn-icon tn-icon-arrow icon-medium"></span>
	<span class="tn-icon tn-icon-arrow icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-back</h2>
	<span class="tn-icon tn-icon-back"></span>
	<span class="tn-icon tn-icon-back icon-medium"></span>
	<span class="tn-icon tn-icon-back icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-caution</h2>
	<span class="tn-icon tn-icon-caution"></span>
	<span class="tn-icon tn-icon-caution icon-medium"></span>
	<span class="tn-icon tn-icon-caution icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-change</h2>
	<span class="tn-icon tn-icon-change"></span>
	<span class="tn-icon tn-icon-change icon-medium"></span>
	<span class="tn-icon tn-icon-change icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-checked</h2>
	<span class="tn-icon tn-icon-checked"></span>
	<span class="tn-icon tn-icon-checked icon-medium"></span>
	<span class="tn-icon tn-icon-checked icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-checkedlg</h2>
	<span class="tn-icon tn-icon-checkedlg"></span>
	<span class="tn-icon tn-icon-checkedlg icon-medium"></span>
	<span class="tn-icon tn-icon-checkedlg icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-chevron</h2>
	<span class="tn-icon tn-icon-chevron"></span>
	<span class="tn-icon tn-icon-chevron icon-medium"></span>
	<span class="tn-icon tn-icon-chevron icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-clone</h2>
	<span class="tn-icon tn-icon-clone"></span>
	<span class="tn-icon tn-icon-clone icon-medium"></span>
	<span class="tn-icon tn-icon-clone icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-close</h2>
	<span class="tn-icon tn-icon-close"></span>
	<span class="tn-icon tn-icon-close icon-medium"></span>
	<span class="tn-icon tn-icon-close icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-collapse</h2>
	<span class="tn-icon tn-icon-collapse"></span>
	<span class="tn-icon tn-icon-collapse icon-medium"></span>
	<span class="tn-icon tn-icon-collapse icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-combinedview</h2>
	<span class="tn-icon tn-icon-combinedview"></span>
	<span class="tn-icon tn-icon-combinedview icon-medium"></span>
	<span class="tn-icon tn-icon-combinedview icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-customize</h2>
	<span class="tn-icon tn-icon-customize"></span>
	<span class="tn-icon tn-icon-customize icon-medium"></span>
	<span class="tn-icon tn-icon-customize icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-delete</h2>
	<span class="tn-icon tn-icon-delete"></span>
	<span class="tn-icon tn-icon-delete icon-medium"></span>
	<span class="tn-icon tn-icon-delete icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-done</h2>
	<span class="tn-icon tn-icon-done"></span>
	<span class="tn-icon tn-icon-done icon-medium"></span>
	<span class="tn-icon tn-icon-done icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-dragdrop</h2>
	<span class="tn-icon tn-icon-dragdrop"></span>
	<span class="tn-icon tn-icon-dragdrop icon-medium"></span>
	<span class="tn-icon tn-icon-dragdrop icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-dragdroplg</h2>
	<span class="tn-icon tn-icon-dragdroplg"></span>
	<span class="tn-icon tn-icon-dragdroplg icon-medium"></span>
	<span class="tn-icon tn-icon-dragdroplg icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-duplicate</h2>
	<span class="tn-icon tn-icon-duplicate"></span>
	<span class="tn-icon tn-icon-duplicate icon-medium"></span>
	<span class="tn-icon tn-icon-duplicate icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-edit</h2>
	<span class="tn-icon tn-icon-edit"></span>
	<span class="tn-icon tn-icon-edit icon-medium"></span>
	<span class="tn-icon tn-icon-edit icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-expand</h2>
	<span class="tn-icon tn-icon-expand"></span>
	<span class="tn-icon tn-icon-expand icon-medium"></span>
	<span class="tn-icon tn-icon-expand icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-feedback</h2>
	<span class="tn-icon tn-icon-feedback"></span>
	<span class="tn-icon tn-icon-feedback icon-medium"></span>
	<span class="tn-icon tn-icon-feedback icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-filter</h2>
	<span class="tn-icon tn-icon-filter"></span>
	<span class="tn-icon tn-icon-filter icon-medium"></span>
	<span class="tn-icon tn-icon-filter icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-filterremove</h2>
	<span class="tn-icon tn-icon-filterremove"></span>
	<span class="tn-icon tn-icon-filterremove icon-medium"></span>
	<span class="tn-icon tn-icon-filterremove icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-gethelp</h2>
	<span class="tn-icon tn-icon-gethelp"></span>
	<span class="tn-icon tn-icon-gethelp icon-medium"></span>
	<span class="tn-icon tn-icon-gethelp icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-grid</h2>
	<span class="tn-icon tn-icon-grid"></span>
	<span class="tn-icon tn-icon-grid icon-medium"></span>
	<span class="tn-icon tn-icon-grid icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-helpoff</h2>
	<span class="tn-icon tn-icon-helpoff"></span>
	<span class="tn-icon tn-icon-helpoff icon-medium"></span>
	<span class="tn-icon tn-icon-helpoff icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-helpon</h2>
	<span class="tn-icon tn-icon-helpon"></span>
	<span class="tn-icon tn-icon-helpon icon-medium"></span>
	<span class="tn-icon tn-icon-helpon icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-info</h2>
	<span class="tn-icon tn-icon-info"></span>
	<span class="tn-icon tn-icon-info icon-medium"></span>
	<span class="tn-icon tn-icon-info icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-infoon</h2>
	<span class="tn-icon tn-icon-infoon"></span>
	<span class="tn-icon tn-icon-infoon icon-medium"></span>
	<span class="tn-icon tn-icon-infoon icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-library</h2>
	<span class="tn-icon tn-icon-library"></span>
	<span class="tn-icon tn-icon-library icon-medium"></span>
	<span class="tn-icon tn-icon-library icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-linked</h2>
	<span class="tn-icon tn-icon-linked"></span>
	<span class="tn-icon tn-icon-linked icon-medium"></span>
	<span class="tn-icon tn-icon-linked icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-list</h2>
	<span class="tn-icon tn-icon-list"></span>
	<span class="tn-icon tn-icon-list icon-medium"></span>
	<span class="tn-icon tn-icon-list icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-localization</h2>
	<span class="tn-icon tn-icon-localization"></span>
	<span class="tn-icon tn-icon-localization icon-medium"></span>
	<span class="tn-icon tn-icon-localization icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-lock</h2>
	<span class="tn-icon tn-icon-lock"></span>
	<span class="tn-icon tn-icon-lock icon-medium"></span>
	<span class="tn-icon tn-icon-lock icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-maximize</h2>
	<span class="tn-icon tn-icon-maximize"></span>
	<span class="tn-icon tn-icon-maximize icon-medium"></span>
	<span class="tn-icon tn-icon-maximize icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-minimize</h2>
	<span class="tn-icon tn-icon-minimize"></span>
	<span class="tn-icon tn-icon-minimize icon-medium"></span>
	<span class="tn-icon tn-icon-minimize icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-more</h2>
	<span class="tn-icon tn-icon-more"></span>
	<span class="tn-icon tn-icon-more icon-medium"></span>
	<span class="tn-icon tn-icon-more icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-msgdanger</h2>
	<span class="tn-icon tn-icon-msgdanger"></span>
	<span class="tn-icon tn-icon-msgdanger icon-medium"></span>
	<span class="tn-icon tn-icon-msgdanger icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-msginfo</h2>
	<span class="tn-icon tn-icon-msginfo"></span>
	<span class="tn-icon tn-icon-msginfo icon-medium"></span>
	<span class="tn-icon tn-icon-msginfo icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-msgsuccess</h2>
	<span class="tn-icon tn-icon-msgsuccess"></span>
	<span class="tn-icon tn-icon-msgsuccess icon-medium"></span>
	<span class="tn-icon tn-icon-msgsuccess icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-msgwarning</h2>
	<span class="tn-icon tn-icon-msgwarning"></span>
	<span class="tn-icon tn-icon-msgwarning icon-medium"></span>
	<span class="tn-icon tn-icon-msgwarning icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-noimage</h2>
	<span class="tn-icon tn-icon-noimage"></span>
	<span class="tn-icon tn-icon-noimage icon-medium"></span>
	<span class="tn-icon tn-icon-noimage icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-options</h2>
	<span class="tn-icon tn-icon-options"></span>
	<span class="tn-icon tn-icon-options icon-medium"></span>
	<span class="tn-icon tn-icon-options icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-remove</h2>
	<span class="tn-icon tn-icon-remove"></span>
	<span class="tn-icon tn-icon-remove icon-medium"></span>
	<span class="tn-icon tn-icon-remove icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-removelg</h2>
	<span class="tn-icon tn-icon-removelg"></span>
	<span class="tn-icon tn-icon-removelg icon-medium"></span>
	<span class="tn-icon tn-icon-removelg icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-restrictions</h2>
	<span class="tn-icon tn-icon-restrictions"></span>
	<span class="tn-icon tn-icon-restrictions icon-medium"></span>
	<span class="tn-icon tn-icon-restrictions icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-search</h2>
	<span class="tn-icon tn-icon-search"></span>
	<span class="tn-icon tn-icon-search icon-medium"></span>
	<span class="tn-icon tn-icon-search icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-sort</h2>
	<span class="tn-icon tn-icon-sort"></span>
	<span class="tn-icon tn-icon-sort icon-medium"></span>
	<span class="tn-icon tn-icon-sort icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-sync</h2>
	<span class="tn-icon tn-icon-sync"></span>
	<span class="tn-icon tn-icon-sync icon-medium"></span>
	<span class="tn-icon tn-icon-sync icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-top</h2>
	<span class="tn-icon tn-icon-top"></span>
	<span class="tn-icon tn-icon-top icon-medium"></span>
	<span class="tn-icon tn-icon-top icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-visibilityoff</h2>
	<span class="tn-icon tn-icon-visibilityoff"></span>
	<span class="tn-icon tn-icon-visibilityoff icon-medium"></span>
	<span class="tn-icon tn-icon-visibilityoff icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-visibilityon</h2>
	<span class="tn-icon tn-icon-visibilityon"></span>
	<span class="tn-icon tn-icon-visibilityon icon-medium"></span>
	<span class="tn-icon tn-icon-visibilityon icon-large"></span>
	<br><br>
</div>

<div class="demo-icon-wrapper">
	<h2>.tn-icon-warning</h2>
	<span class="tn-icon tn-icon-warning"></span>
	<span class="tn-icon tn-icon-warning icon-medium"></span>
	<span class="tn-icon tn-icon-warning icon-large"></span>
	<br><br>
</div>


{% endblock %}
