<!--
badge:
    properties={},
    modifier={ block: [] }
-->
{% macro badge(properties={}, modifier={}, state={}, aria={}) -%}
<span class="tn-pagination{{ modifier.block}}">
    <li disabled>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
</span>
{%- endmacro %}