// Techné Colors

// Main Colors


// Body main colors

$body-text: #313440;
$body-background: #f0f0f0;

// Main Nav Colors
$nav-background: #0486e0;
$nav-text: #e0e9f0;


// Main color defaults
body { color: $body-text; background-color: $body-background; }