// Techne Colors

// Main Colors


$tn-color-default: #006fbb !default;
$tn-color-default-light: lighten($tn-color-default, 10%);
$tn-color-default-dark: darken($tn-color-default, 10%);

$tn-color-accent: #F0AB00 !default;
$tn-color-accent-light: lighten($tn-color-accent, 10%);
$tn-color-accent-dark: darken($tn-color-accent, 10%);

$tn-color-neutral: #21262c !default;
$tn-color-neutral-lightest: lighten($tn-color-neutral, 81%);
$tn-color-neutral-lighter: lighten($tn-color-neutral, 70%);
$tn-color-neutral-light: lighten($tn-color-neutral, 40%);
$tn-color-neutral-dark: darken($tn-color-neutral, 10%);

$tn-color-positive: #18C407;
.tn-color-positive { color: $tn-color-positive; }

// Colors Debug
/*
.tn-debug-color-default { background-color: $tn-color-default;  }
.tn-debug-color-default-light { background-color: $tn-color-default-light;  }
.tn-debug-color-default-dark { background-color: $tn-color-default-dark;  }

.tn-debug-color-accent { background-color: $tn-color-accent;  }
.tn-debug-color-accent-light { background-color: $tn-color-accent-light;  }
.tn-debug-color-accent-dark { background-color: $tn-color-accent-dark;  }

.tn-debug-color-neutral { background-color: $tn-color-neutral;  }
.tn-debug-color-neutral-lightest { background-color: $tn-color-neutral-lightest;  }
.tn-debug-color-neutral-light { background-color: $tn-color-neutral-light;  }
.tn-debug-color-neutral-dark { background-color: $tn-color-neutral-dark;  }
*/
// body { color: $tn-color-neutral; }