// Techné Colors

// Main Colors


// Body main colors

$tn-body-text: #313440;
$tn-body-background: #fff;

// Main Nav Colors
$tn-nav-background: #0486e0;
$tn-nav-text: #e0e9f0;


// Main color defaults
body { color: $tn-body-text; background-color: $tn-body-background; }