// Techné Spacing

body { margin: 0; }

// Narrow Padding and Margin

$tn-narrow-spacing: 10px;

// Wide Padding and Margin

$tn-wide-spacing: 20px;

// spancing mixings

@mixin tn-padding($space) {
    padding: $space;
}

@mixin tn-margin($space) {
    margin: $space;
}

@mixin tn-margin-horizontal($space) {
    margin: 0 $space 0 $space;
}
