// Techné Spacing
// 

body.tn-app { margin: 0; }

$tn-base-spacings: (
    normal: 10px,
    compact: 5px
);

@function tn-get-spacing($spacing: "normal", $multiple: 1){
  @return map-get($tn-base-spacings, $spacing) * $multiple;
}

@mixin tn-padding($spacing: "normal", $multiple: 1) {
    padding: tn-get-spacing($spacing, $multiple);
}

@mixin tn-margin($spacing: "normal", $multiple: 1) {
    margin: tn-get-spacing($spacing, $multiple);
}

@mixin tn-margin-horizontal($spacing: "normal", $multiple: 1) {
    margin: 0 tn-get-spacing($spacing, $multiple) 0 tn-get-spacing($spacing, $multiple);
}
