<!--
add_button:
    properties={},
    modifier={ block: [] }
-->
{% from "../button/component.njk" import button %}

{%- macro add_button(properties={}, modifier={}) %}
<div class="tn-add-button">
    {{  button(
            {
                label: 'ADD',
                icon: 'add',
                after: false
            },
            modifier={
                block: ['text','small']
            })
    }}
</div>
{%- endmacro %}
