{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% import "./../utils.njk" as utils %}
{% from "./component.njk" import add_button %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['icons', 'components/button'] %}

{% block content %}
<h1>add-button</h1>
{% set example %}
    {{add_button()}}
{% endset %}
{{- format(example) -}}
{% endblock %}
