.docs-top-nav {
    background-color: docs-color(text, 1);
    height: 50px;
    &__logo{
        padding-top: 10px;
        padding-left: 5px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: #fff;

        &:hover{
            text-decoration: none;
        }
    }

   .docs-container { max-width: 100%; }
 
    &__support{
        @include tn-type(-1);
        color: #fff !important;
        padding: tn-space(s);
        display: inline-block;
    }
}
