.top-nav {
    background-color: docs-color(text, 1);
    height: 50px;
    &__logo{
        padding-top: 10px;
        display: inline-block;
        font-size: 20px;
        &:hover{
            text-decoration: none;
        }
    }
    &__support{
         @include tn-type(-1);
        color: #fff !important;
        padding: tn-space(s);
        display: inline-block;
    }
}
