@import "all";

/*
DEBUG CSS
To serve this file, start the project with `npm start -- --debug`
It is sometimes useful to add a border, background-color, etc. when writing CSS
Using this file will ensure that debug rules will do not accidently get included for production.
*/

/*
//EXAMPLE: add a baseline grid
$grid-unit: 20px;
main:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 2000;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.2;
    background-size: 100% $grid-unit;
    background-image: linear-gradient(to bottom, black 0%, transparent percentage(1px / $grid-unit), transparent 100%);
}
*/

body {
    background: tn-color(text);
    color: tn-color(inverse);
}
