@import 'system/colors';

.tn-card {
    padding: 40px;
    border: 1px solid $tn-color-neutral-lighter;
    min-width: 370px;
    max-width: 460px;
    box-sizing: border-box;

    &:hover {
        border-color: $tn-color-default-light;
        box-shadow: 0 0 5px $tn-color-neutral-lighter;
        cursor: pointer;
    }

    &:hover.tn-card-static, &:hover.tn-card-disabled {
        border-color: $tn-color-neutral-lighter;
        box-shadow: none;
        cursor: default;
    }

    .tn-card-primary-info {
        font-size: 1em;
        font-weight: bold;
        color: $tn-color-default-light;
        margin: 0;
    }

    .tn-card-secondary-info {
        margin: 5px 0 0 0;
        color: $tn-color-neutral;
        font-size: .8em;
    }

    .tn-card-label {
        margin: 30px 0 0 0;
        font-size: .8em;
        font-weight: bold;
        letter-spacing: .05em;
        display: block;
    }

    &.tn-card-static {
        .tn-card-primary-info, .tn-card-secondary-info, .tn-card-label {
            color: $tn-color-neutral;
        }
    }

    &.tn-card-disabled {
        background-color: lighten($tn-color-neutral-lightest, 2%);

        .tn-card-primary-info, .tn-card-secondary-info, .tn-card-label {
            color: $tn-color-neutral-light;
        }
    }

    &.tn-card-with-media {
        display: flex;
        flex-direction: row;
        padding: 0;

        .tn-card-media {
            flex: 1;
            position: relative;
            min-width: 175px;
            min-height: 175px;

            .tn-card-media-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $tn-color-neutral-lightest;
            }
        }

        .tn-card-content {
            flex: 2;
            padding: 40px;
            box-sizing: border-box;
        }

        &.tn-card-vertical {
            max-width: 350px;
            width: auto;

            flex-direction: column;

            .tn-card-media {
                min-width: 348px;
                min-height: 350px;
            }
        }
    }

}