
<!--
container:
    modifier=[],
    classes=[],
    aria={}
-->
{%- macro container(modifier=[], aria={}, classes=[]) %}
<div class="tn-container{{ classes | classes }}{{ modifier | modifier("container") }}"{{aria | aria}}>
    {{- caller() }}
</div>
{%- endmacro %}

<!--
col:
    span=12,
    modifier=[],
    classes=[],
    aria={}
-->
{%- macro col(span=12, modifier=[], aria={}, classes=[]) %}
    <div class="tn-col{{'--' + span if span > 0}}{{ modifier | modifier("col") }}{{ classes | classes }}"{{aria | aria}}>{{ caller() }}</div>
{%- endmacro %}
