@import 'system/colors';
@import 'system/spacing';

// Display a section with a title and an overview

.tn-section {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $tn-color-neutral-lightest;

    .tn-section-overview {
        width: 440px; 
        @include tn-padding("normal", 4);

        h2 {
            font-size: 1.8em;
            font-weight: normal;
            margin-top: 0;

            a {
                display: none;
                text-decoration: none;
                color: $tn-color-neutral-light;
            }

            &:hover {
                a {
                    display: inline-block;
                }
            }
        }

        p {
            margin-bottom: 20px;
            line-height: 1.5em; 
        }
    }

    .tn-section-samples {
        flex: 2;
        @include tn-padding("normal", 4);

        .tn-section-rendered {
            padding: tn-get-spacing("normal", 4) 0;

            div {
                width: 100%;
             }
        }

        .tn-section-code {
            padding: tn-get-spacing("normal", 4) 0;
            font-family: monospace;
            font-size: 1.2em;
            line-height: 1.8em;

            pre[class*="language-"] {
                margin: 0;
                padding: 0;
                border: none;
            }
        }
    }

    &.tn-section-vertical {
        flex-direction: column;

        .tn-section-overview {
            width: 100%;
            padding-bottom: 0;
        }
    }

}

// Spacing compact

.tn-compact .tn-section-overview {
    @include tn-padding("compact", 4);
}

.tn-compact .tn-section-samples {
    @include tn-padding("compact", 4);

    .tn-section-rendered {
        @include tn-padding("compact", 4);
    }

    .tn-section-code {
        @include tn-padding("compact", 4);
    }

}