{% from "../forms.njk" import text %}
<!--
input-group:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro input_group(
    properties={},
    modifier={},
    state={},
    aria={})
%}
<div class="tn-input-group{{ modifier.block | modifier('input-group') }}">
    <p>
        {{ label }}
        {% if description %}
            <br>
            {{ description }}
        {% endif %}
    </p>
</div>
{% endmacro %}
