@import 'system/colors';

// Display a section with a title and an overview

.tn-section-sample {
    display: flex;
    border-bottom: 1px solid $tn-color-neutral-lightest;

    .tn-section-overview {
        width: 440px; 
        padding: 40px;
        border-right: 1px solid $tn-color-neutral-lightest;

        h2 {
            font-size: 1.5em;
            font-weight: normal;
            margin-top: 0;
        }

        p {
            margin-bottom: 20px;
            line-height: 1.5em; 
        }
    }

    .tn-section-samples {
        flex: 2;
        padding: 40px;

        .tn-section-rendered {
            padding: 40px;

            div {
                width: 100%;
             }
        }

        .tn-section-code {
            padding: 40px;
            font-family: monospace;
            font-size: 1.2em;
            line-height: 1.8em;
        }
    }

}