@import 'system/spacing';
@import 'system/responsive';

// Main Grid

$tn-grid-base: 12;

$tn-grid-cell-min-width: 100px;
$tn-grid-cell-min-height: 100px;

$tn-grid-total-min-width: $tn-grid-base * $tn-grid-cell-min-width;

$tn-grid-cell-size: 100% / $tn-grid-base;

$tn-grid-cell-border-size: 1px;

.tn-grid { 
    min-width: $tn-grid-total-min-width;

    .tn-grid-cell {
        box-sizing: border-box;
        float: left;
        width: $tn-grid-cell-size;
        min-width: $tn-grid-cell-min-width;
        min-height: $tn-grid-cell-min-height;
        position: relative;

        padding: 10px;

        border: $tn-grid-cell-border-size solid #f0f0f0;

        overflow: hidden;

        &:hover {
            background-color: #fcfcfc;
        }

        .tn-grid-cell-content {
            overflow: hidden;
        }
    }

    @for $i from 1 through $tn-grid-base {
        .tn-grid-cell-size-x-#{$i} {
            width: $tn-grid-cell-size * $i;
        }
    }

    @for $i from 1 through $tn-grid-base {
        .tn-grid-cell-size-y-#{$i} {
            height: $tn-grid-cell-min-height * $i;
        }
    }

    @media screen and (max-width: $tn-phone-break) {
        min-width: 100%;

        .tn-grid-cell {
            width: 50%;
        }
    }
}
