{% import "../forms.njk" as forms %}
<!--
form-group:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro form_group(
    type="text",
    properties={
        legend: "",
        label: "FORM_FIELD_LABEL",
        id: "",
        items: []
    },
    modifier={

    },
    state={
        required: false
    },
    aria={})
-%}
<div class="tn-form__group{{ modifier.block | modifier('form__group') }}{{ ' is-required' if state.required === true }}">
{%- if properties.legend %}
    <div class="tn-form__legend">{{ properties.legend }}</div>
{%- endif %}
{%- for item in properties.items %}
    <div class="tn-form__item{{ modifier.item | modifier('form__item') }}">
        {%- if type == "checkbox" or type == "radio" %}
        <label class="tn-form__label tn-form__label--check">
            {{   form_control(type,properties=item.properties,state=item.state,aria=item.aria) }}
            {{ item.properties.label }}
        </label>
        {%- else %}
        <label class="tn-form__label" for="{{ properties.id }}">{{item.properties.label}}</label>
        {{ form_control(type,properties=item.properties,state=item.state,aria=item.aria) | trim }}
        {%- endif %}
    </div>
{%- endfor %}
</div>
{%- endmacro %}

<!--
form-control:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro form_control(
    type="text",
    properties={

    },
    modifier={},
    state={},
    aria={})
-%}
{%- if type == "textarea" -%}
    {{ forms.textarea(properties,state=state,aria=aria,classes="form__control") }}
{%- elif type == "radio" -%}
    {{ forms.radio(properties,state=state,aria=aria,classes="form__control") }}
{%- elif type == "checkbox" -%}
    {{ forms.checkbox(properties,state=state,aria=aria,classes="form__control") }}
{%- else -%}
    {{ forms.text(type,properties,state=state,aria=aria, classes="form__control") }}
{%- endif -%}
{%- endmacro %}
