<p class="tn-debug-color-default-light">
    <br/>
    Default Light    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-default">
    <br/>
    Default    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-default-dark">
    <br/>
    Default Dark    
    <br/>
    <br/>
</p>
<hr/>
<p class="tn-debug-color-accent-light">
    <br/>
    Accent Light    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-accent">
    <br/>
    Accent Default    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-accent-dark">
    <br/>
    Accent Dark    
    <br/>
    <br/>
</p>
<hr/>
<p class="tn-debug-color-neutral-lightest">
    <br/>
    Accent Light    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-neutral-light">
    <br/>
    Accent Light    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-neutral">
    <br/>
    Accent Default    
    <br/>
    <br/>
</p>

<p class="tn-debug-color-neutral-dark">
    <br/>
    Accent Dark    
    <br/>
    <br/>
</p>
