{% macro input(
    type="text",
    properties={ value: "", placeholder: "", id: "" },
    state={ disabled: false, readonly: false, status: "" },
    aria={})
%}
<input type="{{type}}" value="{{properties.value}}"{{ ' placeholder="'+properties.placeholder+'"' if properties.placeholder }}class="{{ 'is-'+state.status if state.status }}"{{ ' aria-disabled="'+ aria.disabled +'"' if aria.disabled }}{{ ' disabled' if state.disabled }}{{ ' readonly' if state.readonly }}>
{%- endmacro %}

{% macro textarea(
    properties={ value: "", placeholder: "", id: "" },
    state={ disabled: false, readonly: false, status: "" },
    aria={})
%}
<textarea {{ ' placeholder="'+properties.placeholder+'"' if properties.placeholder }}class="{{ 'is-'+state.status if state.status }}"{{ ' aria-disabled="'+ aria.disabled +'"' if aria.disabled }}{{ ' disabled' if state.disabled }}{{ ' readonly' if state.readonly }}>
{{properties.value}}
</textarea>
{%- endmacro %}

{% macro radio(
    properties={ value: "", id: "" },
    state={ checked: false, disabled: false, status: "" },
    aria={})
%}
<input type="radio" value="{{properties.value}}" class="{{ 'is-'+state.status if state.status }}"{{ ' aria-disabled="'+ aria.disabled +'"' if aria.disabled }}{{ ' disabled' if state.disabled }}{{ ' checked' if state.checked }}>
{%- endmacro %}

{% macro checkbox(
    properties={ value: "", id: "" },
    state={ checked: false, disabled: false, status: "" },
    aria={})
%}
<input type="checkbox" value="{{properties.value}}" class="{{ 'is-'+state.status if state.status }}"{{ ' aria-disabled="'+ aria.disabled +'"' if aria.disabled }}{{ ' disabled' if state.disabled }}{{ ' checked' if state.checked }}>
{%- endmacro %}
