doctype html
html(lang="en")
  head
    title Express Routing
    style
        - var cssFile = css + ".css";
        include ../public/app.css
  body
    h1 Express Routing
    p The Definitive Guide
    h2 #{name}
