<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
{#
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
#}
{#
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
#}
{# <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css"> #}
    <style media="screen">
        {% set core_sass = 'core.scss' %}
        {{ core_sass | sass_to_css }}

        {% set component_sass = 'components/' + id + '.scss'  %}
        {{ component_sass | sass_to_css }}

        {% for sass in css_deps %}
            {% set dep_sass = sass + '.scss' %}
            {{ dep_sass | sass_to_css }}
        {% endfor %}
        body { padding: 20px; }
        textarea.test-textarea { font-family: monospace; height: 200px; width: 100%; padding: 10px; font-size: 0.9rem; border: solid 1px rgba(0,0,0,0.1); }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
