@import 'system/colors';

// Display a section with a title and an overview

.tn-section-title-text {
    display: flex;
    border-bottom: 1px solid $tn-color-neutral-lightest;
    width: 100%;

    .tn-section-title {
        width: 400px; 
        padding: 40px;

        h1 {
            font-size: 2em;
            font-weight: normal;
        }
    }

    .tn-section-text {
        flex: 2;
        padding: 40px;

        p {
            line-height: 1.5em;
            max-width: 700px;
        }
    }

}