@import 'system/colors';
@import 'system/spacing';

// Display a section with a title and an overview

.tn-section-title-text {
    display: flex;
    border-bottom: 1px solid $tn-color-neutral-lightest;
    width: 100%;

    .tn-section-title {
        width: 400px; 
        @include tn-padding("normal", 4);

        h1 {
            font-size: 2.2em;
            font-weight: bold;
        }
    }

    .tn-section-text {
        flex: 2;
        @include tn-padding("normal", 4);
        padding: 40px;

        p {
            line-height: 1.5em;
            max-width: 700px;
        }
    }

}

.tn-compact .tn-section-title { 
    @include tn-padding("compact", 4);
 }

 .tn-compact .tn-section-text {
    @include tn-padding("compact", 4);
 }