@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #444444;
  background: #fefefe;
  font-family: 'Droid Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  max-width: 52em;
}
a {
  color: #0645ad;
  text-decoration: none;
}
a:visited {
  color: #0b0080;
}
a:hover {
  color: #0066ee;
}
a:active {
  color: #faa700;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a::-moz-selection,
a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}
::-moz-selection,
::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #444444;
}
p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #111111;
  font-weight: normal;
  line-height: 1em;
}
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}
blockquote {
  color: #666666;
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.5em #d8d8d8 solid;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: 'Monaco', 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
  color: #2b2b2b;
  font-size: 0.98em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
dfn,
mark,
em {
  font-style: italic;
}
ins {
  background: #ff9;
  color: #111111;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #111111;
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
li p:last-child {
  margin: 0;
}
dd {
  margin: 0 0 0 2em;
}
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    font-size: 12pt;
    max-width: 100%;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }
  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin-top: 100px!important;
}
body.kss-body {
  background: #ffffff;
  overflow: visible;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  max-width: 100%;
}
#kss-wrapper {
  background-color: #fff;
  height: auto;
}
.active.demo-container {
  background-color: #858585;
  padding: 15px;
}
#kss-top-nav {
  background: #0486E0;
  color: #fff;
  overflow: hidden;
  height: 50px;
}
#kss-top-nav ul {
  list-style: outside none none;
  margin: 0;
  padding: 0 20px;
}
#kss-top-nav ul li {
  float: left;
}
#kss-top-nav ul li span.active {
  padding: 14px;
  display: inline-block;
}
#kss-top-nav ul li a {
  color: #a4c8f0;
  display: inline-block;
  padding: 14px;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
#kss-top-nav ul li a:hover {
  text-decoration: none;
  background-color: #0376C6!important;
}
#kss-top-nav #menu-toggle {
  margin: 15px 20px 0;
  display: none;
}
@media (max-width: 768px) {
  #kss-top-nav #menu-toggle {
    display: inline-block;
  }
}
#kss-top-nav .icon-bar {
  background: none repeat scroll 0 0 #233243;
  height: 2px;
  transform: none;
  transition: none 0s ease 0s;
  width: 23px;
  border-radius: 1px;
  display: block;
  margin-top: 4px;
}
.kss-ref {
  display: none;
}
#kss-nav {
  background-color: #fff;
  font-family: "Dosis", sans-serif !important;
}
#kss-nav nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#kss-nav nav ul li a {
  border-left: 4px solid #fff;
  color: #808fa1;
  display: block;
  padding: 10px 15px 10px 31px;
  text-decoration: none;
  font-size: 15px;
}
#kss-nav nav ul li a:hover {
  color: #0486E0;
}
#kss-nav nav ul li.kss-active a {
  background: none repeat scroll 0 0 #edf1f5;
  border-left-color: #0486E0;
  color: #0486E0;
  text-decoration: none;
}
.kss-navbar.navbar {
  border: 0 none;
  margin-top: 10px;
  box-shadow: none;
}
#kss-header h1 {
  font-size: 1.5em;
  margin-top: 1.66666667em;
  margin-left: 1.33333333em;
}
h1.kss-title {
  color: #369ad6;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
}
#kss-main {
  border-left: 1px solid #e2e6e9;
  padding-left: 15px;
}
.kss-mod-list {
  width: 100%;
}
.kss-mod-desc {
  display: inline-block;
  width: 69%;
  padding: 10px 0;
}
.kss-mod-head {
  border-top: 1px solid #e2e6e9;
  padding: 20px 0 20px;
  margin-top: 20px;
}
.kss-mod-name {
  width: 30%;
  display: inline-block;
  text-align: right;
  padding: 10px;
  margin: 0;
  vertical-align: top;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #555555;
  background-color: #edf1f5;
  border: 1px solid #d4d7dc;
  border-radius: 3px;
  font-family: Courier, "Courier New", monospaced;
}
.kss-mod-name p {
  display: block;
}
.kss-mod-example {
  display: block;
  padding-bottom: 20px;
}
.kss-mod-example > td {
  display: block;
}
.kss-markup {
  margin: 20px 0 40px;
}
.kss-depth-1 > h1 {
  font-size: 2.375em;
}
.kss-depth-2 > h1 {
  font-size: 2.25em;
}
.kss-depth-3 > h1 {
  font-size: 2.125em;
}
.kss-depth-4 > h1 {
  font-size: 2em;
}
.kss-depth-5 > h1 {
  font-size: 1.875em;
}
.kss-depth-6 > h1 {
  font-size: 1.75em;
}
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}
/* plain text */
@media screen {
  .str {
    color: #080;
  }
  /* string content */
  .kwd {
    color: #008;
  }
  /* a keyword */
  .com {
    color: #800;
  }
  /* a comment */
  .typ {
    color: #606;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  /* a markup tag name */
  .atn {
    color: #606;
  }
  /* a markup attribute name */
  .atv {
    color: #080;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    font-weight: bold;
    color: #006;
  }
  .com {
    font-style: italic;
    color: #600;
  }
  .typ {
    font-weight: bold;
    color: #404;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    font-weight: bold;
    color: #006;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint { padding: 2px; border: 1px solid #888 }*/
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
@media screen and (max-width: 768px) {
  #kss-nav {
    display: block;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: 0;
    box-shadow: none;
  }
  #kss-nav nav > ul {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  #kss-nav nav > ul > li {
    display: inline-block;
    width: 100%;
  }
  #kss-header > hgroup > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #kss-github {
    display: none;
  }
}
.footer a:visited {
  color: white;
}
.kss-body .footer {
  display: block !important;
  height: 41px;
}
/* Sidebar */
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#kss-wrapper {
  padding-left: 15px;
  /* container - fluid ! */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body.has-left-nav #kss-wrapper.toggled {
  padding-left: 265px;
  /* 250 + 15px container padding */
}
body.has-left-nav #kss-nav {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 80%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
}
body.has-left-nav #kss-wrapper.toggled #kss-nav {
  width: 265px;
}
#kss-main {
  padding: 15px;
}
body.has-left-nav #kss-wrapper.toggled #kss-main {
  margin-right: -250px;
}
/* Sidebar Styles */
body.has-left-nav .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  body.has-left-nav #kss-wrapper {
    padding-left: 265px;
  }
  body.has-left-nav #kss-nav {
    width: 250px;
    padding: 0;
  }
  #kss-main {
    position: relative;
  }
  #kss-wrapper.toggled #kss-main {
    position: relative;
    margin-right: 0;
  }
}
.kss-modifier-example .popover {
  position: relative!important;
  z-index: 1!important;
  display: block!important;
}
.kss-modifier-example > [class^="hyicon-"],
.kss-modifier-example > [class*=" hyicon-"] {
  font-size: 35px;
}
.kss-modifier-example > .nav-pill {
  float: none!important;
}
/* Styling for the Guideline and Patterns pages */
/* We are using IDs in order to avoid breaking the standard styling */
#patterns-localization .btn-link.collapsed .glyphicon-chevron-right:before {
  content: "";
}
#patterns-localization .btn-link .glyphicon-chevron-right:before {
  content: "";
}
#patterns-trees .btn-link .glyphicon-plus:before {
  content: "−";
}
#patterns-trees .btn-link.collapsed .glyphicon-plus:before {
  content: "+";
}
#patterns-forms,
#patterns-infopopups,
#patterns-labels,
#patterns-tables,
#patterns-lists,
#patterns-modaldialog,
#patterns-accordions,
#kss-content,
#patterns-trees {
  /* patterns */
}
#patterns-forms .table-behavoir-cell .seperator,
#patterns-infopopups .table-behavoir-cell .seperator,
#patterns-labels .table-behavoir-cell .seperator,
#patterns-tables .table-behavoir-cell .seperator,
#patterns-lists .table-behavoir-cell .seperator,
#patterns-modaldialog .table-behavoir-cell .seperator,
#patterns-accordions .table-behavoir-cell .seperator,
#kss-content .table-behavoir-cell .seperator,
#patterns-trees .table-behavoir-cell .seperator {
  margin: 0 50px 0 0;
}
#patterns-forms .row.visual-code,
#patterns-infopopups .row.visual-code,
#patterns-labels .row.visual-code,
#patterns-tables .row.visual-code,
#patterns-lists .row.visual-code,
#patterns-modaldialog .row.visual-code,
#patterns-accordions .row.visual-code,
#kss-content .row.visual-code,
#patterns-trees .row.visual-code {
  margin: 0;
}
#patterns-forms h3.popover-title,
#patterns-infopopups h3.popover-title,
#patterns-labels h3.popover-title,
#patterns-tables h3.popover-title,
#patterns-lists h3.popover-title,
#patterns-modaldialog h3.popover-title,
#patterns-accordions h3.popover-title,
#kss-content h3.popover-title,
#patterns-trees h3.popover-title {
  margin-bottom: 0;
}
#patterns-forms .usercard-info p,
#patterns-infopopups .usercard-info p,
#patterns-labels .usercard-info p,
#patterns-tables .usercard-info p,
#patterns-lists .usercard-info p,
#patterns-modaldialog .usercard-info p,
#patterns-accordions .usercard-info p,
#kss-content .usercard-info p,
#patterns-trees .usercard-info p {
  margin-bottom: 0;
}
#patterns-forms .list-group-item.deleteable .list-group-item-delete,
#patterns-infopopups .list-group-item.deleteable .list-group-item-delete,
#patterns-labels .list-group-item.deleteable .list-group-item-delete,
#patterns-tables .list-group-item.deleteable .list-group-item-delete,
#patterns-lists .list-group-item.deleteable .list-group-item-delete,
#patterns-modaldialog .list-group-item.deleteable .list-group-item-delete,
#patterns-accordions .list-group-item.deleteable .list-group-item-delete,
#kss-content .list-group-item.deleteable .list-group-item-delete,
#patterns-trees .list-group-item.deleteable .list-group-item-delete {
  top: 18%;
}
#patterns-forms .row,
#patterns-infopopups .row,
#patterns-labels .row,
#patterns-tables .row,
#patterns-lists .row,
#patterns-modaldialog .row,
#patterns-accordions .row,
#kss-content .row,
#patterns-trees .row {
  margin-right: -8px;
  margin-left: -8px;
}
#patterns-forms .modal-dialog,
#patterns-infopopups .modal-dialog,
#patterns-labels .modal-dialog,
#patterns-tables .modal-dialog,
#patterns-lists .modal-dialog,
#patterns-modaldialog .modal-dialog,
#patterns-accordions .modal-dialog,
#kss-content .modal-dialog,
#patterns-trees .modal-dialog,
#patterns-forms .popover,
#patterns-infopopups .popover,
#patterns-labels .popover,
#patterns-tables .popover,
#patterns-lists .popover,
#patterns-modaldialog .popover,
#patterns-accordions .popover,
#kss-content .popover,
#patterns-trees .popover {
  z-index: 0;
}
#patterns-forms .circle,
#patterns-infopopups .circle,
#patterns-labels .circle,
#patterns-tables .circle,
#patterns-lists .circle,
#patterns-modaldialog .circle,
#patterns-accordions .circle,
#kss-content .circle,
#patterns-trees .circle {
  border: 1px solid #cfd8e3;
  box-shadow: 0px 1px 1px #fff;
  margin: 0 auto 20px auto;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
}
#patterns-forms .circle-type,
#patterns-infopopups .circle-type,
#patterns-labels .circle-type,
#patterns-tables .circle-type,
#patterns-lists .circle-type,
#patterns-modaldialog .circle-type,
#patterns-accordions .circle-type,
#kss-content .circle-type,
#patterns-trees .circle-type {
  font-size: 74px;
  display: inline-block;
  margin-top: -35%;
}
#patterns-forms .seperator,
#patterns-infopopups .seperator,
#patterns-labels .seperator,
#patterns-tables .seperator,
#patterns-lists .seperator,
#patterns-modaldialog .seperator,
#patterns-accordions .seperator,
#kss-content .seperator,
#patterns-trees .seperator {
  margin: 40px 0 60px 0;
  position: relative;
}
#patterns-forms .seperator .circle,
#patterns-infopopups .seperator .circle,
#patterns-labels .seperator .circle,
#patterns-tables .seperator .circle,
#patterns-lists .seperator .circle,
#patterns-modaldialog .seperator .circle,
#patterns-accordions .seperator .circle,
#kss-content .seperator .circle,
#patterns-trees .seperator .circle {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 auto -40px auto;
  padding: 0;
  background: #d8dfe8;
  display: block;
}
#patterns-forms .seperator .circle .glyphicon,
#patterns-infopopups .seperator .circle .glyphicon,
#patterns-labels .seperator .circle .glyphicon,
#patterns-tables .seperator .circle .glyphicon,
#patterns-lists .seperator .circle .glyphicon,
#patterns-modaldialog .seperator .circle .glyphicon,
#patterns-accordions .seperator .circle .glyphicon,
#kss-content .seperator .circle .glyphicon,
#patterns-trees .seperator .circle .glyphicon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #7e858d;
}
#patterns-forms .seperator .circle .code-open,
#patterns-infopopups .seperator .circle .code-open,
#patterns-labels .seperator .circle .code-open,
#patterns-tables .seperator .circle .code-open,
#patterns-lists .seperator .circle .code-open,
#patterns-modaldialog .seperator .circle .code-open,
#patterns-accordions .seperator .circle .code-open,
#kss-content .seperator .circle .code-open,
#patterns-trees .seperator .circle .code-open {
  font-size: 12px;
  position: absolute;
  top: 11px;
  left: 8px;
  font-weight: 900;
  color: #7e858d;
  display: none;
}
#patterns-forms .seperator .circle .code-close,
#patterns-infopopups .seperator .circle .code-close,
#patterns-labels .seperator .circle .code-close,
#patterns-tables .seperator .circle .code-close,
#patterns-lists .seperator .circle .code-close,
#patterns-modaldialog .seperator .circle .code-close,
#patterns-accordions .seperator .circle .code-close,
#kss-content .seperator .circle .code-close,
#patterns-trees .seperator .circle .code-close {
  font-size: 20px;
  position: absolute;
  top: 7px;
  left: 10px;
  font-weight: 500;
  color: #fff;
}
#patterns-forms .seperator .open-circle,
#patterns-infopopups .seperator .open-circle,
#patterns-labels .seperator .open-circle,
#patterns-tables .seperator .open-circle,
#patterns-lists .seperator .open-circle,
#patterns-modaldialog .seperator .open-circle,
#patterns-accordions .seperator .open-circle,
#kss-content .seperator .open-circle,
#patterns-trees .seperator .open-circle {
  background: #7e858d;
}
#patterns-forms .seperator .code-snippet,
#patterns-infopopups .seperator .code-snippet,
#patterns-labels .seperator .code-snippet,
#patterns-tables .seperator .code-snippet,
#patterns-lists .seperator .code-snippet,
#patterns-modaldialog .seperator .code-snippet,
#patterns-accordions .seperator .code-snippet,
#kss-content .seperator .code-snippet,
#patterns-trees .seperator .code-snippet {
  display: none;
  background: #cfd8e3;
  position: relative;
  z-index: 1;
  margin-top: 0px;
  border-radius: 0;
  padding-top: 30px;
}
#patterns-forms .seperator hr,
#patterns-infopopups .seperator hr,
#patterns-labels .seperator hr,
#patterns-tables .seperator hr,
#patterns-lists .seperator hr,
#patterns-modaldialog .seperator hr,
#patterns-accordions .seperator hr,
#kss-content .seperator hr,
#patterns-trees .seperator hr {
  margin-top: 20px;
  margin-bottom: 0;
}
#patterns-forms .seperator .caption,
#patterns-infopopups .seperator .caption,
#patterns-labels .seperator .caption,
#patterns-tables .seperator .caption,
#patterns-lists .seperator .caption,
#patterns-modaldialog .seperator .caption,
#patterns-accordions .seperator .caption,
#kss-content .seperator .caption,
#patterns-trees .seperator .caption {
  text-align: center;
  margin-top: 25px;
  display: block;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  top: 20px;
}
#visual-system {
  /* font-size */
  /* 5 column layout */
  /* alert colors */
  /* typography */
}
#visual-system .size-26 {
  font-size: 26px;
}
#visual-system .size-20 {
  font-size: 20px;
}
#visual-system .circle {
  border: 1px solid #cfd8e3;
  box-shadow: 0px 1px 1px #fff;
  margin: 0 auto 20px auto;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
}
#visual-system .circle-type {
  font-size: 74px;
  display: inline-block;
  margin-top: -35%;
}
#visual-system .col-xs-5ths,
#visual-system .col-sm-5ths,
#visual-system .col-md-5ths,
#visual-system .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#visual-system .col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  #visual-system .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  #visual-system .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  #visual-system .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
#visual-system .screen-bg {
  background: #edf1f5;
}
#visual-system .content-bg {
  background: #ffffff;
}
#visual-system .content-bg-2 {
  background: #29374f;
}
#visual-system .typography {
  background: #000000;
}
#visual-system .blue {
  background: #369ad6;
}
#visual-system .help-info {
  background: #d3dbe6;
}
#visual-system .attention {
  background: #5bc0de;
}
#visual-system .success {
  background: #18bc33;
}
#visual-system .waring {
  background: #f99b06;
}
#visual-system .try-again {
  background: #ff3b30;
}
#visual-system .dosis-light {
  font-weight: 300;
  font-family: 'Dosis';
}
#visual-system .dosis-book {
  font-weight: 400;
  font-family: 'Dosis';
}
#visual-system .dosis-medium {
  font-weight: 500;
  font-family: 'Dosis';
}
#visual-system .dosis-semibold {
  font-weight: 600;
  font-family: 'Dosis';
}
#visual-system .carousel-indicators {
  margin-bottom: -60px;
  background: #fff;
}
#visual-system .carousel-indicators li {
  background: #d8dfe8;
  text-indent: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding-top: 7px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 2px #fff;
  margin: 0 10px;
}
#visual-system .carousel-indicators .active {
  background-color: #369ad6;
  color: #fff;
  height: 10px;
  width: 10px;
}
#visual-system .header-example-carousel {
  margin-bottom: 60px;
}
#visual-system .header-example-carousel .carousel-indicators {
  margin-bottom: -60px;
  width: 100%;
  margin-left: -50%;
}
#visual-system .header-example-carousel .carousel-indicators li {
  background: #d8dfe8;
  text-indent: 0;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  padding-top: 7px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 2px #fff;
  margin: 0 15px;
}
#visual-system .header-example-carousel .carousel-indicators .active {
  color: #fff;
  background-color: #369ad6;
}
/* Styling for the Guideline and Patterns pages */
/* We are using IDs in order to avoid breaking the standard styling */
/*Styling for the new home page*/
header.hyHomeHeaderMain {
  /*font sizes per psd-not following the styleguide*/
  background-image: url("/images/home/banner_bg.png");
  margin-top: -20px;
  margin-left: -16px;
  margin-right: -15px;
}
header.hyHomeHeaderMinor {
  background-color: #f2f3f5;
  margin-left: -16px;
  margin-right: -15px;
}
.hyHomePage {
  /*font sizes per psd-not following the styleguide*/
}
.hyHomePage h1 {
  font-size: 57px;
}
.hyHomePage h3 {
  font-size: 42px;
}
.hyHomePage .hyHomeHeader p,
.hyHomePage .hyHomeHeader a {
  font-size: 22px;
}
.hyHomePage .hyHomeHeader {
  text-weight: lighter;
}
.hyHomePage .hyHomeHeader2 p {
  margin-bottom: 0;
}
.hyHomePage .hyHomeHeader2 p small {
  font-size: 14px;
}
.hyHomePage .hyHomeHeader {
  color: white;
  padding-bottom: 100px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .hyHomePage .hyHomeHeader p {
    padding: 30px 0;
  }
}
.hyHomePage .hyHomeHeader2 p {
  height: 40px;
  line-height: 40px;
}
@media (max-width: 768px) {
  .hyHomePage .hyHomeHeader2 p {
    line-height: 20px;
  }
}
.hyHomePage .hyHomeHeader3,
.hyHomePage .personaIcons {
  background-color: #ffffff;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText:hover,
.hyHomePage .personaIcons a.hyPersonaText:hover {
  text-decoration: none;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText p,
.hyHomePage .personaIcons a.hyPersonaText p {
  color: black;
}
.hyHomePage .hyHomeContentCentered p {
  font-size: 16px;
}
.hyHomePage p.hyPersonaTitle {
  font-size: 27px;
  text-transform: uppercase;
  color: #369ad6;
}
.hyHomePage .hyPersonaTab li {
  font-size: 15px;
}
.hyHomePage .hyHomeSlider .hySliderText p {
  font-size: 15px;
}
.hyHomePage .hyHomeContentCentered .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hyHomePage .hyHomeContentCentered .row .carousel {
  margin-top: 20px;
  /*align with te text on aside*/
}
@media (max-width: 992px) {
  .hyHomePage img.hyConsumUpImg {
    display: none;
  }
  .hyHomePage .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.hyHomePage .hyHomeHeader3,
.hyHomePage .personaIcons {
  background-color: #ffffff;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText:hover,
.hyHomePage .personaIcons a.hyPersonaText:hover {
  text-decoration: none;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText p,
.hyHomePage .personaIcons a.hyPersonaText p {
  color: black;
}
.hyHomePage .personasCarousel {
  background-color: #ffffff;
}
.hyHomePage .personasCarousel .carousel-control {
  padding-top: 50px;
}
.hyHomePage .personasCarousel .carousel-control:hover {
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-control.left,
.hyHomePage .personasCarousel .carousel-control.right {
  background: white;
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-control.left :hover,
.hyHomePage .personasCarousel .carousel-control.right :hover {
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-inner {
  padding-left: 15%;
  padding-right: 15%;
}
.hyHomePage .hyHomePageSection:nth-of-type(even) {
  background-color: #f7f7f7;
  margin-left: -15px;
  margin-right: -15px;
}
.hyHomePage .hyHomePageSection:nth-of-type(odd) {
  /*background-color: #ffffff;*/
}
.hyHomePage .hyHomePageSection:not(:first-of-type) {
  padding-bottom: 30px;
}
.hyHomePage .consumerCarousel {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.hyHomePage .consumerCarousel .hyHomeSlider {
  padding-top: 20px;
}
.hyHomePage .consumerCarousel .carousel-inner .item img {
  margin-left: auto;
  margin-right: auto;
}
.hyHomePage .consumerCarousel .carousel-indicators {
  bottom: -30px;
}
.hyHomePage .consumerCarousel .carousel-indicators li.active {
  border: 3px solid #369ad6;
  background-color: transparent;
}
.hyHomePage .consumerCarousel .carousel-indicators li {
  background-color: black;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container {
  max-width: 555px;
  padding-left: 0;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab .w5_list li {
  line-height: 200%;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab ul.nav-tabs {
  border-bottom: none;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab ul.nav-tabs li {
  max-width: 50%;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab ul.nav-tabs li a {
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 1px solid #0486E0;
  color: #313440;
  word-break: break-word;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab ul.nav-tabs li.active a {
  border: 1px solid transparent;
  color: #8a8fa1;
}
@media (min-width: 992px) {
  .hyHomePage .consumerCarousel .hyPersonaTabs .container .hyPersonaTab ul.w5_list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
  }
}
.hyGuidelinesPage section {
  padding-top: 40px;
  margin-bottom: -10px;
}
.container-fluid.hyDownloadPage .hyDwnlBtns a {
  width: 100%;
}
@media (max-width: 990px) {
  .container-fluid.hyDownloadPage .hyDwnlBtns {
    padding-bottom: 15px;
  }
}
.hyGettingStartedPage {
  margin-top: -25px;
}
.hyGettingStartedPage .hyDownloads {
  background-color: #e0e9f0;
  padding-top: 63px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 21px;
}
.hyGettingStartedPage h2 {
  color: #27394f;
  font-size: 25px;
}
.hyGettingStartedPage #installingBower {
  margin-top: 39px;
}
.hyGettingStartedPage h3 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
.hyGettingStartedPage p {
  color: #27394f;
  padding-bottom: 20px;
}
.hyGettingStartedPage a {
  vertical-align: middle;
}
.hyGettingStartedPage .customFonts h2 {
  color: #233243;
}
.hyGettingStartedPage .customFonts p {
  color: #7f90a4;
  font-size: 16px;
  height: 63px;
}
.hyGettingStartedPage .customFonts a {
  font-size: 23px;
  color: #27394f;
}
.hyGettingStartedPage .hyInstall {
  background-color: #fff;
}
.hyGettingStartedPage .hyInstall dl dt {
  font-weight: normal;
}
.hyGettingStartedPage .hyInstall dl dd {
  margin-bottom: 18px;
}
.hyGettingStartedPage .hyInstall code {
  color: #0486E0;
  background-color: #f1f5f8;
}
.hyGettingStartedPage .downloadOptions div {
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 57px;
}
.hyGettingStartedPage .downloadOptions a {
  display: block;
  width: 100%;
  font-size: 23px;
}
.hyGettingStartedPage .downloadOptions img {
  width: 153px;
  height: 134px;
  margin-bottom: 27px;
}
.hyGettingStartedPage .downloadOptions h2 {
  height: 54px;
}
@media only screen and (max-width: 977px) and (min-width: 890px) {
  .hyGettingStartedPage .downloadOptions a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 889px) and (min-width: 830px) {
  .hyGettingStartedPage .downloadOptions a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 829px) and (min-width: 768px) {
  .hyGettingStartedPage .downloadOptions a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 391px) {
  .hyGettingStartedPage .downloadOptions div {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media (max-width: 390px) {
  .hyGettingStartedPage .downloadOptions div {
    padding-left: 45px;
    padding-right: 45px;
  }
  .hyGettingStartedPage .downloadOptions a {
    font-size: 20px;
  }
}
