html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #444444;
  background: #fefefe;
  font-family: 'Droid Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  max-width: 52em;
}
a {
  color: #0645ad;
  text-decoration: none;
}
a:visited {
  color: #0b0080;
}
a:hover {
  color: #0066ee;
}
a:active {
  color: #faa700;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a::-moz-selection,
a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}
::-moz-selection,
::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #444444;
}
p {
  margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #111111;
  font-weight: normal;
  line-height: 1em;
}
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}
blockquote {
  color: #666666;
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.5em #d8d8d8 solid;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #e5e5e5;
  margin: 1em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: 'Monaco', 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
  color: #2b2b2b;
  font-size: 0.98em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
dfn,
mark,
em {
  font-style: italic;
}
ins {
  background: #ff9;
  color: #111111;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #111111;
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
li p:last-child {
  margin: 0;
}
dd {
  margin: 0 0 0 2em;
}
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    font-size: 12pt;
    max-width: 100%;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }
  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin-top: 116px!important;
}
#kss-wrapper {
  background-color: #fff;
}
#kss-top-nav {
  background: #2877cb;
  color: #fff;
  overflow: hidden;
}
#kss-top-nav ul {
  list-style: outside none none;
  margin: 0;
  padding: 0 20px;
}
#kss-top-nav ul li {
  float: left;
}
#kss-top-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
#kss-nav {
  width: 20%;
  background-color: #fff;
}
#kss-nav nav > ul {
  margin: 2em;
  margin-top: 2.5em;
  padding: 0;
  list-style-type: none;
}
#kss-header h1 {
  font-size: 1.5em;
  margin-top: 1.66666667em;
  margin-left: 1.33333333em;
}
.kss-mod-list {
  width: 100%;
}
.kss-mod-name {
  font-size: .75em;
  width: 20%;
  text-align: right;
}
.kss-mod-example {
  display: block;
  padding-bottom: 20px;
}
.kss-mod-example > td {
  display: block;
}
.kss-markup {
  margin-bottom: 40px;
}
.kss-depth-1 > h1 {
  font-size: 2.375em;
}
.kss-depth-2 > h1 {
  font-size: 2.25em;
}
.kss-depth-3 > h1 {
  font-size: 2.125em;
}
.kss-depth-4 > h1 {
  font-size: 2em;
}
.kss-depth-5 > h1 {
  font-size: 1.875em;
}
.kss-depth-6 > h1 {
  font-size: 1.75em;
}
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}
/* plain text */
@media screen {
  .str {
    color: #080;
  }
  /* string content */
  .kwd {
    color: #008;
  }
  /* a keyword */
  .com {
    color: #800;
  }
  /* a comment */
  .typ {
    color: #606;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  /* a markup tag name */
  .atn {
    color: #606;
  }
  /* a markup attribute name */
  .atv {
    color: #080;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    font-weight: bold;
    color: #006;
  }
  .com {
    font-style: italic;
    color: #600;
  }
  .typ {
    font-weight: bold;
    color: #404;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    font-weight: bold;
    color: #006;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint { padding: 2px; border: 1px solid #888 }*/
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
@media screen and (max-width: 768px) {
  #kss-main {
    position: static;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  #kss-nav {
    position: static;
    display: block;
    width: auto;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: 0;
    box-shadow: none;
  }
  #kss-nav nav > ul {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  #kss-nav nav > ul > li {
    display: inline-block;
    padding-right: 1.5em;
  }
  #kss-header > hgroup > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #kss-github {
    display: none;
  }
}
