/*Styling for the new home page*/
/* We are using IDs in order to avoid breaking the standard styling */
header.hyHomeHeaderMain {
  /*font sizes per psd-not following the styleguide*/
  background: url("/images/home/banner_bg.png") top center repeat-x;
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
  height: 440px;
}
header.hyHomeHeaderMinor {
  background-color: #f2f3f5;
  margin-left: -16px;
  margin-right: -15px;
}
.hyHomePage {
  /*font sizes per psd-not following the styleguide*/
}
.hyHomePage h1 {
  font-size: 35px;
}
.hyHomePage h3 {
  font-size: 40px;
}
.hyHomePage .hyHomeHeader p,
.hyHomePage .hyHomeHeader a {
  font-size: 18px;
  font-family: 'Dosis';
}
.hyHomePage .hyHomeHeader {
  text-weight: lighter;
}
.hyHomePage .hyHomeHeader2 p {
  margin-bottom: 0;
}
.hyHomePage .hyHomeHeader2 p small {
  font-size: 14px;
}
.hyHomePage .hyHomeHeader {
  color: white;
  padding-bottom: 100px;
  padding-top: 30px;
}
@media (min-width: 769px) {
  .hyHomePage .hyHomeHeader p {
    padding: 0 0 25px 0;
  }
  .hyHomePage .hyHomeHeader .techne-logo {
    margin: 30px 0;
  }
}
.hyHomePage .hyHomeHeader2 p {
  line-height: 40px;
}
@media (max-width: 769px) {
  .hyHomePage .hyHomeHeader2 p {
    line-height: 20px;
  }
}
.hyHomePage .hyHomeHeader3 {
  margin-bottom: 50px;
}
.hyHomePage .hyHomeHeader3,
.hyHomePage .personaIcons {
  background-color: #ffffff;
}
.hyHomePage .hyHomeHeader3 img,
.hyHomePage .personaIcons img {
  margin-bottom: 20px;
}
.hyHomePage .hyHomeHeader3 a,
.hyHomePage .personaIcons a {
  display: inline-block;
  cursor: pointer;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText:hover,
.hyHomePage .personaIcons a.hyPersonaText:hover {
  text-decoration: none;
}
.hyHomePage .hyHomeHeader3 a.hyPersonaText p,
.hyHomePage .personaIcons a.hyPersonaText p {
  color: black;
}
.hyHomePage .hyHomeContentCentered p {
  font-size: 16px;
}
.hyHomePage p.hyPersonaTitle {
  font-size: 27px;
  text-transform: uppercase;
  color: #000;
}
.hyHomePage .hyPersonaTab li {
  font-size: 15px;
}
.hyHomePage .hyHomeSlider .hySliderText p {
  font-size: 15px;
}
.hyHomePage .hyHomeContentCentered .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hyHomePage .hyHomeContentCentered .row .carousel {
  margin-top: 20px;
  /*align with te text on aside*/
}
@media (max-width: 992px) {
  .hyHomePage img.hyConsumUpImg {
    display: none;
  }
  .hyHomePage .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.hyHomePage .hyHomeHeader3hyHomeHeader3,
.hyHomePage .personaIcons {
  background-color: #ffffff;
}
.hyHomePage .hyHomeHeader3hyHomeHeader3 a.hyPersonaText:hover,
.hyHomePage .personaIcons a.hyPersonaText:hover {
  text-decoration: none;
}
.hyHomePage .hyHomeHeader3hyHomeHeader3 a.hyPersonaText p,
.hyHomePage .personaIcons a.hyPersonaText p {
  color: black;
}
.hyHomePage .personasCarousel {
  background-color: #ffffff;
  min-height: 280px;
}
.hyHomePage .personasCarousel .carousel-control {
  padding-top: 50px;
}
.hyHomePage .personasCarousel .carousel-control:hover {
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-control.left,
.hyHomePage .personasCarousel .carousel-control.right {
  background: white;
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-control.left :hover,
.hyHomePage .personasCarousel .carousel-control.right :hover {
  opacity: 1;
}
.hyHomePage .personasCarousel .carousel-inner {
  padding-left: 15%;
  padding-right: 15%;
}
.hyHomePage .hyHomePageSection {
  padding: 20px;
}
.hyHomePage .hyHomePageSection h3 {
  margin-bottom: 20px;
}
.hyHomePage .hyHomePageSection:nth-of-type(even) {
  background-color: #e0e9f0;
  margin-left: -15px;
  margin-right: -15px;
}
.hyHomePage .consumerCarousel .hyHomeSlider {
  padding-top: 20px;
}
.hyHomePage .consumerCarousel .carousel-inner .item img {
  margin-left: auto;
  margin-right: auto;
}
.hyHomePage .consumerCarousel .carousel-indicators {
  bottom: -30px;
}
.hyHomePage .consumerCarousel .carousel-indicators li.active {
  border: 3px solid #369ad6;
  background-color: transparent;
}
.hyHomePage .consumerCarousel .carousel-indicators li {
  background-color: black;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}
.hyHomePage .consumerCarousel .personaScreen {
  margin-bottom: 20px;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid {
  max-width: 555px;
  padding-left: 0;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab .w5_list li {
  margin-bottom: 10px;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.nav-tabs {
  border-bottom: none;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.nav-tabs li {
  max-width: 47%;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.nav-tabs li a {
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: none;
  color: #0486e0;
  word-break: break-word;
  font-weight: bold;
  font-family: 'Dosis';
  white-space: nowrap;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.nav-tabs li.active a {
  border: none;
  color: #000;
}
.hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.nav-tabs li.tab-seperator {
  padding: 10px 0;
}
@media (min-width: 992px) {
  .hyHomePage .consumerCarousel .hyPersonaTabs .container-fluid .hyPersonaTab ul.w5_list {
    list-style-position: inside;
  }
}
