/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000;
}
/* plain text */
@media screen {
  .str {
    color: #080;
  }
  /* string content */
  .kwd {
    color: #008;
  }
  /* a keyword */
  .com {
    color: #800;
  }
  /* a comment */
  .typ {
    color: #606;
  }
  /* a type name */
  .lit {
    color: #066;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  /* a markup tag name */
  .atn {
    color: #606;
  }
  /* a markup attribute name */
  .atv {
    color: #080;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }
  /* a declaration; a variable name */
  .fun {
    color: red;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    font-weight: bold;
    color: #006;
  }
  .com {
    font-style: italic;
    color: #600;
  }
  .typ {
    font-weight: bold;
    color: #404;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    font-weight: bold;
    color: #006;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint { padding: 2px; border: 1px solid #888 }*/
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
@media screen and (min-width: 769px) {
  body.has-left-nav #kss-nav.mobileOnlineNavigation {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  body.toggled {
    overflow-y: hidden;
  }
  body.has-left-nav #kss-nav.mobileOnlineNavigation {
    display: block !important;
  }
  body.kss-sidebar-nav-mobile-only .hyHomePage .container {
    width: auto !important;
  }
  #kss-nav {
    display: block;
    margin: 0;
    background: 0;
    box-shadow: none;
  }
  #kss-nav nav > ul {
    margin-top: 1px;
    margin-bottom: .5em;
  }
  #kss-nav nav > ul > li {
    display: inline-block;
    width: 100%;
  }
  #kss-header > hgroup > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #kss-github {
    display: none;
  }
}
