#kss-top-nav {
  background: #0486E0;
  color: #fff;
  overflow: hidden;
  height: 50px;
}
#kss-top-nav ul {
  overflow: hidden;
  list-style: outside none none;
  margin: 0;
  padding: 0 20px;
}
#kss-top-nav ul li {
  float: left;
}
#kss-top-nav ul li span.active {
  padding: 14px;
  display: inline-block;
}
#kss-top-nav ul li a {
  color: #a4c8f0;
  display: inline-block;
  padding: 14px;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}
#kss-top-nav ul li a:hover {
  text-decoration: none;
  background-color: #0376C6!important;
}
#kss-top-nav #menu-toggle {
  margin: 15px 20px 0;
  display: none;
}
@media (max-width: 768px) {
  #kss-top-nav #menu-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .toggled #kss-top-nav #menu-toggle {
    min-height: 30px;
    min-width: 30px;
  }
}
#kss-top-nav .icon-bar {
  background: none repeat scroll 0 0 #233243;
  height: 2px;
  transform: none;
  transition: none 0s ease 0s;
  width: 23px;
  border-radius: 1px;
  display: block;
  margin-top: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.toggled #kss-top-nav .icon-bar {
  position: absolute;
  margin-top: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.toggled #kss-top-nav .icon-bar:nth-child(2n+1) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
