@import "../core/settings";
@import "../core/functions";
@import "../core/mixins";



$block: ns(col);

/*! */
[class*="#{$block}"] {
    @include tn-at-media(s) {
        //height: 100px;
        float: left;
        margin-right: $tn-width--gutter;
        &:last-child {
            margin-right: 0;
        }
    }
}
.#{$block} {
    @include tn-at-media(s) {
        @for $i from 1 through 12 {
            &-#{$i} {
                width: calc(
                    (
                        (
                            (100% -
                                (#{$tn-width--gutter} * #{12 - 1})
                                )/
                                #{12}
                                )
                            * #{$i}
                        )
                        +
                        ( #{$tn-width--gutter}*#{$i - 1} )
                );
            }
        }
    }
}
