@import "../core/settings";
@import "../core/functions";
@import "../core/mixins";

$block: ns(container);
.#{$block} {
    @include clearfix;
    padding: 0 $tn-padding--ui;
    max-width: $tn-max-width--ui;
    margin-bottom: $tn-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
    &--fluid {
        max-width: 100%;
    }
    &--bleed {
        padding: 0;
    }
    &--centered {
        margin: 0 auto;
    }
}
