{#
    see ./data.json for object structure
#}
{% from "../icon/component.njk" import icon %}
{%- macro action_bar_button(properties={}, modifier={}, state={}, aria={}, classes="") -%}
<button class="tn-action-bar-button{{ modifier.block | modifier('action-bar-button') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
    {%- if properties.icon %}
{%- set iconsize %}{% if modifier.block.indexOf("small") != -1 %}small{% elseif modifier.block.indexOf("large") != -1 %}large{% else %}medium{% endif %}{% endset %}
    {{ icon(properties.icon,iconsize) if iconsize != "small" else icon(properties.icon) }}
    {%- endif %}
    {%- if properties.label %}
    {{properties.label}}
    {%- endif %}
</button>
{%- endmacro %}
