<script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<link rel="import" href="../../bower_components/apply-author-styles/apply-author-styles.html">
<link rel="import" href="../../src/components/dismissable-alert.html">
<link rel="import" href="../../src/components/button.html">
<link rel="import" href="../../src/components/panel.html">
<link rel="import" href="../../src/components/icon.html">
<link rel="import" href="../../src/components/toggle.html">