
<polymer-element name="techne-userlist" attributes="users">
    <template>
        <style>
            .fl{
                float: left;
            }

            .fr{
                float: right;
            }

            .clr{
                clear: both;
            }

            .userListContainer{
                min-width: 364px;
            }

            .col1{ 
                width: 70px;
            }

            .col2{
                min-width: 220px;
            }

            .col3{
                width: 40px;
            }

            .username{
                font-weight: bold;
                margin:0;
            }

            .email{
                margin: 0;
                color: #f5f5f5;
            }

            .imgContainer.active{
                border-bottom: 4px solid #00ff00;
            }

        </style>
        <apply-author-styles></apply-author-styles>
        <div class="userListContainer">
            <template repeat="{{user, index in users}}">
                <div class="col1 fl">
                    <div class="imgContainer {{user.status}}">
                        <img class="img-circle " src="@baas/img/user.png" alt="Avatar">   
                    </div>
                </div>
                <div class="col2 fl">
                    <p class="username">{{user.firstname}} {{user.lastname}}</h4> 
                    <p class="email">{{user.email}}</p>  
                </div>
                <div class="col3 fr">
                    <span class="hyicon-remove"></span> 
                </div>
                <div class="clr"><!-- --></div>
            </template>
        </div>
    </template>
    <script type="text/javascript">
        Polymer('techne-userlist',{
            users: [
                {
                    firstname: 'Jeremy',
                    lastname: 'Rawls',
                    email: 'Jeremy.Rawls@hybris.com',
                    status: 'active'
                }
            ]
        });
    </script>
</polymer-element>