@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "mixins";

/*!
.tn-button+(--small, --large, --icon, --text)+(.is-disabled | [aria-disabled=true])
    .tn-button__icon+(.tn-icon)
*/

//set component name using namespace function, then use #{$block} below
$block: ns(button);
.#{$block} {
    //SETTINGS
    $tn-button-color: tn-color(text-inverse) !default;
    $tn-button-background-color: tn-color(action) !default;
    $tn-button-color-hover: $tn-button-color !default;
    $tn-button-background-color-hover: darken($tn-button-background-color,5) !default;
    $tn-button-color-active: $tn-button-color !default;
    $tn-button-background-color-active: darken($tn-button-background-color,10) !default;
    $tn-button-color-disabled: tn-color(text,2) !default;
    $tn-button-background-color-disabled: tn-color(neutral) !default;
    $tn-button-shadow-focus: 0 0 4px 1px rgba(tn-color(neutral,4),1) !default;
    $tn-button-color-inverse: tn-color(text,2) !default;
    $tn-button-color-text: $tn-color--link !default;
    //BASE
    //set all reset and baseline block styles
    @include tn-button-reset;
    @include tn-type(2,header,semi);
    line-height: 1;
    background-color: $tn-button-background-color;
    color: $tn-button-color;
    max-height: tn-space(13);
    height: tn-space(13);
    padding-left: tn-space(5);
    padding-right: tn-space(5);
    padding-top: tn-space(4);
    text-transform: uppercase;
    //adjustment for buttons
    @at-root {
        button.#{$block},
        [type="button"].#{$block} {
            padding-top: 0;
        }
    }
    //MODIFIERS
    &--small {
        @include tn-type(0);
        @include tn-weight(semi);
        max-height: tn-space(10);
        height: tn-space(10);
        padding-left: tn-space(4);
        padding-right: tn-space(4);
        padding-top: tn-space(3);
    }
    &--large {
        max-height: tn-space(20);
        height: tn-space(20);
        padding-left: tn-space(7);
        padding-right: tn-space(7);
        padding-top: tn-space(7.3);
    }
    &:hover {
        background-color: $tn-button-background-color-hover;
        color: $tn-button-color-hover;
    }
    &:focus {
        color: $tn-button-color-hover;
        box-shadow: $tn-button-shadow-focus;
        outline: solid 2px lighten($tn-button-background-color,15);
    }
    &:active {
        background-color: $tn-button-background-color-active;
        color: $tn-button-color-active;
    }
    &[aria-disabled="true"],
    &.is-disabled {
        outline: solid 1px tn-color(neutral,2);
        color: $tn-button-color-disabled;
        background-color: $tn-button-background-color-disabled;
        cursor: not-allowed;
    }
    &--text {
        height: tn-space(7);
        color: $tn-button-color-text;
        background: transparent;
        padding-left: tn-space(4);
        padding-right: tn-space(4);
        position: relative;
        //adjustment for small button
        &.#{$block}--small {
            height: tn-space(6);
        }
        &::after {
            content: "";
            border-bottom: solid 2px transparent;
            width: calc(100% - #{tn-space(4)}*2);
            height: 2px;
            position: absolute;
            bottom: 1px;
            left: 0;
            margin-left: tn-space(4);
        }
        &:hover,
        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
            color: $tn-button-color-text;
            background-color: transparent;
            &::after {
                border-bottom-color: $tn-button-color-text;
            }
        }
        &:active {
            color: darken($tn-button-color-text,10);
            background-color: transparent;
        }
        &[aria-disabled="true"],
        &.is-disabled {
            outline: none;
            color: $tn-button-color-disabled;
            background-color: transparent;
            &::after {
                display: none;
            }
        }
    }
    //icon modifier
    &--icon {
        &.#{$block}--large {
            position: relative;
            @include tn-type(-3);
            padding-top: tn-space(13.25);
            @at-root {
                button.#{$block}--large.#{$block}--icon,
                [type="button"].#{$block}--large.#{$block}--icon {
                    padding-top: tn-space(10);
                }
            }
            .#{$block}__icon {
                $icon-size_: 32px;
                position: absolute;
                left: calc(50% - #{$icon-size_}/2);
                top: tn-space(3);
                width: $icon-size_;
                height: $icon-size_;
            }
        }
        //no underline for text buttons
        &.#{$block}--text {
            &::after {
                display: none;
            }
        }
    }
    //ELEMENTS
    &__icon {
        display: inline-block;
        position: relative;
        top: 1px;
        background: white;
        margin-right: tn-space(3);
        width: 26px;
        height: 26px;
        vertical-align: text-top;
        @at-root {
            .#{$block}--small & {
                width: 18px;
                height: 18px;
            }
        }
        @at-root {
            .#{$block}--text & {
                background-color: $tn-button-color-text;
            }
            .#{$block}--text:hover & {
                background-color: darken($tn-button-color-text,5);
            }
            .#{$block}--text:active & {
                background-color: darken($tn-button-color-text,10);
            }
            .#{$block}[aria-disabled="true"] &,
            .#{$block}.is-disabled & {
                background-color: $tn-button-color-disabled;
            }
        }
    }
}
