@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "../components/mixins";

/*!
.tn-list-group
  .tn-list-group__item
      .tn-list-group__action
*/
$block: ns(list-group);

$tn-list-group--border-color: lighten(tn-color(neutral, 2), 5%);
$tn-list-group-hover: tn-color(action) !default;
$tn-list-group-item-padding: tn-space(4) !default;

.#{$block} {
    @include reset;
    &__item {
        border: 1px solid $tn-list-group--border-color;
        border-top: none;
        padding: $tn-list-group-item-padding;
        display: flex;
        position: relative;
        &:first-child {
            border-top: 1px solid $tn-list-group--border-color;
        }
    }
    &__action {
        flex: 1;
        text-align: right;
        position: relative;
        top: -$tn-list-group-item-padding;
        margin-bottom: -$tn-list-group-item-padding * 2;
        right: -$tn-list-group-item-padding;
    }
}
