@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "./button";
@import "./dropdown";
@import "../icons";
/*!
.tn-toolbar+()
    .tn-toolbar__row
        .tn-toolbar__group
        .tn-toolbar__item
*/
$block: ns(toolbar);

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $tn-toolbar-border-color: tn-color(neutral, 3) !default;
    $tn-toolbar-group-height: tn-space(13) !default;
    //anim
    $tn-toolbar-row-transition-params: 0.15s ease-in !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    min-height: $tn-toolbar-group-height;
    border-color: $tn-toolbar-border-color;
    border-style: solid;
    border-width: 1px 0;

    & [role="separator"] {
        display: inline-block;
        vertical-align: middle;
        max-width: 1px;
        height: $tn-toolbar-group-height;
        border-left: solid 1px $tn-toolbar-border-color;
    }
    &__row {
        display: flex;
        align-items: center;
        height: $tn-toolbar-group-height;
        max-height: $tn-toolbar-group-height;
        border-top: solid 1px $tn-toolbar-border-color;
        &:first-child {
            border-top: none;
        }
        overflow: visible;
        transition: all $tn-toolbar-row-transition-params;
        //max-height: 0px;
        &[aria-hidden="true"] {
            background: #eeeaaa;
            overflow: hidden;
            opacity: 0;
            //display: none;
            max-height: 0px;
            border: none;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        &--left {
            margin-right: auto;
        }
        &--right {
            margin-left: auto;
        }
    }
    //filter
    &__applied-filter-list {
        margin-left: tn-space(5);
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    &__applied-filter-item {
        @include tn-type(-3, body, reg, none);
        display: inline-flex;
        align-items: center;
        margin-right: tn-space(5);
        &::after {
            content: "•";
        }
    }

    &__applied-filter-clear {
        @include tn-type(-3, body, semi);
    }

    //STATES *******************************************





}
