@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

/*!
.tn-tooltip
    .tn-tooltip__arrow
    .tn-tooltip__content
*/
$block: ns(tooltip);

.#{$block} {

    //LOCAL VARS (set all themeable properties, always include !default)
    $tn-tooltip-content-background-color: tn-color(text, 3) !default;
    $tn-tooltip-content-color: tn-color(text-inverse, 1) !default;
    $tn-tooltip-padding: tn-space(s) !default;
    $tn-tooltip-arrow-offset: (tn-space(s)) - 2 !default ;
    $tn-tooltip-arrow-width: $tn-tooltip-arrow-offset !default;
    $tn-tooltip-icon-size: 18px;
    $tn-tooltip-transition-params: $tn-animation--speed ease-in !default;

    //BLOCK BASE *******************************************
    // @include reset;
    position: relative;
    margin-left: tn-space(xs);
    @include tn-type(-1);
    display: inline-block;
    width: $tn-tooltip-icon-size;
    height: $tn-tooltip-icon-size;
    top:3px;
    &::before {
        content: "?";
        width: $tn-tooltip-icon-size;
        height: $tn-tooltip-icon-size;
        font-style: normal;
        position: absolute;
        left: 0;
        color: tn-color(text-inverse);
        border-radius: 50%;
        background-color: tn-color(text, 3);
        text-align: center;
    }

    //ELEMENTS *******************************************
    &__content {
        background: $tn-tooltip-content-background-color;
        padding: $tn-tooltip-padding;
        display: inline-block;
        position: absolute;
        @include tn-type(-2)
        color: $tn-tooltip-content-color;
        margin-top: $tn-tooltip-padding * 2.5;
        margin-left: -$tn-tooltip-padding;
        min-width: 350px;
        visibility: hidden;
        opacity: 0;
        transition: opacity $tn-tooltip-transition-params;
        &::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $tn-tooltip-arrow-width $tn-tooltip-arrow-width $tn-tooltip-arrow-width;
            border-color: transparent transparent $tn-tooltip-content-background-color transparent;
            position: absolute;
            content: "";
            top: -($tn-tooltip-arrow-offset);
            left: $tn-tooltip-arrow-offset;
            // display: none;
            // &--left{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     top: $tn-tooltip-arrow-offset + 5;
            //     left: -($tn-tooltip-arrow-offset + 5);
            //     transform: rotate(-90deg);
            // }
            // &--right{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     top: $tn-tooltip-arrow-offset + 5;
            //     right: -($tn-tooltip-arrow-offset + 5);
            //     transform: rotate(90deg);
            // }
            // &--top-left{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     top: -($tn-tooltip-arrow-offset);
            //     left: $tn-tooltip-arrow-offset;
            // }
            // &--top-right{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     top: -($tn-tooltip-arrow-offset);
            //     right: $tn-tooltip-arrow-offset;
            // }
            // &--bottom-left{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     bottom: -($tn-tooltip-arrow-offset);
            //     left: $tn-tooltip-arrow-offset;
            //     transform: rotate(180deg);
            // }
            // &--bottom-right{
            //     @extend .tn-tooltip__arrow;
            //     display: block;
            //     bottom: -($tn-tooltip-arrow-offset);
            //     right: $tn-tooltip-arrow-offset;
            //     transform: rotate(180deg);
            // }
        }
    }
    &:hover{
        .#{$block}__content{
            visibility: visible;
            opacity: 1;

        }
    }
}
