<!doctype html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<!--[if IE]><![endif]-->
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name="copyright" content="2017">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Techne</title>

    <link rel="stylesheet" href="../css/techne.min.css">
    <link rel="stylesheet" href="../css/techne-styleguide.css">
    

</head>
<body class="docs-app docs-app--techne">

<!--
***********************************************
https://en.wikipedia.org/wiki/Techne
     \
      \
       \\
        \\
         >\/7
    _.-(6'  \
    (=___._/` \
         )  \ |
        /   / |
       /    > /
      j    < _\
  _.-' :      ``.
  \ r=._\        `.
 <`\\_  \         .`-.
  \ r-7  `-. ._  ' .  `\
   \`,      `-.`7  7)   )
    \/         \|  \'  / `-._
               ||    .'
                \\  (
                >\  >
             ,.-' >.'
            <.'_.''
              <'
Follow this project.
https://github.com/SAP/techne
***********************************************
-->


    <header class="docs-app__header" role="banner">

    <div class="yaas-signature-nav">
        
        

        <a href="#" class="yaas-signature-nav__index domain yaas-home--">
            <img class="domain-logo" src="../svg/logo-yaas.svg" alt="Techne">
            <span class="logo-text">YAAS</span>
        </a>

        <ul id="yaas-primary-nav" class="yaas-signature-nav__list" role="navigation" aria-hidden="true">
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Home
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    YaaS Market
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Community
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Dev Portal
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Knowledge Hub
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Builder
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem" aria-haspopup="true" >
                <a class="yaas-signature-nav__listlink " href="#" >
                    My Account
                </a>
                
                    
                    <ul class="yaas-signature-nav__subnav-list" id="yaas-my-account-subnav" role="navigation" aria-hidden="true">
                        
                            <li class="yaas-signature-nav__subnav-listitem">
                                <a class="yaas-signature-nav__subnav-listlink" href="#">
                                    Sign In
                                </a>
                            </li>
                        
                            <li class="yaas-signature-nav__subnav-listitem">
                                <a class="yaas-signature-nav__subnav-listlink" href="#">
                                    Register
                                </a>
                            </li>
                        
                    </ul>
                    
                    <!-- mobile My Account navigation -->
                    <button href="#" class="primary-nav--toggle"
                            data-js="menu-toggle"
                            aria-label="Toggle My Account dropdown"
                            aria-controls="yaas-my-account-subnav"
                            aria-expanded="false">
                        <span class="primary-nav-triangle"></span>
                    </button>
                    
                
            </li>
        
        </ul>

        <a href="../#" class="yaas-signature-nav__index brand yaas-home--">
            <img class="brand-logo" src="../svg/logo-hybris.svg" height="30" alt="SAP Hybris">
        </a>
        <!-- mobile top navigation -->
        <button href="#" class="primary-nav--toggle"
                data-js="menu-toggle"
                aria-label="Toggle Primary Nav"
                aria-controls="yaas-primary-nav"
                aria-expanded="false">
                <span class="primary-nav-triangle"></span>
        </button>
    </div>

    <div class="docs-primary-nav">
        <button id="menu-toggle"
                data-js="menu-toggle"
                aria-label="Toggle Left Nav"
                aria-controls="mobile-left-side-navigation"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <ul class="docs-primary-nav__list" role="navigation" aria-hidden="false">
            
            <li class="docs-primary-nav__listitem">
                <a href="../index.html" class="docs-primary-nav__listlink home--" aria-selected="">
                    Home
                </a>
            </li>
            
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../getting-started.html" aria-selected="false">
                        Getting Started
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../styles.html" aria-selected="false">
                        Styles
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../components.html" aria-selected="true">
                        Components
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../guidelines.html" aria-selected="false">
                        Guidelines
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../tutorials.html" aria-selected="false">
                        Tutorials
                    </a>
                </li>
            
        </ul>
    </div>

</header>



<div id="mobile-left-side-navigation" class="mobile-left-side-navigation" aria-hidden="true">
    <nav>
        <ul>
            
            <li class="docs-primary-nav__listitem">
                <a href="index.html" class="docs-primary-nav__listlink home--" aria-selected="">
                    Home
                </a>
            </li>
            
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="getting-started.html" aria-selected="">
                    Getting Started
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="styles.html" aria-selected="">
                    Styles
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="components.html" aria-selected="">
                    Components
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="guidelines.html" aria-selected="">
                    Guidelines
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="tutorials.html" aria-selected="">
                    Tutorials
                </a>
            </li>
            
        </ul>
    </nav>
</div>
    <main class="docs-app__main" role="main">
        
        <div class="docs-app__sidebar">
    
    <nav class="docs-secondary-nav">
        <ul id="main-nav" class="docs-secondary-nav__list" role="navigation">

            <li class="docs-secondary-nav__header">Cards</li>

            
            
        </ul>
    </nav>

</div>


        <article class="docs-app__page docs-page docs-page--cards">
            
<header class="docs-section docs-flow docs-page__header">
    <h1 class="docs-page__title docs-flow__box--12-5">
        Cards
    </h1>
    <p class="docs-page__intro docs-flow__box--12-7">
        Cards are used to display information in a visual, scannable manner. Use in scenarios when users want to associate an image with data, such as a Project or Site, or in association with user accounts where it is helpful to associate an image with a person using the system.
    </p>
</header>

            

<!-- base component example -->
<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="base" class="docs-header--h3">Common card <a href="#base">#</a></h3>
            <p class="docs-code__tips">
                Include the base class <span class="docs-code__css-class">.tn-card</span> on all cards.
            </p>
            <p>
                The common card is static and non-interactive. It is an adaptable container well-suited to present collection items.
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
<div class="tn-card">
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Primary Value
        </h2>
        <p class="tn-card__description">
            Secondary Value aute irure dolor in reprehenderit in voluptate
        </p>
        <p class="tn-card__status">
            Status
        </p>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Primary Value
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Secondary Value aute irure dolor in reprehenderit in voluptate
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            Status
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Primary Value
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Secondary Value aute irure dolor in reprehenderit in voluptate
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            Status
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<!-- button -->
<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="button" class="docs-header--h3">Button card <a href="#button">#</a></h3>
            <p class="docs-code__tips">
                Add the ARIA attribute <span class="docs-code__css-class">role="button"</span> or class <span class="docs-code__css-class">.tn-card--button</span>.
            </p>
            <p>
                The button card includes hover effects and uses link colors to indicate interactivity.
            </p>
            <p>
                <i><strong>Accessibility:</strong> The ARIA role of "button" is appropriate when a the entire card is clickable.</i>
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
                
<div class="tn-card tn-card--button" role="button">
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Lorem ipsum dolor quam placeat numquam repellendus
        </h2>
        <p class="tn-card__description">
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-status-success">Voluptate quis adipisci sit</span>
        </p>
    </div>
</div>

            
            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card tn-card--button&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor quam placeat numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card tn-card--button&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor quam placeat numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="disabled" class="docs-header--h3">Disabled card <a href="#disabled">#</a></h3>
            <p class="docs-code__tips">
                Add the ARIA attribute <span class="docs-code__css-class">aria-disabled="true"</span> or class <span class="docs-code__css-class">.is-disabled</span>.
            </p>
            <p>Toggle the ARIA attribute or the class name to switch the interactive state of any card.</p>
            <p>
                <i>
                    <strong>Accessibility:</strong>
                    Use 'aria-disabled' when the control is interactive but not currently available, e.g., an Edit Mode is enabled in a view which enables the control. The class 'is-disabled' is approriate when state is presentational and interactivity is not expected, e.g., an item is discontinued and will not have a click event.
                </i>
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
                
<div class="tn-card" aria-disabled="true" role="button">
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Repellendus obcaecati molestias
        </h2>
        <p class="tn-card__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit aute irure dolor in reprehenderit in voluptate
        </p>
        <p class="tn-card__status">
            <span>Voluptate quis adipisci sit</span> | <span>Voluptate quis adipisci sit</span>
        </p>
    </div>
</div>

            
            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot; aria-disabled=&quot;true&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Repellendus obcaecati molestias
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit aute irure dolor in reprehenderit in voluptate
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span&gt;Voluptate quis adipisci sit&lt;/span&gt; | &lt;span&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot; aria-disabled=&quot;true&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Repellendus obcaecati molestias
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit aute irure dolor in reprehenderit in voluptate
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span&gt;Voluptate quis adipisci sit&lt;/span&gt; | &lt;span&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="actions" class="docs-header--h3">Actions card <a href="#actions">#</a></h3>
            <p class="docs-code__tips">
                Include additional element <span class="docs-code__css-class"> .tn-card__actions</span>.
            </p>
            <p>
                If a card has more than one action, an additional container can be added after the content container.
            </p>
            <p>
                <i>
                    <strong>Accessibility:</strong>
                    The AIRA role of "button" should <strong>not</strong> be used in this case since the entire card is not interactive.
                </i>
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
        <p> 
                
<div class="tn-card tn-card--button">
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Lorem ipsum dolor quam placeat numquam repellendus
        </h2>
        <p class="tn-card__description">
            Tenetur quam placeat ipsum dolor sit amet obcaecati molestias voluptatibus dolorum ut.
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-status-success">Voluptate quis adipisci sit</span>
        </p>
    </div>
    <div class="tn-card__actions">
        <div style="transform: rotate(90deg); width: 40px;"><span class="tn-has-type-1">•••</span></div>
    </div>
</div>

             </p> </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card tn-card--button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor quam placeat numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat ipsum dolor sit amet obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__actions&quot;&gt;
        &lt;div style=&quot;transform: rotate(90deg); width: 40px;&quot;&gt;&lt;span class=&quot;tn-has-type-1&quot;&gt;•••&lt;/span&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card tn-card--button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor quam placeat numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat ipsum dolor sit amet obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__actions&quot;&gt;
        &lt;div style=&quot;transform: rotate(90deg); width: 40px;&quot;&gt;&lt;span class=&quot;tn-has-type-1&quot;&gt;•••&lt;/span&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
             <h3 id="media" class="docs-header--h3">Media card<a href="#media">#</a></h3>
             <p class="docs-code__tips">
                 Include additional element <span class="docs-code__css-class">.tn-card__media</span>.
             </p>
             <p>
                An additional container can be added before the content container to include an image with the card.
             </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
<div class="tn-card" role="button">
    <div class="tn-card__media" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-success">Cumque itaque</span>
        </p>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="media-round" class="docs-header--h3">Media card with round image <a href="#media-round">#</a></h3>
            <p class="docs-code__tips">
                Add modifier class <span class="docs-code__css-class">.tn-card__media--round</span> to media element.
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
<div class="tn-card" role="button">
    <div class="tn-card__media tn-card__media--round" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-success">Cumque itaque</span>
        </p>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media tn-card__media--round&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media tn-card__media--round&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="media-fill" class="docs-header--h3">Media card with filled image <a href="#media-fill">#</a></h3>
            <p class="docs-code__tips">
                Add modifier class <span class="docs-code__css-class">.tn-card__media--fill</span> to media element.
            </p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
<div class="tn-card" role="button">
    <div class="tn-card__media tn-card__media--fill" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-success">Cumque itaque</span>
        </p>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media tn-card__media--fill&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media tn-card__media--fill&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="media-vertical" class="docs-header--h3">Vertical media card<a href="#media-vertical">#</a></h3>
            <p class="docs-code__tips">
                Add modifier class <span class="docs-code__css-class">.tn-card--vertical</span> to base element.
            </p>
            <p>Ideal for displaying products</p>
        </div>
        <div class="docs-flow__box--12-7">
            
            <p>
                
<div class="tn-card tn-card--vertical" role="button">
    <div class="tn-card__media" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-success">Cumque itaque</span>
        </p>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card tn-card--vertical&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card tn-card--vertical&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__media&quot; style=&quot;background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)&quot; aria-label=&quot;CARD_MEDIA_ALT&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Asperiores doloribus id dolore
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Consectetur adipisicing elit
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-success&quot;&gt;Cumque itaque&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>

<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="alt" class="docs-header--h3">Custom .tn-card<a href="#alt">#</a></h3>
            <p>Cards can also be used with custom content</p>
        </div>
        <div class="docs-flow__box--12-7">
            
            

            <p>
                
<div class="tn-card">
    <div class="tn-card__content">
        <span class="tn-has-color-dark tn-has-type-minus-2">Client I.D.</span>
        <p>*******************</p>
        <span class="tn-has-color-dark tn-has-type-minus-2">Client Secret</span>
        <p>*******************</p>
        <span class="tn-has-color-dark tn-has-type-minus-2">Creation Date</span>
        <p>Consectetur adipisicing</p>
        <span class="tn-has-color-dark tn-has-type-minus-2">Tenant (Project Identifier)</span>
        <p>Lorem ipsum</p>
    </div>
    <div class="tn-card__actions">
        <a href="#alt" class="tn-has-type-plus-1 tn-has-font-family-header">GENERATE ACCESS TOKEN</a>
    </div>
</div>

            </p>
        </div>
    </div>
    <p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Client I.D.&lt;/span&gt;
        &lt;p&gt;*******************&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Client Secret&lt;/span&gt;
        &lt;p&gt;*******************&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Creation Date&lt;/span&gt;
        &lt;p&gt;Consectetur adipisicing&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Tenant (Project Identifier)&lt;/span&gt;
        &lt;p&gt;Lorem ipsum&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__actions&quot;&gt;
        &lt;a href=&quot;#alt&quot; class=&quot;tn-has-type-plus-1 tn-has-font-family-header&quot;&gt;GENERATE ACCESS TOKEN&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Client I.D.&lt;/span&gt;
        &lt;p&gt;*******************&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Client Secret&lt;/span&gt;
        &lt;p&gt;*******************&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Creation Date&lt;/span&gt;
        &lt;p&gt;Consectetur adipisicing&lt;/p&gt;
        &lt;span class=&quot;tn-has-color-dark tn-has-type-minus-2&quot;&gt;Tenant (Project Identifier)&lt;/span&gt;
        &lt;p&gt;Lorem ipsum&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tn-card__actions&quot;&gt;
        &lt;a href=&quot;#alt&quot; class=&quot;tn-has-type-plus-1 tn-has-font-family-header&quot;&gt;GENERATE ACCESS TOKEN&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>


<!-- button -->
<div class="docs-section">
    <div class="docs-flow">
        <div class="docs-flow__box--12-5">
            <h3 id="compact" class="docs-header--h3">Compact cards <a href="#compact">#</a></h3>
            <p class="docs-code__tips">
                Add modifier class <span class="docs-code__css-class">.tn-card--compact</span> to base element.
            </p>
            <p>
                Each card has a compact mode which may be used with high-density interfaces.
            </p>
        </div>
        <div class="docs-flow__box--12-7">
<p>
                
                    
                
<div class="tn-card tn-card--compact" role="button">
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Lorem ipsum dolor numquam repellendus
        </h2>
        <p class="tn-card__description">
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-status-success">Voluptate quis adipisci sit</span>
        </p>
    </div>
</div>

                    
</p>
            <p>
                
<div class="tn-card tn-card--compact" role="button">
    <div class="tn-card__media tn-card__media--round" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-status-warning">Cumque itaque</span>
        </p>
    </div>
</div>


            </p>
            <p>
                
<div class="tn-card tn-card--vertical tn-card--compact" role="button">
    <div class="tn-card__media" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="CARD_MEDIA_ALT">
    </div>
    <div class="tn-card__content">
        <h2 class="tn-card__header">
            Asperiores doloribus id dolore
        </h2>
        <p class="tn-card__description">
            Consectetur adipisicing elit
        </p>
        <p class="tn-card__status">
            <span class="tn-has-color-success">Cumque itaque</span>
        </p>
    </div>
</div>


            </p>

        </div>
    </div>
<p> 
<aside class="docs-code">
    <h1 class="docs-code__header">
        Code 
        <span class="docs-code__version-pill">Since V0.0.0</span>
        <span class="docs-code__notice">Copied to Clipboard!</span>
        <span class="docs-code__copy-code" data-clipboard-text="&lt;div class=&quot;tn-card tn-card--compact&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;">Copy Source Code </span>
    </h1>
    <span class="docs-code__tips">
        Use the extension   <span class="docs-code__css-class">.dataCards-singleColumn</span>    to enable Single Column card layouts.
    </span>
    <pre class="docs-code__markup"><code class="html">&lt;div class=&quot;tn-card tn-card--compact&quot; role=&quot;button&quot;&gt;
    &lt;div class=&quot;tn-card__content&quot;&gt;
        &lt;h2 class=&quot;tn-card__header&quot;&gt;
            Lorem ipsum dolor numquam repellendus
        &lt;/h2&gt;
        &lt;p class=&quot;tn-card__description&quot;&gt;
            Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut.
        &lt;/p&gt;
        &lt;p class=&quot;tn-card__status&quot;&gt;
            &lt;span class=&quot;tn-has-color-status-success&quot;&gt;Voluptate quis adipisci sit&lt;/span&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <span class="docs-code__lines">
        <span class="docs-code__lines--label">... <span class="docs-code__lines--count"></span> more lines of code | </span>
        <span class="docs-code__lines--expand">Show All <span class="docs-code__lines--chevron-down"></span></span>
    </span>
</aside>
 </p>
</div>





        </article>
    </main>
    
    <footer class="footer">
    <div class="footer-right">
        <a href="https://devportal.yaas.io/overview/helpandsupport/index.html" target="_blank" class="footer-item">Help</a>
        <a href="http://status.yaas.io" target="_blank" class="footer-item">YaaS Status</a>
    </div>
    <div class="footer-left">
        <a href="http://www.sap.com/about/legal/copyright.html" target="_blank" class="footer-item">Copyright</a>
        <a href="http://www.sap.com/about/legal/impressum.html" target="_blank" class="footer-item">Legal Disclosure</a>
        <a href="https://www.yaas.io/terms-of-use.html" class="footer-item">Terms of Use</a>
        <a href="http://www.sap.com/about/legal/privacy.html" target="_blank" class="footer-item">Privacy</a>
    </div>
</footer>




    <script>
    //GA
    //Cookie
    </script>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script src="../js/techne-styleguide.min.js"></script>

    
    
</body>
</html>
