<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
<!--[if IE]><![endif]-->
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name="copyright" content="2017">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Techne</title>

	    <link rel="stylesheet" href="../css/techne.min.css">
        <link rel="stylesheet" href="../css/techne-styleguide.css">
        
        
    </head>
    <body id="docs-app--techne">
  <!--
    ***********************************************
    https://en.wikipedia.org/wiki/Techne
         \
          \
           \\
            \\
             >\/7
        _.-(6'  \
        (=___._/` \
             )  \ |
            /   / |
           /    > /
          j    < _\
      _.-' :      ``.
      \ r=._\        `.
     <`\\_  \         .`-.
      \ r-7  `-. ._  ' .  `\
       \`,      `-.`7  7)   )
        \/         \|  \'  / `-._
                   ||    .'
                    \\  (
                    >\  >
                 ,.-' >.'
                <.'_.''
                  <'
    Follow this project.
	https://github.com/SAP/techne
    ***********************************************
  -->
        
            <header class="docs-app__header" role="banner">

    <div class="yaas-signature-nav">
        
        

        <a href="#" class="yaas-signature-nav__index domain yaas-home--">
            <img class="domain-logo" src="../svg/logo-yaas.svg" alt="Techne">
            <span class="logo-text">YAAS</span>
        </a>

        <ul id="yaas-primary-nav" class="yaas-signature-nav__list" role="navigation" aria-hidden="true">
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Home
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    YaaS Market
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Community
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Dev Portal
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Knowledge Hub
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem">
                <a class="yaas-signature-nav__listlink " href="#" >
                    Builder
                </a>
                
            </li>
        
            <li class="yaas-signature-nav__listitem" aria-haspopup="true" >
                <a class="yaas-signature-nav__listlink " href="#" >
                    My Account
                </a>
                
                    
                    <ul class="yaas-signature-nav__subnav-list" id="yaas-my-account-subnav" role="navigation" aria-hidden="true">
                        
                            <li class="yaas-signature-nav__subnav-listitem">
                                <a class="yaas-signature-nav__subnav-listlink" href="#">
                                    Sign In
                                </a>
                            </li>
                        
                            <li class="yaas-signature-nav__subnav-listitem">
                                <a class="yaas-signature-nav__subnav-listlink" href="#">
                                    Register
                                </a>
                            </li>
                        
                    </ul>
                    
                    <!-- mobile My Account navigation -->
                    <button href="#" class="primary-nav--toggle"
                            data-js="menu-toggle"
                            aria-label="Toggle My Account dropdown"
                            aria-controls="yaas-my-account-subnav"
                            aria-expanded="false">
                        <span class="primary-nav-triangle"></span>
                    </button>
                    
                
            </li>
        
        </ul>

        <a href="../#" class="yaas-signature-nav__index brand yaas-home--">
            <img class="brand-logo" src="../svg/logo-hybris.svg" height="30" alt="SAP Hybris">
        </a>
        <!-- mobile top navigation -->
        <button href="#" class="primary-nav--toggle"
                data-js="menu-toggle"
                aria-label="Toggle Primary Nav"
                aria-controls="yaas-primary-nav"
                aria-expanded="false">
                <span class="primary-nav-triangle"></span>
        </button>
    </div>

    <div class="docs-primary-nav">
        <button id="menu-toggle"
                data-js="menu-toggle"
                aria-label="Toggle Left Nav"
                aria-controls="mobile-left-side-navigation"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <ul class="docs-primary-nav__list" role="navigation" aria-hidden="false">
            
            <li class="docs-primary-nav__listitem">
                <a href="../index.html" class="docs-primary-nav__listlink home--" aria-selected="">
                    Home
                </a>
            </li>
            
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../getting-started.html" aria-selected="false">
                        Getting Started
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../styles.html" aria-selected="false">
                        Styles
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../components.html" aria-selected="true">
                        Components
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../guidelines.html" aria-selected="false">
                        Guidelines
                    </a>
                </li>
            
                <li class="docs-primary-nav__listitem">
                    <a class="docs-primary-nav__listlink" href="../tutorials.html" aria-selected="false">
                        Tutorials
                    </a>
                </li>
            
        </ul>
    </div>

</header>

        
        <div id="mobile-left-side-navigation" class="mobile-left-side-navigation" aria-hidden="true">
    <nav>
        <ul>
            
            <li class="docs-primary-nav__listitem">
                <a href="index.html" class="docs-primary-nav__listlink home--" aria-selected="">
                    Home
                </a>
            </li>
            
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="getting-started.html" aria-selected="">
                    Getting Started
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="styles.html" aria-selected="">
                    Styles
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="components.html" aria-selected="">
                    Components
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="guidelines.html" aria-selected="">
                    Guidelines
                </a>
            </li>
            
            <li class="docs-primary-nav__listitem">
                <a class="docs-primary-nav__listlink" href="tutorials.html" aria-selected="">
                    Tutorials
                </a>
            </li>
            
        </ul>
    </nav>
</div>
        <main class="docs-app__main" role="main">
            
        <div class="docs-app__sidebar">
    
    <nav class="docs-secondary-nav">
        <ul id="main-nav" class="docs-secondary-nav__list" role="navigation">

            <li class="docs-secondary-nav__header">Icons</li>

            
            
        </ul>
    </nav>

</div>


            <article class="docs-app__page docs-page docs-page--icons">
                
<header class="docs-section docs-flow docs-page__header">
    <h1 class="docs-page__title docs-flow__box--12-5">
        Icons
    </h1>
    <p class="docs-page__intro docs-flow__box--12-7">
        some intro test to icons.
    </p>
</header>

                


<div class="docs-section">
	
<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->
<style>
	.demo-icon-wrapper{
		padding: 20px;
	}
	.demo-icon-wrapper span{
		float: left;
		margin-right: 20px;
		display: inline-block;
	}
</style>

<div class="demo-icon-wrapper">

      
    	<span class="hyicon hyicon-add"></span>



      
    	<span class="hyicon hyicon-addlg"></span>



      
    	<span class="hyicon hyicon-arrow"></span>



      
    	<span class="hyicon hyicon-back"></span>



      
    	<span class="hyicon hyicon-caution"></span>



      
    	<span class="hyicon hyicon-change"></span>



      
    	<span class="hyicon hyicon-checked"></span>



      
    	<span class="hyicon hyicon-checkedlg"></span>



      
    	<span class="hyicon hyicon-chevron"></span>



      
    	<span class="hyicon hyicon-clone"></span>



      
    	<span class="hyicon hyicon-close"></span>



      
    	<span class="hyicon hyicon-collapse"></span>



      
    	<span class="hyicon hyicon-combinedview"></span>



      
    	<span class="hyicon hyicon-customize"></span>



      
    	<span class="hyicon hyicon-delete"></span>



      
    	<span class="hyicon hyicon-done"></span>



      
    	<span class="hyicon hyicon-dragdrop"></span>



      
    	<span class="hyicon hyicon-dragdroplg"></span>



      
    	<span class="hyicon hyicon-duplicate"></span>



      
    	<span class="hyicon hyicon-edit"></span>



      
    	<span class="hyicon hyicon-expand"></span>



      
    	<span class="hyicon hyicon-feedback"></span>



      
    	<span class="hyicon hyicon-filter"></span>



      
    	<span class="hyicon hyicon-filterremove"></span>



      
    	<span class="hyicon hyicon-gethelp"></span>



      
    	<span class="hyicon hyicon-grid"></span>



      
    	<span class="hyicon hyicon-helpoff"></span>



      
    	<span class="hyicon hyicon-helpon"></span>



      
    	<span class="hyicon hyicon-info"></span>



      
    	<span class="hyicon hyicon-infoon"></span>



      
    	<span class="hyicon hyicon-library"></span>



      
    	<span class="hyicon hyicon-linked"></span>



      
    	<span class="hyicon hyicon-list"></span>



      
    	<span class="hyicon hyicon-localization"></span>



      
    	<span class="hyicon hyicon-lock"></span>



      
    	<span class="hyicon hyicon-maximize"></span>



      
    	<span class="hyicon hyicon-minimize"></span>



      
    	<span class="hyicon hyicon-more"></span>



      
    	<span class="hyicon hyicon-msgdanger"></span>



      
    	<span class="hyicon hyicon-msginfo"></span>



      
    	<span class="hyicon hyicon-msgsuccess"></span>



      
    	<span class="hyicon hyicon-msgwarning"></span>



      
    	<span class="hyicon hyicon-noimage"></span>



      
    	<span class="hyicon hyicon-options"></span>



      
    	<span class="hyicon hyicon-remove"></span>



      
    	<span class="hyicon hyicon-removelg"></span>



      
    	<span class="hyicon hyicon-restrictions"></span>



      
    	<span class="hyicon hyicon-search"></span>



      
    	<span class="hyicon hyicon-sort"></span>



      
    	<span class="hyicon hyicon-sync"></span>



      
    	<span class="hyicon hyicon-top"></span>



      
    	<span class="hyicon hyicon-visibilityoff"></span>



      
    	<span class="hyicon hyicon-visibilityon"></span>



      
    	<span class="hyicon hyicon-warning"></span>



      

</div>


</div>



            </article>
        </main>
        
            <footer class="footer">
    <div class="footer-right">
        <a href="https://devportal.yaas.io/overview/helpandsupport/index.html" target="_blank" class="footer-item">Help</a>
        <a href="http://status.yaas.io" target="_blank" class="footer-item">YaaS Status</a>
    </div>
    <div class="footer-left">
        <a href="http://www.sap.com/about/legal/copyright.html" target="_blank" class="footer-item">Copyright</a>
        <a href="http://www.sap.com/about/legal/impressum.html" target="_blank" class="footer-item">Legal Disclosure</a>
        <a href="https://www.yaas.io/terms-of-use.html" class="footer-item">Terms of Use</a>
        <a href="http://www.sap.com/about/legal/privacy.html" target="_blank" class="footer-item">Privacy</a>
    </div>
</footer>

        

        
            <script>
                //GA
                //Cookie
            </script>
        
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/techne-styleguide.min.js"></script>
        
        
  </body>
</html>
