<!--
tooltip:
    properties={},
    modifier={ block: [] }
-->
{% macro tooltip(properties={}, modifier={}, state={}, aria={}) -%}
<span class="tn-tooltip"{{ aria | aria }}>
    <span class="tn-tooltip__content{{ modifier.content | modifier('tooltip__content') }}">
            {{ properties.content }}
    </span>
</span>
{%- endmacro %}

{#
<span class="help-inline help-inline--tooltip">
    <span class="hyicon hyicon-helpoff help-icon-inline"></span>
    <span class="help-block-inline">Help message goes here</span>
</span>
#}
