{% import "./../utils.njk" as utils %}
<!--
tooltip:
    properties={},
    modifier={ block: [] }
-->
{% macro tooltip(properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<div class="tn-tooltip"{{ aria | aria }} id="{{ properties.id }}">
    {%- if modifier.arrow %}
    <div class="{{ modifier.arrow | modifier('tooltip__arrow') }}"></div>
    {%- endif %}
    <div class="tn-tooltip__content">
        {{ properties.content }}
    </div>
</div>
{%- endmacro %}
