{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import tooltip %}
{% import "./../utils.njk" as utils %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/button', 'components/form'] %}

{% block content %}

<h1>tooltip</h1>

<!-- output the component example and the code snippet -->
{% set example %}
{%- set _id = utils.id() %}

Bottom Left Aligned {{  tooltip(
        properties={
            id: _id,
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nam id mauris venenatis, pharetra tortor nec, luctus dui."
        }
    )
}}
<br><br>
{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nam id mauris venenatis, pharetra tortor nec, luctus dui."
        },
        modifier={
            arrow: ["left"]
        }
    )
}}
<br><br>
<br><br>
<br><br>

{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nam id mauris venenatis, pharetra tortor nec, luctus dui."
        },
        modifier={
            arrow: ["right"]
        }
    )
}}
<br><br>
<br><br>
<br><br>

{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
        },
        modifier={
            arrow: ["top-left"]
        }
    )
}}
<br><br>
<br><br>
<br><br>

{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
        },
        modifier={
            arrow: ["top-right"]
        }
    )
}}
<br><br>
<br><br>
<br><br>

{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
        },
        modifier={
            arrow: ["bottom-left"]
        }
    )
}}
<br><br>
<br><br>
<br><br>
{{  tooltip(
        properties={
            content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
        },
        modifier={
            arrow: ["bottom-right"]
        }
    )
}}
{% endset %}
{{- format(example) -}}


{% endblock %}
