.hyicon {
    font-size: 10px;
}

.hyicon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("icons.svg");
    background-repeat: no-repeat;
    background-size: 13.2em 726em;
}



  .hyicon.hyicon-add:before {
      background-position: 0em 0em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-add copy:before {
      background-position: 0em -13.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-addlg:before {
      background-position: 0em -26.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-arrow:before {
      background-position: 0em -39.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-back:before {
      background-position: 0em -52.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-caution:before {
      background-position: 0em -66em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-change:before {
      background-position: 0em -79.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-checked:before {
      background-position: 0em -92.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-checkedlg:before {
      background-position: 0em -105.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-chevron:before {
      background-position: 0em -118.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-clone:before {
      background-position: 0em -132em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-close:before {
      background-position: 0em -145.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-collapse:before {
      background-position: 0em -158.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-combinedview:before {
      background-position: 0em -171.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-customize:before {
      background-position: 0em -184.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-delete:before {
      background-position: 0em -198em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-done:before {
      background-position: 0em -211.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-dragdrop:before {
      background-position: 0em -224.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-dragdroplg:before {
      background-position: 0em -237.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-duplicate:before {
      background-position: 0em -250.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-edit:before {
      background-position: 0em -264em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-expand:before {
      background-position: 0em -277.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-feedback:before {
      background-position: 0em -290.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-filter:before {
      background-position: 0em -303.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-filterremove:before {
      background-position: 0em -316.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-gethelp:before {
      background-position: 0em -330em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-grid:before {
      background-position: 0em -343.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-helpoff:before {
      background-position: 0em -356.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-helpon:before {
      background-position: 0em -369.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-info:before {
      background-position: 0em -382.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-infoon:before {
      background-position: 0em -396em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-library:before {
      background-position: 0em -409.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-linked:before {
      background-position: 0em -422.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-list:before {
      background-position: 0em -435.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-localization:before {
      background-position: 0em -448.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-lock:before {
      background-position: 0em -462em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-maximize:before {
      background-position: 0em -475.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-minimize:before {
      background-position: 0em -488.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-more:before {
      background-position: 0em -501.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-msgdanger:before {
      background-position: 0em -514.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-msginfo:before {
      background-position: 0em -528em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-msgsuccess:before {
      background-position: 0em -541.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-msgwarning:before {
      background-position: 0em -554.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-noimage:before {
      background-position: 0em -567.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-options:before {
      background-position: 0em -580.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-remove:before {
      background-position: 0em -594em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-removelg:before {
      background-position: 0em -607.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-restrictions:before {
      background-position: 0em -620.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-search:before {
      background-position: 0em -633.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-sort:before {
      background-position: 0em -646.8em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-sync:before {
      background-position: 0em -660em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-top:before {
      background-position: 0em -673.2em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-visibilityoff:before {
      background-position: 0em -686.4em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-visibilityon:before {
      background-position: 0em -699.6em;
      width: 13.2em;
      height: 13.2em;
  }



  .hyicon.hyicon-warning:before {
      background-position: 0em -712.8em;
      width: 13.2em;
      height: 13.2em;
  }




