<!--
{{ label(properties={ "text": "Hello" }, modifier={ 'block': ['success'] }) }}

LABEL:
    modifier:
        block="", (array | optional)
    properties:
        text="", (string | optional)
    state:
        block="", (array | optional)
-->
{% macro label(properties={}, modifier={}, state={}) %}
<ul>
    <li><strong>properties:</strong> {{properties | dump}}</li>
    <li><strong>modifier:</strong> {{modifier | dump}}</li>
    <li><strong>state:</strong> {{state | dump}}</li>
</ul>
<span class="tn-label{{ modifier.block | modifier('label') }}">
    {{ properties.text }}
</span>
{% endmacro %}
