{% extends "layout.njk" %}

{% block content %}
<!-- find original template at https://github.com/shakyShane/gulp-svg-sprites/blob/master/tmpl/preview.html -->
<style>
	.demo-icon-wrapper{
		padding: 20px;
		float: left;
		width: 25%;
		text-align: center;
	}
	.demo-icon-wrapper span{
		padding: 20px;
		display: inline-block;
	}
	.demo-icon-wrapper .icon-medium{
		font-size: 26px;
	}
	.demo-icon-wrapper .icon-large{
		font-size: 32px;
	}
</style>

<% _.forEach(svg, function(svgItem) {  %>
<div class="demo-icon-wrapper">
	<h2>.<%= svgItem.name %></h2>
	<span class="tn-icon <%= svgItem.name %>"></span>
	<span class="tn-icon <%= svgItem.name %> icon-medium"></span>
	<span class="tn-icon <%= svgItem.name %> icon-large"></span>
	<br><br>
</div>
<% });  %>

{% endblock %}
