// Back to top
//
// Use the standard 'back to top' component on infinite scroll pages or pages that have data sets longer than 25 records.
//
// Markup:
// <span  class="hyicon hyicon-top back-to-top"></span>
//
// Component 2.9

.back-to-top {
  color: #7f90a4;
  cursor:pointer;
  &:hover{
    color: #4f86e3;
  }
}


