// Button icon
//
// Please add class `button-icon` to icon which should behave like a button  
//
// Markup:
// <span class="hyicon hyicon-feedback button-icon"></span>
//
// Component 2.4
// 

.button-icon {
  position: relative;
  display: block;
  cursor:pointer;

  &::before {
    display: block;
    position: relative;
    z-index: 100;
    color: #fff;
    text-shadow: 0.454px 0.891px 3px rgba(64, 89, 116, 0.47);
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #8292a4;
    display: block;
    border-radius: 50%;
    z-index: 50;
  }

  &:hover {

    &::after {
      background: #0486e0;
    }

  }

}