// Feedback menu
//
// Menu provides affixes to feedback and get help form 
//
// Markup:
// <div class="feedback-menu">
//  <span class="hyicon hyicon-feedback button-icon"></span>
//  <span class="hyicon hyicon-gethelp button-icon"></span>
// </div>
//
// Component 5.5

.feedback-menu {
  float: left;
  font-size: 35px;

  & .button-icon {
    margin-top: .7rem;

    &:first-child {
      margin-top: 0;
    }
    
  }

}