// Custom Checkboxes
//
// Checkboxes adhere to typical use; when multiple selections for an item are available. Check Boxes should be placed in proximity to the value needing selection(s).
//
// Markup:
// <div class="checkbox">
//  <input type="checkbox" id="optionsCheck1" value="optionc1" checked>
//  <label for="optionsCheck1" class="control-label">Check me out</label>
// </div>
//
// Component 4.3

@checkbox-size: 24px;

.checkbox{
    position: relative;
    padding-left: @checkbox-size + 10;
    line-height: @checkbox-size;
    margin-bottom: 14px;
    min-height: @checkbox-size;

    input{
        opacity: 0;
        position: absolute!important;
        height: 0;
        width: 0;
        border: 0;
        padding: 0;
        margin: 0;

        &:checked + label{

            &:before{
                position: absolute;
                top: 0;
                left: 0;
                width: @checkbox-size;
                height: @checkbox-size ;
                background:  @default-blue;
                border-radius: 0px;
                content: "\e004";
                display: inline-block;
                font-family: 'hyicon';
                font-size: 20px;
                color: @white;
                line-height: 15px;
                border: 0 solid @default-blue;
                border-top-width: 5px;
                border-left-width: 2px;
            }
        }

        &:disabled + label{

            &:before{
                opacity: 0.3;
            }
        }

        &:active + label,
        &:focus + label {
            &:before {
                box-shadow: 0 0 10px @default-blue;
                border-color:  @default-blue;
            }
        }

        &:active:checked + label,
        &:focus:checked + label {
            &:before {
                box-shadow: 0 0 10px @default-blue;
            }
        }
        
    }

    label{
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: @checkbox-size;
            height: @checkbox-size ;
            background: #fff;
            border-radius: 0px;
            border: 3px solid @dark-blue;
        }

    }

    .note {
        font-size: 12px;
    }
}

//Checkbox label <- Needs to be merged into the code ontop
.checkbox{

    input[type=checkbox]{
        margin-left: 0;
        position: relative;
        width: 10%
    }

    label{
        display:inline-block;
        padding-left: 0;
        width: auto;
    }

    .note{ // - What's that? Required? 
        font-size: 10px;
        margin-top: 5px;
        color:@dark-grey;
    }

}
