// Custom Checkboxes
// 
// Markup:
// <div class="checkbox">
// 	<input type="checkbox" id="optionsCheck1" value="optionc1" checked>
// 	<label for="optionsCheck1">Check me out</label>
// </div>
//
// Deprecated
//
// Styleguide 1.4





@checkbox-size: 24px;
@checkbox-border-width: 5px;

input[type="checkbox"] {
  width:@checkbox-size;
  height: @checkbox-size;
}

.checkbox{
//	position: relative;
//	padding-left: @checkbox-size + 10;
//	line-height: @checkbox-size;
//    margin-bottom: 14px;
//    min-height: @checkbox-size;

	input[type="checkbox"]{
		display: inline-block;
		&:checked + label{

			&:before{
				display: none;
			}

		}

		&:disabled + label{

               &:before{
                 opacity: 0.3;
               }

             }
	}

	label{
		&:before{
		  display: none;

		}
	}
}

