// Avialable Icons
//
//
// Markup:
//<span class="hyicon {$modifiers}"></span>
//
// <div class="icons-grid add-wrapper"><span class="hyicon hyicon-add"></span> .hyicon-add</div>
// <div class="icons-grid arrow-wrapper"><span class="hyicon hyicon-arrow"></span> .hyicon-arrow</div>
// <div class="icons-grid back-wrapper"><span class="hyicon hyicon-back"></span> .hyicon-back</div>
// <div class="icons-grid checked-wrapper"><span class="hyicon hyicon-checked"></span> .hyicon-checked</div>
// <div class="icons-grid chevron-wrapper"><span class="hyicon hyicon-chevron"></span> .hyicon-chevron</div>
// <div class="icons-grid close-wrapper"><span class="hyicon hyicon-close"></span> .hyicon-close</div>
// <div class="icons-grid dragdrop-wrapper"><span class="hyicon hyicon-dragdrop"></span> .hyicon-dragdrop</div>
// <div class="icons-grid expand-wrapper"><span class="hyicon hyicon-expand"></span> .hyicon-expand</div>
// <div class="icons-grid collapse-wrapper"><span class="hyicon hyicon-collapse"></span> .hyicon-collapse</div>
// <div class="icons-grid localization-wrapper"><span class="hyicon hyicon-localization"></span> .hyicon-localization</div>
// <div class="icons-grid grid-wrapper"><span class="hyicon hyicon-grid"></span> .hyicon-grid</div>
// <div class="icons-grid list-wrapper"><span class="hyicon hyicon-list"></span> .hyicon-list</div>
// <div class="icons-grid more-wrapper"><span class="hyicon hyicon-more"></span> .hyicon-more</div>
// <div class="icons-grid remove-wrapper"><span class="hyicon hyicon-remove"></span> .hyicon-remove</div>
// <div class="icons-grid search-wrapper"><span class="hyicon hyicon-search"></span> .hyicon-search</div>
// <div class="icons-grid top-wrapper"><span class="hyicon hyicon-top"></span> .hyicon-top</div>
// <div class="icons-grid helpoff-wrapper"><span class="hyicon hyicon-helpoff"></span> .hyicon-helpoff</div>
// <div class="icons-grid helpon-wrapper"><span class="hyicon hyicon-helpon"></span> .hyicon-helpon</div>
// <div class="icons-grid filter-wrapper"><span class="hyicon hyicon-filter"></span> .hyicon-filter</div>
// <div class="icons-grid filterremove-wrapper"><span class="hyicon hyicon-filterremove"></span> .hyicon-filterremove</div>
// <div class="icons-grid sort-wrapper"><span class="hyicon hyicon-sort"></span> .hyicon-sort</div>
// <div class="icons-grid addlg-wrapper"><span class="hyicon hyicon-addlg"></span> .hyicon-addlg</div>
// <div class="icons-grid combinedview-wrapper"><span class="hyicon hyicon-combinedview"></span> .hyicon-combinedview</div>
// <div class="icons-grid customize-wrapper"><span class="hyicon hyicon-customize"></span> .hyicon-customize</div>
// <div class="icons-grid info-wrapper"><span class="hyicon hyicon-info"></span> .hyicon-info</div>
// <div class="icons-grid library-wrapper"><span class="hyicon hyicon-library"></span> .hyicon-library</div>
// <div class="icons-grid restrictions-wrapper"><span class="hyicon hyicon-restrictions"></span> .hyicon-restrictions</div>
// <div class="icons-grid sync-wrapper"><span class="hyicon hyicon-sync"></span> .hyicon-sync</div>
// <div class="icons-grid caution-wrapper"><span class="hyicon hyicon-caution"></span> .hyicon-caution</div>
// <div class="icons-grid done-wrapper"><span class="hyicon hyicon-done"></span> .hyicon-done</div>
// <div class="icons-grid delete-wrapper"><span class="hyicon hyicon-delete"></span> .hyicon-delete</div>
//
// Component 6.1

// ----------------------------------------------------------------
// PLEASE MAKE SURE YOU CHANGE THE TEMPLATE NOT THE GENERATED FILE!
// use src/less/templates/_icons.less not src/less/components/_icons.less
// ----------------------------------------------------------------

@font-face {
  font-family: "hyicon";
  src:url('@{hytech-path}/fonts/hyicon.eot?vaoee8');
  src:url('@{hytech-path}/fonts/hyicon.eot?#iefixvaoee8') format('embedded-opentype'),
    url('@{hytech-path}/fonts/hyicon.woff?vaoee8') format('woff'),
    url('@{hytech-path}/fonts/hyicon.ttf?vaoee8') format('truetype'),
    url('@{hytech-path}/fonts/hyicon.svg?vaoee8#hyicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hyicon-"], [class*=" hyicon-"] {
  font-family: 'hyicon';
}



.hyicon:before {
  display: inline-block;
  vertical-align: middle;
  font-family: "hyicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hyicon-add:before {
  content: "\e001"
}

.hyicon-arrow:before {
  content: "\e002"
}

.hyicon-back:before {
  content: "\e003"
}

.hyicon-checked:before {
  content: "\e004"
}

.hyicon-chevron:before {
  content: "\e005"
}

.hyicon-close:before {
  content: "\e006"
}

.hyicon-dragdrop:before {
  content: "\e007"
}

.hyicon-expand:before {
  content: "\e008"
}

.hyicon-collapse:before {
  content: "\e009"
}

.hyicon-localization:before {
  content: "\e00a"
}

.hyicon-grid:before {
  content: "\e00b"
}

.hyicon-list:before {
  content: "\e00c"
}

.hyicon-more:before {
  content: "\e00d"
}

.hyicon-remove:before {
  content: "\e00e"
}

.hyicon-search:before {
  content: "\e00f"
}

.hyicon-top:before {
  content: "\e010"
}

.hyicon-helpoff:before {
  content: "\e011"
}

.hyicon-helpon:before {
  content: "\e012"
}

.hyicon-filter:before {
  content: "\e013"
}

.hyicon-filterremove:before {
  content: "\e014"
}

.hyicon-sort:before {
  content: "\e015"
}

.hyicon-addlg:before {
  content: "\e016"
}

.hyicon-combinedview:before {
  content: "\e017"
}

.hyicon-customize:before {
  content: "\e018"
}

.hyicon-info:before {
  content: "\e019"
}

.hyicon-library:before {
  content: "\e01a"
}

.hyicon-restrictions:before {
  content: "\e01b"
}

.hyicon-sync:before {
  content: "\e01c"
}

.hyicon-caution:before {
  content: "\e01d"
}

.hyicon-done:before {
  content: "\e01e"
}

.hyicon-delete:before {
  content: "\e01f"
}