// Icons
//
// 
// Markup:
//<span class="hyicon {$modifiers}"></span>
// 
// .hyicon-add - Codepoint: U+e001
// .hyicon-arrow - Codepoint: U+e002
// .hyicon-back - Codepoint: U+e003
// .hyicon-checked - Codepoint: U+e004
// .hyicon-chevron - Codepoint: U+e005
// .hyicon-close - Codepoint: U+e006
// .hyicon-dragdrop - Codepoint: U+e007
// .hyicon-expand - Codepoint: U+e008
// .hyicon-collapse - Codepoint: U+e009
// .hyicon-localization - Codepoint: U+e00a
// .hyicon-grid - Codepoint: U+e00b
// .hyicon-list - Codepoint: U+e00c
// .hyicon-more - Codepoint: U+e00d
// .hyicon-remove - Codepoint: U+e00e
// .hyicon-search - Codepoint: U+e00f
//
// Styleguide 1.13

// ----------------------------------------------------------------
// PLEASE MAKE SURE YOU CHANGE THE TEMPLATE NOT THE GENERATED FILE!
// use src/less/templates/_icons.less not src/less/components/_icons.less
// ----------------------------------------------------------------

@font-face {
  font-family: "hyicon";
  src:url('@{hytech-path}/fonts/hyicon.eot?vaoee8');
  src:url('@{hytech-path}/fonts/hyicon.eot?#iefixvaoee8') format('embedded-opentype'),
    url('@{hytech-path}/fonts/hyicon.woff?vaoee8') format('woff'),
    url('@{hytech-path}/fonts/hyicon.ttf?vaoee8') format('truetype'),
    url('@{hytech-path}/fonts/hyicon.svg?vaoee8#hyicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hyicon-"], [class*=" hyicon-"] {
  font-family: 'hyicon';
}



.hyicon:before {
  display: inline-block;
  vertical-align: middle;
  font-family: "hyicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hyicon-add:before {
  content: "\e001"
}

.hyicon-arrow:before {
  content: "\e002"
}

.hyicon-back:before {
  content: "\e003"
}

.hyicon-checked:before {
  content: "\e004"
}

.hyicon-chevron:before {
  content: "\e005"
}

.hyicon-close:before {
  content: "\e006"
}

.hyicon-dragdrop:before {
  content: "\e007"
}

.hyicon-expand:before {
  content: "\e008"
}

.hyicon-collapse:before {
  content: "\e009"
}

.hyicon-localization:before {
  content: "\e00a"
}

.hyicon-grid:before {
  content: "\e00b"
}

.hyicon-list:before {
  content: "\e00c"
}

.hyicon-more:before {
  content: "\e00d"
}

.hyicon-remove:before {
  content: "\e00e"
}

.hyicon-search:before {
  content: "\e00f"
}
