// Avialable Icons
//
//
// Markup:
//<span class="hyicon {$modifiers}"></span>
//
// <div class="icons-grid add-wrapper"><span class="hyicon hyicon-add"></span> .hyicon-add</div>
// <div class="icons-grid arrow-wrapper"><span class="hyicon hyicon-arrow"></span> .hyicon-arrow</div>
// <div class="icons-grid back-wrapper"><span class="hyicon hyicon-back"></span> .hyicon-back</div>
// <div class="icons-grid checked-wrapper"><span class="hyicon hyicon-checked"></span> .hyicon-checked</div>
// <div class="icons-grid chevron-wrapper"><span class="hyicon hyicon-chevron"></span> .hyicon-chevron</div>
// <div class="icons-grid close-wrapper"><span class="hyicon hyicon-close"></span> .hyicon-close</div>
// <div class="icons-grid dragdrop-wrapper"><span class="hyicon hyicon-dragdrop"></span> .hyicon-dragdrop</div>
// <div class="icons-grid expand-wrapper"><span class="hyicon hyicon-expand"></span> .hyicon-expand</div>
// <div class="icons-grid collapse-wrapper"><span class="hyicon hyicon-collapse"></span> .hyicon-collapse</div>
// <div class="icons-grid localization-wrapper"><span class="hyicon hyicon-localization"></span> .hyicon-localization</div>
// <div class="icons-grid grid-wrapper"><span class="hyicon hyicon-grid"></span> .hyicon-grid</div>
// <div class="icons-grid list-wrapper"><span class="hyicon hyicon-list"></span> .hyicon-list</div>
// <div class="icons-grid more-wrapper"><span class="hyicon hyicon-more"></span> .hyicon-more</div>
// <div class="icons-grid remove-wrapper"><span class="hyicon hyicon-remove"></span> .hyicon-remove</div>
// <div class="icons-grid search-wrapper"><span class="hyicon hyicon-search"></span> .hyicon-search</div>
// <div class="icons-grid top-wrapper"><span class="hyicon hyicon-top"></span> .hyicon-top</div>
// <div class="icons-grid helpoff-wrapper"><span class="hyicon hyicon-helpoff"></span> .hyicon-helpoff</div>
// <div class="icons-grid helpon-wrapper"><span class="hyicon hyicon-helpon"></span> .hyicon-helpon</div>
// <div class="icons-grid filter-wrapper"><span class="hyicon hyicon-filter"></span> .hyicon-filter</div>
// <div class="icons-grid filterremove-wrapper"><span class="hyicon hyicon-filterremove"></span> .hyicon-filterremove</div>
// <div class="icons-grid sort-wrapper"><span class="hyicon hyicon-sort"></span> .hyicon-sort</div>
// <div class="icons-grid addlg-wrapper"><span class="hyicon hyicon-addlg"></span> .hyicon-addlg</div>
// <div class="icons-grid combinedview-wrapper"><span class="hyicon hyicon-combinedview"></span> .hyicon-combinedview</div>
// <div class="icons-grid customize-wrapper"><span class="hyicon hyicon-customize"></span> .hyicon-customize</div>
// <div class="icons-grid info-wrapper"><span class="hyicon hyicon-info"></span> .hyicon-info</div>
// <div class="icons-grid library-wrapper"><span class="hyicon hyicon-library"></span> .hyicon-library</div>
// <div class="icons-grid restrictions-wrapper"><span class="hyicon hyicon-restrictions"></span> .hyicon-restrictions</div>
// <div class="icons-grid sync-wrapper"><span class="hyicon hyicon-sync"></span> .hyicon-sync</div>
// <div class="icons-grid caution-wrapper"><span class="hyicon hyicon-caution"></span> .hyicon-caution</div>
// <div class="icons-grid done-wrapper"><span class="hyicon hyicon-done"></span> .hyicon-done</div>
// <div class="icons-grid delete-wrapper"><span class="hyicon hyicon-delete"></span> .hyicon-delete</div>
// <div class="icons-grid change-wrapper"><span class="hyicon hyicon-change"></span> .hyicon-change</div>
// <div class="icons-grid checkedlg-wrapper"><span class="hyicon hyicon-checkedlg"></span> .hyicon-checkedlg</div>
// <div class="icons-grid dragdroplg-wrapper"><span class="hyicon hyicon-dragdroplg"></span> .hyicon-dragdroplg</div>
// <div class="icons-grid edit-wrapper"><span class="hyicon hyicon-edit"></span> .hyicon-edit</div>
// <div class="icons-grid linked-wrapper"><span class="hyicon hyicon-linked"></span> .hyicon-linked</div>
// <div class="icons-grid noimage-wrapper"><span class="hyicon hyicon-noimage"></span> .hyicon-noimage</div>
// <div class="icons-grid options-wrapper"><span class="hyicon hyicon-options"></span> .hyicon-options</div>
// <div class="icons-grid removelg-wrapper"><span class="hyicon hyicon-removelg"></span> .hyicon-removelg</div>
// <div class="icons-grid visibilityoff-wrapper"><span class="hyicon hyicon-visibilityoff"></span> .hyicon-visibilityoff</div>
// <div class="icons-grid visibilityon-wrapper"><span class="hyicon hyicon-visibilityon"></span> .hyicon-visibilityon</div>
// <div class="icons-grid warning-wrapper"><span class="hyicon hyicon-warning"></span> .hyicon-warning</div>
// <div class="icons-grid feedback-wrapper"><span class="hyicon hyicon-feedback"></span> .hyicon-feedback</div>
// <div class="icons-grid gethelp-wrapper"><span class="hyicon hyicon-gethelp"></span> .hyicon-gethelp</div>
// <div class="icons-grid infoon-wrapper"><span class="hyicon hyicon-infoon"></span> .hyicon-infoon</div>
// <div class="icons-grid lock-wrapper"><span class="hyicon hyicon-lock"></span> .hyicon-lock</div>
// <div class="icons-grid clone-wrapper"><span class="hyicon hyicon-clone"></span> .hyicon-clone</div>
// <div class="icons-grid duplicate-wrapper"><span class="hyicon hyicon-duplicate"></span> .hyicon-duplicate</div>
// <div class="icons-grid maximize-wrapper"><span class="hyicon hyicon-maximize"></span> .hyicon-maximize</div>
// <div class="icons-grid minimize-wrapper"><span class="hyicon hyicon-minimize"></span> .hyicon-minimize</div>
// <div class="icons-grid msgdanger-wrapper"><span class="hyicon hyicon-msgdanger"></span> .hyicon-msgdanger</div>
// <div class="icons-grid msginfo-wrapper"><span class="hyicon hyicon-msginfo"></span> .hyicon-msginfo</div>
// <div class="icons-grid msgsuccess-wrapper"><span class="hyicon hyicon-msgsuccess"></span> .hyicon-msgsuccess</div>
// <div class="icons-grid msgwarning-wrapper"><span class="hyicon hyicon-msgwarning"></span> .hyicon-msgwarning</div>
// <div class="icons-grid commerce-wrapper"><span class="hyicon hyicon-commerce"></span> .hyicon-commerce</div>
// <div class="icons-grid commercelg-wrapper"><span class="hyicon hyicon-commercelg"></span> .hyicon-commercelg</div>
// <div class="icons-grid unpowered-wrapper"><span class="hyicon hyicon-unpowered"></span> .hyicon-unpowered</div>
//
// Component 6.1

// ----------------------------------------------------------------
// PLEASE MAKE SURE YOU CHANGE THE TEMPLATE NOT THE GENERATED FILE!
// use src/less/templates/_icons.less not src/less/components/_icons.less
// ----------------------------------------------------------------



@font-face {
  font-family: "hyicon";
  src:url('@{hytech-path}/fonts/hyicon.eot?1496072437');
  src:url('@{hytech-path}/fonts/hyicon.eot?#iefix1496072437') format('embedded-opentype'),
    url('@{hytech-path}/fonts/hyicon.woff?1496072437') format('woff'),
    url('@{hytech-path}/fonts/hyicon.ttf?1496072437') format('truetype'),
    url('@{hytech-path}/fonts/hyicon.svg?1496072437#hyicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="hyicon-"], [class*=" hyicon-"] {
  font-family: 'hyicon';
}

.hyicon:before {
  display: inline-block;
  vertical-align: middle;
  font-family: "hyicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hyicon-add:before {
  content: "\e001"
}

.hyicon-arrow:before {
  content: "\e002"
}

.hyicon-back:before {
  content: "\e003"
}

.hyicon-checked:before {
  content: "\e004"
}

.hyicon-chevron:before {
  content: "\e005"
}

.hyicon-close:before {
  content: "\e006"
}

.hyicon-dragdrop:before {
  content: "\e007"
}

.hyicon-expand:before {
  content: "\e008"
}

.hyicon-collapse:before {
  content: "\e009"
}

.hyicon-localization:before {
  content: "\e00a"
}

.hyicon-grid:before {
  content: "\e00b"
}

.hyicon-list:before {
  content: "\e00c"
}

.hyicon-more:before {
  content: "\e00d"
}

.hyicon-remove:before {
  content: "\e00e"
}

.hyicon-search:before {
  content: "\e00f"
}

.hyicon-top:before {
  content: "\e010"
}

.hyicon-helpoff:before {
  content: "\e011"
}

.hyicon-helpon:before {
  content: "\e012"
}

.hyicon-filter:before {
  content: "\e013"
}

.hyicon-filterremove:before {
  content: "\e014"
}

.hyicon-sort:before {
  content: "\e015"
}

.hyicon-addlg:before {
  content: "\e016"
}

.hyicon-combinedview:before {
  content: "\e017"
}

.hyicon-customize:before {
  content: "\e018"
}

.hyicon-info:before {
  content: "\e019"
}

.hyicon-library:before {
  content: "\e01a"
}

.hyicon-restrictions:before {
  content: "\e01b"
}

.hyicon-sync:before {
  content: "\e01c"
}

.hyicon-caution:before {
  content: "\e01d"
}

.hyicon-done:before {
  content: "\e01e"
}

.hyicon-delete:before {
  content: "\e01f"
}

.hyicon-change:before {
  content: "\e020"
}

.hyicon-checkedlg:before {
  content: "\e021"
}

.hyicon-dragdroplg:before {
  content: "\e022"
}

.hyicon-edit:before {
  content: "\e023"
}

.hyicon-linked:before {
  content: "\e024"
}

.hyicon-noimage:before {
  content: "\e025"
}

.hyicon-options:before {
  content: "\e026"
}

.hyicon-removelg:before {
  content: "\e027"
}

.hyicon-visibilityoff:before {
  content: "\e028"
}

.hyicon-visibilityon:before {
  content: "\e029"
}

.hyicon-warning:before {
  content: "\e02a"
}

.hyicon-feedback:before {
  content: "\e02b"
}

.hyicon-gethelp:before {
  content: "\e02c"
}

.hyicon-infoon:before {
  content: "\e02d"
}

.hyicon-lock:before {
  content: "\e02e"
}

.hyicon-clone:before {
  content: "\e02f"
}

.hyicon-duplicate:before {
  content: "\e030"
}

.hyicon-maximize:before {
  content: "\e031"
}

.hyicon-minimize:before {
  content: "\e032"
}

.hyicon-msgdanger:before {
  content: "\e033"
}

.hyicon-msginfo:before {
  content: "\e034"
}

.hyicon-msgsuccess:before {
  content: "\e035"
}

.hyicon-msgwarning:before {
  content: "\e036"
}

.hyicon-commerce:before {
  content: "\ea01"
}

.hyicon-commercelg:before {
  content: "\ea02"
}

.hyicon-unpowered:before {
  content: "\ea03"
}