// Scrollable Tabs
// 
// Component for arrows left and right for scrolling tabs
//
// Markup:
// <div class="scrollable-tabs-container">
//     <a class="scroller scroller-left">
//         <i class="glyphicon glyphicon-chevron-left"></i>
//     </a>
//     <a class="scroller scroller-right">
//         <i class="glyphicon glyphicon-chevron-right"></i>
//     </a>
//     <div class="scrollable-tabs">
//         <ul class="nav nav-tabs" role="tablist">
//             <!--<li class="property" ng-class="{active: $index == 0}" ng-repeat="iso in keys" baas-field-validate-->
//                 <!--ng-model="iso">-->
//             <li class="property" ng-class="{active: $index == 0}" ng-repeat="iso in keys"
//                 ng-model="iso">
//                 <a role="tab" data-toggle="tab" ng-click="setTab($index, $event)">{{iso}}</a>
//             </li>
//         </ul>
//     </div>
// </div>
//
// Deprecated
//
// Styleguide 1.5



.scrollable-tabs-container{
  .scrollable-tabs{
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:50px;
    .nav-tabs{
      position:absolute;
      left:0px;
      top:0px;
      min-width:3000px;
      margin-top:0px;

      > li{
          display:table-cell;
          position:relative;
          text-align:center;
          cursor:grab;
          cursor:-webkit-grab;
          color:#efefef;
          vertical-align:middle;
      }
    }
  } 
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}