table.techne-table {
  td {
    display: table-cell;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  tr.even {
    background-color: #f5f5f5;
  }

  tr.odd {
    background-color: #fff;
  }


  > tbody > tr:hover {
    background-color: @default-greyblue-200 !important;
    cursor: pointer;
    .status{
      &.info, &.CREATED, &.CONFIRMED, &.success, &.SHIPPED{
        color: #fff;
      }
    }
  }

  .nested-body{
    background-color: @nested-body-backgroundcolor;
    margin: 0 -15px 30px -15px;
    padding: 15px;
    border: 1px solid @nested-body-bordercolor;
  }


  @media (max-width: @screen-xs-max) {

    thead {
      display: none;
    }

    td {
      display: block;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-top: none !important;

    }

    td > span {
      display: none;
    }

    td:before {
      content: attr(data-th) " ";
      font-weight: bold;
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }

    td:after {
      content: attr(data-tb) " ";
      width: 60%;
      display: inline-block;
    }

    tr {
      display: block;
      border: 1px solid #000 !important;
    }

    tr:hover{
      cursor: pointer;
      .status{
        &.info, &.CREATED, &.CONFIRMED, &.success, &.SHIPPED{
          color: #fff;
        }
      }
    }
    
    tr + tr {
      border-top: none !important;
    }

    padding: .25em .5em;

    :first-child {
      padding-left: 0;
    }

    :last-child {
      padding-right: 0;
    }
  }

  .techne-table tr:first-child {
    padding-left: 5px !important;
  }


  table.techne-table{
    padding: 0;



    tr{
      border: none !important;
      padding: 20px 5px;
    }

    tr.even{
      background-color: transparent;

    }

    td:before{
      font-weight: normal !important;
      display: block !important;
    }

    td{
      padding: 3px 10px !important;
      display: block !important;
      font-weight: bold !important;
    }

    td span{
      display: block !important;

    }

    td + td{
      padding-top: 12px !important;
    }

    td:after{
      display: none !imporant;
    }


  }
  
}