// Hierachical Table
//
// A majority of buttons in the site are built from the same base class.
// 
// Markup:
// <div class=" y-h-table clearfix">
//     <div class="y-h-tablehead">
//         <div class="col-md-4">Category Name</div>
//         <div class="col-md-3">Child Categories</div>
//         <div class="col-md-5">Linked Products</div>
//     </div>
//         <div ng-repeat="category in categories"
//             class="y-h-table-row clearfix">
//             <!--- LEVEL 1 -->
//             <div class="col-md-4">
//                 <div class="first table-behavoir">
//                     <span class="table-behavoir-cell toggle-cell seperator">
//                         <a href class="btn btn-link toggle pull-right">
//                             <span class="glyphicon glyphicon-minus">
//                             </span>
//                         </a>
//                     </span>
//                     <span class="table-behavoir-cell row-image-cell">
//                         <a href="#">
//                             <img src="http://placehold.it/40x40" class="img-responsive row-image"/>
//                         </a>
//                     </span>
//                     <span class="table-behavoir-cell name-cell">
//                         <strong>
//                             <a href="#">{{category.name | localized}}</a>
//                         </strong>
//                     </span>
//                 </div>
//             </div>
//             <div class="col-md-3 value-cell">{{category.subcategories.length || 0}} Child Categories</div>
//             <div class="col-md-3 value-cell">{{getAllProductsCount(category)}} Products</div>
//             <div class="col-md-2 sticky-right">
//                 <div class="dropdown pull-right">
//                     <a href="" class="btn btn-link btn-lg dropdown-toggle " data-toggle="dropdown" role="button" >
//                     <span class="hyicon-more"></span></a>
//                     <ul class="dropdown-menu pull-right text-left" role="menu">
//                         <li><a href="#">Edit Category Details</a></li>
//                         <li><a href="">Add Child Category</a></li>
//                         <li class="divider"></li>
//                         <li><a href ng-click="delete(category)">Delete Category</a></li>
//                     </ul>
//                 </div>
//             </div>
//             <!-- LEVEL 2 -->
//             <div class="subcategories-cnt">
//                 <div class=" clearfix subcategories-list" style="clear:both;">
//                     <div class="y-h-table-row clearfix">
//                         <div class="col-md-4">
//                             <div class="first table-behavoir">
//                                 <span class="table-behavoir-cell toggle-cell seperator">
//                                     <a href class="btn btn-link toggle pull-right">
//                                         <span class="glyphicon glyphicon-minus">
//                                         </span>
//                                     </a>
//                                 </span>
//                                 <span class="table-behavoir-cell row-image-cell">
//                                     <a href="#">
//                                         <img src="http://placehold.it/40x40" class="img-responsive row-image"/>
//                                     </a>
//                                 </span>
//                                 <span class="table-behavoir-cell name-cell">
//                                     <strong>
//                                         <a href="#">{{category.name | localized}}</a>
//                                     </strong>
//                                 </span>
//                             </div>
//                         </div>
//                         <div class="col-md-3 value-cell">{{category.subcategories.length || 0}} Child Categories</div>
//                         <div class="col-md-3 value-cell">{{getAllProductsCount(category)}} Products</div>
//                         <div class="col-md-2 sticky-right">
//                             <div class="dropdown pull-right">
//                                 <a href="" class="btn btn-link btn-lg dropdown-toggle " data-toggle="dropdown" role="button" >
//                                 <span class="hyicon-more"></span></a>
//                                 <ul class="dropdown-menu pull-right text-left" role="menu">
//                                     <li><a href="#">Edit Category Details</a></li>
//                                     <li><a href="">Add Child Category</a></li>
//                                     <li class="divider"></li>
//                                     <li><a href ng-click="delete(category)">Delete Category</a></li>
//                                 </ul>
//                             </div>
//                         </div>
//                         <!-- LEVEL 3 -->
//                         <div class="subcategories-cnt">
//                             <div class=" clearfix subcategories-list" style="clear:both;">
//                                 <div class="y-h-table-row clearfix">
//                                     <div class="col-md-4">
//                                         <div class="first table-behavoir">
//                                             <span class="table-behavoir-cell toggle-cell seperator">
//                                                 <a href class="btn btn-link toggle pull-right">
//                                                     <span class="glyphicon glyphicon-plus">
//                                                     </span>
//                                                 </a>
//                                             </span>
//                                             <span class="table-behavoir-cell row-image-cell">
//                                                 <a href="#">
//                                                     <img src="http://placehold.it/40x40" class="img-responsive row-image"/>
//                                                 </a>
//                                             </span>
//                                             <span class="table-behavoir-cell name-cell">
//                                                 <strong>
//                                                     <a href="#">{{category.name | localized}}</a>
//                                                 </strong>
//                                             </span>
//                                         </div>
//                                     </div>
//                                     <div class="col-md-3 value-cell">{{category.subcategories.length || 0}} Child Categories</div>
//                                     <div class="col-md-3 value-cell">{{getAllProductsCount(category)}} Products</div>
//                                     <div class="col-md-2 sticky-right">
//                                         <div class="dropdown pull-right">
//                                             <a href="" class="btn btn-link btn-lg dropdown-toggle " data-toggle="dropdown" role="button" >
//                                             <span class="hyicon-more"></span></a>
//                                             <ul class="dropdown-menu pull-right text-left" role="menu">
//                                                 <li><a href="#">Edit Category Details</a></li>
//                                                 <li><a href="">Add Child Category</a></li>
//                                                 <li class="divider"></li>
//                                                 <li><a href ng-click="delete(category)">Delete Category</a></li>
//                                             </ul>
//                                         </div>
//                                     </div>
//                                 </div>
//                             </div>
//                         </div>
//                         <!-- // LEVEL 3 -->
//                     </div>
//                 </div>
//             </div>
//             <!-- // LEVEL 2 -->
//         </div>
//         <!-- // LEVEL 1 -->
// </div>
// 
// Styleguide 7.6

.y-h-table{
	background: #EDF1F5;

	.y-h-tablehead{
		background: @dark-blue-100;
		color: #fff;
		overflow: hidden;
	}

	.seperator{
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
	}
	.toggle{
		width: 40px;
	}

	.row-image{
		margin-right: 15px;
		max-width: 50px;
	}

	.row-image-cell{
		width: 65px;
	}

	.name-cell{
		max-width: 200px;

	}

	.y-h-table-row{
		border-top: 2px solid #EDF1F5;
		border-radius: 2px;
		background: #fff;
		position: relative;
		.y-h-table-row{
				border-top: 2px solid rgba(255, 255, 255, 1);
				background: rgba(151, 165, 180, 0.2);
				

		}
		&:last-child{
			margin-bottom: 0;
		}
	}


	div[class*='col-'] {
		padding: 15px 0 15px 15px;
	}

	 @media (max-width: @screen-sm-max) {

       .y-h-tablehead{
       		display: none;
       }

       .value-cell{
       		padding-top:0!important;
       }

       	.y-h-table-row{
       		div[class*='col-'] {
				padding: 10px 45px;
			}
       }
       	.row-image-cell{
			display: none!important;
		}

		.sticky-right{
			position: absolute;
			right: 0;
			top:  	0;
			height: 100%;
			text-align: right;
			padding: 0!important;
		}

		.toggle-cell{
				position: absolute;
				left: 4px;
				top: 4px;
				display: block!important;
				width: 40px!important;
		}

		.name-cell{
			display: block!important;
		}
     }
}


// <table> approach
/*
.y-hierarchy-table{
	.seperator{
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
	}
	.row-image{
		margin-right: 15px;
	}

	> tbody{
		> tr{
			> td{
				//border-top: 2px solid #fff;
				vertical-align: middle;

			}
		}
	}

	@media (max-width: @screen-sm-min) {
		.seperator{
			width: 0!important;
		}

		&.table tbody > tr > td{display: block; border: none; box-shadow: 0 0 0;}
		th{display: none;}

		> tbody{
			> tr{
				display:block;
				
				border-bottom: 5px solid #EDF1F5;
				padding-left: 45px;
				padding-right: 45px;
				padding-top: 10px;
				padding-bottom: 10px;
				position: relative;

				&.single-row{
					padding: 0px;
				}

				&:last-child{
					border:none;
				}

				> td{
					padding: 0px;
					padding-bottom: 0.5em;
					display: inline;

					&.sticky-right{
						position: absolute;
						right: 0;
						top:  	0;
						height: 100%;
						text-align: right;
					}

					&:first-child{
						.toggle{
							position: absolute;
							left: 0;
							top:  	0;
						}
					}
				}
			}
		}

		.row-image{
			display: none;
		}
	}
}
*/


.generate-hierarchy-level(10);

.generate-hierarchy-level(@n, @i: 1) when (@i =< @n) {
  .y-hierarchy-table-level-@{i} {
    background: rgba(44, 75, 107, (@i * 0.2 ));
  }
  .generate-hierarchy-level(@n, (@i + 1));
}


// Keep content aligned in the same row when one is getting to big
.table-behavoir{
	display: table;
	width: 100%;
	.table-behavoir-cell{
		display: table-cell;
		vertical-align: middle;
	}
}

/* Temp closedbeta workaround - write mixin afterwards */
.y-h-table-row {
  	.seperator{
  		width: 40px;
  	}

  	.y-h-table-row {
		.seperator{
			width: 50px;
		} 
		.y-h-table-row {
			.seperator{
				width: 60px;
			} 
			.y-h-table-row {
				.seperator{
					width: 70px;
				} 
				.y-h-table-row {
					.seperator{
						width: 80px;
					} 
			  		.y-h-table-row {
						.seperator{
							width: 90px;
						} 
						.y-h-table-row {
							.seperator{
								width: 100px;
							} 
							.y-h-table-row {
								.seperator{
									width: 110px;
								} 
								.y-h-table-row {
									.seperator{
										width: 120px;
									} 
									.y-h-table-row {
										.seperator{
											width: 130px;
										} 
							  		}
						  		}
					  		}
				  		}
		  			}
		  		}
	  		}
  		}
  	}

}


