// Thumbnails
//
// Thumbnail with Status Indicator and centered hover content
// 
// Markup:
// <a class="thumbnail {$modifiers}">
// 	<div class="alert alert-primary">Status</div>
// 	<img src="http://placehold.it/440x350" alt="alttext">
// 	<div class="show-onhover">
// 		<div class="centered"> 			
// 			<button class="btn btn-primary btn-lg">Some Button</button><br/> <br/>
// 			<button class="btn btn-default">Some Button</button>
// 		</div>
// 	</div>
// </a>
//
// .active - selected state
//
// Styleguide 12.2

.thumbnail {

	position: relative;
	background: transparent;

	&.active{
		border-width: 3px;
	}

	.alert{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
		padding: 5px;
		border-radius: 0 0 0;
		border: 0;
		border-bottom: none;
	}

	.show-onhover{
		height: 100%;
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    width: 100%;
	    background: fade(@dark-blue, 61%);
		opacity: 0;

		 transition: opacity .25s ease-in-out;

	    /* The ghost, nudged to maintain perfect centering */
	    &:before{
	    	content: '';
	    	display: inline-block;
	    	height: 100%;
	    	vertical-align: middle;
	    	margin-right: -0.25em; /* Adjusts for spacing */
	    }

	    /* The element to be centered, can also be of any width and height */ 
		.centered {
			display: inline-block;
  			vertical-align: middle;
  			margin-top: 20px;
  			 transition: margin .25s ease-in-out;
		}
	}

	&:hover{
		.show-onhover{
			display: block;
			opacity: 1;
		}
		.centered {
			margin-top:0px; 
		}
	}



	
	.product-image-delete-btn {
		position: absolute;
		top: 5px;
		right: 5px;
		color: #bc0000;
		background-color: #FFF;
		padding: 5px;
		display: none;
	}
	&:hover {
		.product-image-delete-btn {
			display: block;
		}
	}
}