// Toolbar 
//
// Bla
//
// <div class="y-toolbar__wrapper">
// 	<div class="y-toolbar">
// 		<div class="y-toolbar__item y-toolbar__input y-toolbar__input--transparent">
// 			<div class="form-group">
// 				<input type="text" class="form-control" placeholder="Filter/Search">
//				<span class="glyphicon glyphicon-chevron-down form-control-feedback" aria-hidden="true"></span>
// 			</div>
// 		</div>
// 		<div class="y-toolbar__item y-toolbar__dropdown">
// 			<a href="#" class="y-toolbar__btn y-toolbar__btn--caption " role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
// 				Sort By: <strong> Newst </strong> <span class="glyphicon glyphicon-chevron-down y-toolbar__dropdown__icon" aria-hidden="true"></span>
// 			</a>
// 			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
// 				<li><a href="#">Newest</a></li>
// 				<li><a href="#">Name A-Z</a></li>
// 				<li><a href="#">Name Z-A</a></li>
// 				<li role="separator" class="divider"></li>
// 				<li><a href="#">Price</a></li>
// 			</ul>
// 		</div>
// 		<div class="y-toolbar__right">
// <div class="y-toolbar__item y-toolbar__group ">
// 	<a href="#" role="button" class="y-toolbar__btn y-toolbar__btn--active" aria-pressed="true" aria-label="">
// 		<span class="hyicon hyicon-list"></span>
// 	</a>
// 	<a href="#" role="button" class="y-toolbar__btn y-toolbar__btn--inactive" aria-pressed="false" aria-label="">
// 		<span class="hyicon hyicon-grid"></span>
// 	</a>
// </div>
// 			<nav class="y-toolbar__item">
// 				<ul class="pagination">
// 					<li class="disabled">
// 						<a href="#" aria-label="Previous">
// 							<span aria-hidden="true">&laquo;</span>
// 						</a>
// 					</li>
// 					<li class="active"><a href="#">1</a></li>
// 					<li><a href="#">2</a></li>
// 					<li><a href="#">3</a></li>
// 					<li>
// 						<a href="#" aria-label="Next">
// 							<span aria-hidden="true">&raquo;</span>
// 						</a>
// 					</li>
// 				</ul>
// 				283 Items
// 			</nav>
// 		</div>
// 	</div>
// </div>
//
// Styleguide 26

// Toolbar with pagination
//
// Bla
// 
// Markup:
// <div class="y-toolbar__wrapper">
// 	<div class="y-toolbar">
// 		<div class="y-toolbar__right">
// 			<nav class="y-toolbar__item">
// 				<ul class="pagination">
// 					<li class="disabled">
// 						<a href="#" aria-label="Previous">
// 							<span aria-hidden="true">&laquo;</span>
// 						</a>
// 					</li>
// 					<li class="active"><a href="#">1</a></li>
// 					<li><a href="#">2</a></li>
// 					<li><a href="#">3</a></li>
// 					<li>
// 						<a href="#" aria-label="Next">
// 							<span aria-hidden="true">&raquo;</span>
// 						</a>
// 					</li>
// 				</ul>
// 			</nav>
// 		</div>
// 	</div>
// </div>
//
// Styleguide 26.1

// Toolbar with Dropdown
//
// Bla
// 
// Markup:
// <div class="y-toolbar__wrapper">
// 	<div class="y-toolbar">
		// <div class="y-toolbar__item y-toolbar__dropdown">
		// 	<a href="#" class="y-toolbar__btn y-toolbar__btn--caption " role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
		// 		Click Me
		// 		<span class="caret"></span>
		// 	</a>
		// 	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		// 		<li><a href="#">Action</a></li>
		// 		<li><a href="#">Another action</a></li>
		// 		<li><a href="#">Something else here</a></li>
		// 		<li role="separator" class="divider"></li>
		// 		<li><a href="#">Separated link</a></li>
		// 	</ul>
		// </div>
// 	</div>
// </div>
//
// Styleguide 26.1


@y-toolbar-height: 50px;
@y-toolbar-breakpoint: @screen-sm;

.y-toolbar__wrapper{
	border-top: 1px solid @default-greyblue-500;
	margin-bottom: 15px;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: 1;

		// Prevent fake border to receive hover/click events
		pointer-events: none;

		// Multiline Fake Border
		background-image:linear-gradient(@default-greyblue-500 1px, transparent 1px);
		background-size: @y-toolbar-height @y-toolbar-height;
		background-position: 0 (@y-toolbar-height - 1px);
	}
}

.y-toolbar{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: @container-large-desktop;
	margin: 0 auto;
	font-size: 15px;
}

.y-toolbar__right{
	display: flex;
    margin-left: auto!important;
    flex-wrap: wrap;


	@media (max-width: @y-toolbar-breakpoint){
		width: 100%;
		&:not(:first-child){
			//border-top: 1px solid @default-greyblue-500;
		}
	}
}

// Generic Layout Modifier
.y-toolbar__item{
	position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    user-select: none;
	
	flex: 0 0 auto;
    display: flex;
    align-items: center;
    text-transform: uppercase;
	
	border: none;
	height: @y-toolbar-height;

	color: @default-greyblue;

	&:not(:last-child){
		border-right: 1px solid @default-greyblue-500;
	}
}

// Button 
.y-toolbar__btn{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: middle;
    min-height: @y-toolbar-height;

	cursor: pointer;
	padding: 10px;
	background: none;
	border: none;
	padding: @padding-base-vertical @padding-base-horizontal;

	transition: all 0.1s ease-in-out 0s;

	&,
	&:visited{
		color: @dark-blue;
	}
	
	&:focus:not(.y-toolbar__btn--disabled),
	&:hover:not(.y-toolbar__btn--disabled){
		background: #fff;
		text-decoration: none;
	}
	
	&:active:not(.y-toolbar__btn--disabled){
		color: @default-blue;
	}

	// Dropdown Open State
	.open &:not(.y-toolbar__btn--disabled){
		background: #fff;
		color: @default-blue;
	}
	
	// Toggle Active
	&.y-toolbar__btn--active{
		color: @default-blue;	
	}
	
	// Toggle Inactive
	&.y-toolbar__btn--inactive{
		color: fade(@dark-blue, 65%);
	}

	// Disabled / No permission
	&.y-toolbar__btn--disabled{
		opacity: 0.3;
		cursor: not-allowed;
	}
	
	// Modifier for  text-only or icon-text buttons
	&.y-toolbar__btn--caption{
		.hyicon{
			margin-right: 5px;
		}
	}
	
	.hyicon{
		font-size: 24px;
		line-height: 0;
	}
}

// Group Buttons without seperators
.y-toolbar__group{
	display: flex;
	border-right: 1px solid @default-greyblue-500;

	&.y-toolbar__group--combo{
		
		&:focus:not(.y-toolbar__btn--disabled),
		&:hover:not(.y-toolbar__btn--disabled){
			background: #fff;
			text-decoration: none;
		}
		
		&:active:not(.y-toolbar__btn--disabled){
			color: @default-blue;
		}
	}
}

// Forms in toolbars
.y-toolbar__input{
	display: inline-flex;

	input,
	select{
		height: @y-toolbar-height;
		max-width: 100%;
		flex: 1 0 auto;
		-webkit-appearance: none;


		.y-toolbar__input--transparent&{
			-webkit-user-select: none;
			background: transparent;
			border-color: transparent;
			box-shadow: none;
			border-radius: 0;

			transition: all 0.1s ease-in-out 0s;

			&:focus{
				background: #fff;
			}
		}
	}
}

.y-toolbar__horizontal-spacing{
	padding-left: @padding-base-horizontal;
	padding-right: @padding-base-horizontal;
}

.y-toolbar__vertical-spacing{
	padding-top: @padding-base-vertical;
	padding-bottom: @padding-base-vertical;
}


/* Bootstrap Overwrites */ 

.y-toolbar__dropdown{
	.caret,
	.y-toolbar__dropdown__icon{
		margin-left: 8px;
	}

}

.y-toolbar{
	.pagination{
		margin: 0;
	}
	.form-group{
		margin-bottom: 0;
	}

	.form-control-feedback{
		height: @y-toolbar-height;
		line-height: @y-toolbar-height;
	}
}