{% set title = "Cards" %}
{% extends "./layouts/starter.njk" %}
{% from "../card/component.njk" import card %}
{% block content %}


<div class="tn-container">

toolbar

</div>

<div class="tn-container">

cards

</div>

<div class="tn-container">

toolbar

</div>

{% endblock %}
