

.elements {
    width: 50%;
}

.element-level { 
    display: block;
    margin-bottom: 6px;
}

.element-name {
    display: inline-block;
    padding: 4px 12px;

    &:hover {
        background-color: #f4f5f6;
        cursor: pointer;
    }

    .element-identifier { 
        display: inline-block;
        font-family: monospace;
        font-size: 15px;
     }

    .element-tags {
        display: block;
        line-height: 100%;

        .element-tag {
            font-size: .6em;
            text-transform: uppercase;
            margin-right: 12px;
            letter-spacing: 1px;

            &:last-child { 
                margin-right: 0;
            }
        }
    }
}

.selected-element-description {
    padding: 0 24px;
}

.see-example-link {
    color: blue;
    font-weight: bold;
}