@import 'system/colors';
@import 'system/spacing';

// Side Navigation

.tn-side-nav {
    font-size: .9em;
    width: 250px;
    background-color: $tn-color-default-dark;
    color: white; 
    position: relative;
    height: 100%;
    padding: 20px;

    ul, ol {
        margin: 0 0 20px 0;
        list-style: none;

        ul, ol { padding-left: 10px; }

        .tn-side-nav-header {
            color: $tn-color-neutral-lightest;
            font-size: 1.4em;
            margin-bottom: 10px;
            display: block;
        }

        .tn-side-nav-option {
            margin-bottom: 5px;
        }
        
        .tn-side-nav-option-active {
            color: $tn-color-default-light;
        }

    }

    a { 
        color: white; 
        text-decoration: none; 

        &:hover {
            color: $tn-color-accent-light;
        }
    }
}