//colors
$colors: (
    lightest: white,
    light: lightgray,
    dark: darkgray,
    darkest: black,
	action: yellow,
	link: blue,
	accent: #009cdf,
    success: #61bf33,
    warning: #e96b1a,
    error: #df1919,
);

//baseline
$color: color(lightest);
$background-color: color(darkest);

