$fonts: (
  body: #{"'Helvetica Neue'", sans-serif},
  header: #{"'Times New Roman'", serif},
  code: #{"Courier", monospace},
);

$colors: (
    lightest: snow,
    light: gainsboro,
    dark: dimgray,
    darkest: midnightblue,
	action: fuchsia,
	link: deepskyblue,
	accent: skyblue,
    success: lawngreen,
    warning: darkorange,
    error: red,
);
