@import "../core/functions";

//colors
$colors: (
    lightest: #eef1f3,
    light: #d7d7d7,
    dark: #7f90a4,
    darkest: #21262c,
	action: #fbc100,
	link: #006fbb,
	accent: #009cdf,
    success: #61bf33,
    warning: #e96b1a,
    error: #df1919,
);

$fonts: (
  body: #{"'Open Sans'", sans-serif},
  header: #{"Dosis", sans-serif},
  code: #{"Courier", sans-serif},
);


$type: (
  -2: 0.75rem (18/12),	//12/18
  -1: 0.875rem (18/14),	//14/18
  0: 1rem (24/16),     	//16/24
  1: 1rem (24/20),   	//20/24
  2: 2rem (30/24),   	//24/30
  3: 3rem (36/32),		//32/36
  4: 4rem (48/40),  	//40/48
  5: 5rem (54/48),  	//48/54
  6: 6rem (60/66), 	//60/66
);



//baseline
$color: color(darkest);
$background-color: color(lightest);

//interactive
$color--link: color(link);
$color--link-hover: color(link);
$color--button: color(dark);
$background-color--button: color(action);

//states
$color--error: color(error);
$color--warning: color(warning);
$color--success: color(success);


// 
// //this must come here to grab variables not defined in the theme
// @import "../core/settings";