// Section Container to handle vertical spacing
.section{
  padding-top: 20px;
}

.section-header{
  text-align: center;
  margin-bottom: 15px;

  .section-headline{
      display: inline;
  }

  .btn-link{
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Container to avoid helptext to go full bleed
.section-help{
  margin: 5px auto;
  max-width: 600px;
  font-family: @font-family-opensans;
}