.stepbar{
  text-align: center;
  .container-fluid();
}

.stepbar-left{
  float: left;
}

.stepbar-right{
  float: right;
}

.stepbar-center{
  .navbar-vertical-align(@line-height-computed);
  display: inline-block;
  float: none;
}

.stepbar-label{
}