.stickyNavigation-container{
  height: 75px;
  padding-top: 17px;

  .navbar-left{
    padding-top: 5px;
  }

  .navbar-left .navbar-btn{
    padding-top: 4px;
    padding-left: 0;
  }

  .navbar-left h1{
    display: inline;
    font-family: 'Dosis', sans-serif;
  }

  .glyphicon{
    font-size: 29px;
    color: #bdc6c2;
  }

  .titleDescriptor{
    font-size: 80%;
  }
}