<div class="tn-section-overview">
    <h2>
        {{ section.title }} {{ section.data }} 
        <a [routerLink]="[]" [fragment]="section.id">#</a>
    </h2>
    <div *ngIf="section.contentMD" Markdown [path]="contentMDPath" class="markdown-body"></div>
    <div *ngIf="section.content">
        {{ section.content }}
    </div>
</div>
<div class="tn-section-samples">
    <div class="tn-tabs">
        <div class="tn-tabs-options">
            <a *ngFor="let option of options; let i = index" (click)="selectOption(i)" [ngClass]="{ 'tn-tabs-option-selected': optionSelected == i }" class="tn-tabs-option"> {{ option.label }} </a>
            <div class="tn-side-actions">
                <a class="tn-action" (click)="toggleSpacing()" [ngClass]="{ 'tn-selected': settings.compact }" title="Toggle class='tn-compact'"><i class="material-icons">photo_size_select_small</i></a>
            </div>
        </div>
        <div [ngSwitch]="optionSelected" class="tn-tabs-container">
            <div *ngSwitchCase="0" class="tn-section-rendered">
                <div [innerHTML]="codeSample" [ngClass]="{ 'tn-compact': settings.compact }">
                </div>
            </div>
            <div *ngSwitchCase="1" class="tn-section-code">
                <handy-syntax-highlighter [language]="'html'" [content]="code"></handy-syntax-highlighter>
            </div>
        </div>
    </div>
</div>