@import "../core/settings";
//set namespace using function to avoid hardcoding it
$ns: ns();
.#{$ns}has-background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.#{$ns}has-background-fixed {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
