
//namespace docs
.docs-app {

    &__header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1001;
        transition: .4s;
        transform: translateZ(0);
        backface-visibility: hidden;
    }
    &__main {
        margin-top: 100px;
        display: flex;
        min-height: calc(100vh -  100px);
        width: 100%;
        background-color: $dark-blue-700;
        .docs-page--index{
            margin-left: 0;
        }
    }

    &__sidebar {
        width: 264px;
        color: $white;
        background-color: $dark-blue-700;
        font-family: $font-family-dosis;
        position: fixed;
        height: 100%;
        a {
            color: currentColor;
        }
        @media (max-width: 740px) and (min-width: 0){
            display: none;
        }
    }
    &__page {
        flex: 1;
        padding-bottom: 100px;
        margin-left: 264px;
        background-color: $white;
        @media (max-width: 740px) and (min-width: 0){
            margin-left: 0;
        }
    }
}
