@mixin chevron ($width, $height, $thickness, $direction){
    &:before{
        border-style: solid;
        border-width: $thickness $thickness 0 0;
        width: $width + .02;
        height: $height;
        content: '';
        display: inline-block;
        left: 0.15rem;
        position: relative;
        top: 0.15rem;
        @if $direction == 'top' {
            transform: rotate(-45deg);
        } @if $direction == 'right' {
            transform: rotate(45deg);
        } @if $direction == 'bottom' {
            transform: rotate(135deg);
        } @if $direction == 'left' {
            transform: rotate(-135deg);
        }
        vertical-align: top;
    }
}

// example usage 
// .chevron--bottom {
//    @include chevron (.8rem, .8rem, .1rem, bottom);
// }




