//code example

.docs-code {
    //display: none;
    &__header {
        margin-bottom: 10px;
        font-size: 17px;
        position: relative;
    }

    &__version-pill{
        font-size: 10px;
        font-weight: bold;
        color: $white;
        padding: 4px 6px;
        display: inline-block;
        border-radius: 10px;
        background-color: $dark-grey;
        margin-left: 10px;
        position: absolute;
        top: 2px;

    }

    &__notice{
        position: absolute;
        right: 25px;
        top: -25px;
        background-color: $dark-grey;
        font-size: 10px;
        color: $white;
        padding: 5px 7px;
        border-radius: 5px;
        display: none;
    }

    &__copy-code{
        position: absolute;
        right: 0;
        top: 2px;
        color: $link-blue;
        font-size: 14px;
        background: url('/svg/icon-copy.svg') no-repeat top right;
        padding-right:20px;
        cursor: pointer;
    }

    &__markup {
        white-space: pre-wrap;
        font-family: monospace;
        font-size: 12px;
        line-height: 16px;
        position: relative;
        display: block;

        &::before {
            $grid-unit: 16px;

            content: '';
            position: absolute;
            display: block;
            z-index: 1;
            min-height: 100%;
            min-width: 100%;
            opacity: 0.5;
            background-size: 100% $grid-unit;
            background-image: linear-gradient(to bottom, red 0%, transparent percentage(1px / $grid-unit), transparent 100%);

        }
    }

    pre{
        white-space:pre-wrap;
    }

}
