@import'variables';
$footer--height: 40px;
$font-size--footer: 15px;

.footer{
    font-family: $font-family-dosis;
    font-size: $font-size--footer;
    width: 100%;
    background: $dark-blue-700;
    vertical-align: bottom;
    position: relative;
    display: block !important;
    height: 1px;
    &-right {
        float: right;
        display: block;
        padding: 0!important;
    }
    &-left {
        float: left;
        display: block;
        opacity: .7;
    }
    &-item {
        float: right;
        display: block;
        text-align: center;
        padding: 10px 10px 3px;
        color: $white;
    }
    a{
        text-decoration: none;
        font-weight: 600;
    }
}

@media (max-width: 740px) {
    .footer {
        height: 90px;
        z-index: 902;
        .footer-left, .footer-right {
            float: none !important;
            padding: 0;
            clear: both;
            text-align: center;
        }
        .footer-right {
            border-bottom: 1px solid $dark-blue-800;
        }
        .footer-item {
            display: inline-block !important;
            float: none !important;
            padding: 10px;
        }
    }
}

@media (min-width: 740px){
    .footer {
        height: $footer--height;
        position: relative;
        display: block !important;
    }
}