@import'variables';

.yaas-signature-nav {
    font-size: 17px;
    font-weight: 500;
    background: $dark-blue-700;
    color: $white;
    text-align: center;
    overflow: visible;
    display: block;
    height: $primary-nav--height;
    transition: .4s;
    li {
        margin-top: 8px;
        a {
            padding: 6px 20px 12px;
            display: block;
            color: $dark-grey;
            font-family: "Dosis",sans-serif;
            font-weight: 500;
            @media (max-width: 1048px) and (min-width: 741px){
                padding: 6px 10px 12px;
            }
        }
        &:hover a {
            color: $white;
            background-color: $default-blue-500;
        }
        &:last-child {
            //disable hover state on mobile
            @media(max-width: 740px) {
                &:hover > ul {
                    display: none !important;
                }
                ul[aria-hidden="false"]{
                    display: block !important;
                }
                .primary-nav--toggle {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                }
                #yaas-my-account-subnav {
                    width: 100%;
                    box-shadow: none;
                    li{
                        border-bottom: 1px solid $light-grey-200;
                        &:last-child {
                            border-top: none;
                            border-bottom: 1px solid $dark-grey-400;
                        }
                    }
                }
            }
        }

        #yaas-my-account-subnav {
            position: absolute;
            margin: 0;
            padding: 0;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .3);
            min-width: 150px;
            text-align: left;
            li {
                margin-bottom: 0;
                margin-top: 0;
                border-top: 1px solid $light-grey-200;
                &:first-child {
                    border-top: none;
                }
                a {
                    background-color: $white;
                    color: $default-blue;
                    padding: 20px 15px 15px;
                }
                &:hover a {
                    background-color: $default-blue;
                    color: $white;
                }
            }
        }
    }
    &__list {
        border-left: 2px dotted $dark-grey-500;
    }
    &-slideout{
        transition: all .4s ease;
        margin-top: -50px;
    }
    .domain {
        float: left;
        display: block;
        padding-right: 15px;
        height: $primary-nav--height;
        cursor: pointer;
        .domain-logo {
            padding: 5px 10px 10px;
            margin-top: 5px;
            width: 46px;
            height: 44px;
            line-height: $primary-nav--height;
        }
        .logo-text {
            font-size: 16px;
            line-height: $primary-nav--height;
            display: inline-block;
            letter-spacing: .025em;
            vertical-align: top;
            font-family: $font-family-dosis;
            font-weight: 800;
            color: $white;
        }
        &:hover {
            background: transparent;
            .logo-text {
                color: $dark-blue-600;
            }
        }
    }
    .primary-nav--toggle {
        display: none;
        float: right;
        height: $primary-nav--height;
        width: $primary-nav--height;
        background: $dark-blue-800;
        position: relative;
        transition: background-color .2s ease-in-out;
        border: none;
        outline: none;
        span:before {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            top: 50%;
            left: 50%;
            height: 0;
            margin-left: -9px;
            margin-top: -10px;
            border-color: $dark-blue-800 transparent transparent;
            border-style: solid;
            border-width: 9px;
            border-radius: 3px;
        }
        .primary-nav-triangle {
            position: absolute;
            display: block;
            width: 0;
            top: 50%;
            left: 50%;
            height: 0;
            margin-left: -11px;
            margin-top: -4px;
            border-color: $grey transparent transparent;
            border-style: solid;
            border-width: 11px;
            border-radius: 5px;
        }
    }
}
.docs-primary-nav{
    background: $default-blue;
    color: $white;
    overflow: hidden;
    height: $primary-nav--height;
    width: 100%;
    font-weight: 500;
}

.docs-primary-nav, .yaas-signature-nav {
    font-family: $font-family-dosis;
    @include clearfix;
    &__directory, &__index, &__list, &__listitem {
        display: inline-block;
        margin-bottom: 0;
        float: left;
    }
    &__directory {
        padding: 0 20px 0 0;
    }
    &__index {
        vertical-align: top;
    }
    &__list {
        float: left;
        [aria-selected=true] {
            color: $white;
        }
    }
    &__listitem {
        font-family: $font-family-dosis !important;
        &[aria-haspopup] {
            position: relative;
        }
    }
    &__listlink {
        display: block;
        padding: 14px;
        line-height: 1.45em;
        &[aria-haspopup] {
            &::after {
                content: '';
                position: relative;
                top: 15px;
            }
        }
    }
    //subnavs
    &__subnav-list {
        position: absolute;
    }
    //behaviors
    [aria-haspopup] {
        .yaas-signature-nav__subnav-list {
            display: none;
            width: 230px;
        }
        &:hover {
            .yaas-signature-nav__subnav-list {
                display: block;
            }
        }
    }
    a{
        text-decoration: none;
        color: $light-blue-400;
        &:hover{
            background-color: $default-blue-300;
        }
    }
    .brand{
        float: right;
        display: block;
        width: 160px;
        height: $primary-nav--height;
        .brand-logo {
            padding: 10px;
            height: $primary-nav--height;
        }
        @media(max-width: 949px) and (min-width: 0){
            display: none;
        }
        &:hover{
            background: transparent;
        }
    }
}

//media queries for the mobile view
@media (max-width: 740px) and (min-width: 0){
    .yaas-signature-nav__list{
        border-top: 1px solid $grey;
        display: none!important;
        width: 100%;
        position: absolute;
        top: $primary-nav--height;
        z-index: 1001;
        border-left: 0 none;
        &[aria-hidden="false"]{
            display: block!important;
            height: auto;
        }
        li{
            border-bottom: 1px solid $dark-grey-400;
            display: block;
            position: relative;
            font-size: 17px;
            padding: 0;
            float: none;
            text-align: left;
            margin-top: 0;
            a{
                color: $grey;
                background: $dark-blue-700;
                text-decoration: none;
                padding: 20px;
                display: block;
                line-height: 20px;
                font-weight: bold;
            }
            &:hover a{
                background-color: $dark-grey-400;
            }
        }
    }
    .docs-primary-nav__list{
        display: none!important;
    }
    .primary-nav--toggle{
        visibility: visible !important;
        opacity: 1 !important;
        display: block !important;
        &[aria-expanded="true"]{
            background: $default-blue;
            .primary-nav-triangle{
                border-color: transparent transparent $white;
                margin-top: -15px;
                &:before {
                    border-color: transparent transparent $default-blue;
                    margin-top: -8px;
                    margin-left: -9px;
                }
            }
        }
    }
    .yaas-signature-nav__index.brand{
        display: none !important;
    }
}
//burger icon on mobile
#menu-toggle{
    display: none;
    position: relative;
    cursor: pointer;
    padding: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    .icon-bar {
        background: none repeat scroll 0 0 $dark-blue-900;
        height: 2px;
        transform: none;
        width: 23px;
        border-radius: 1px;
        display: block;
        margin-top: 4px;
        transition: all 0.5s ease;
    }
    &:hover .icon-bar{
        background-color: $white;
    }
    &[aria-expanded="true"]{
        .icon-bar:nth-child(2n+1) {
            transform: rotate(-45deg);
        }
        .icon-bar {
            position: absolute;
            margin-top: 8px;
            transform: rotate(45deg);
        }
    }
    @media(max-width: 740px) and (min-width: 0){
        display: inline-block;
    }
}

.mobile-left-side-navigation{
    display: none;
    position: fixed;
    background: $dark-blue-700 none repeat scroll 0 0;
    z-index: 901;
    width: 250px;
    left: 0;
    top: 0;
    height: 100%;
    padding: 100px 0 0 0;
    overflow-y: auto;
    transition: all 0.4s ease-out;
    ul{
        padding-top: 50px;
        li{
            display: inline-block;
            width: 100%;
            a{
                color: $light-grey-100;
                display: block;
                padding: 10px 15px 10px 31px;
                text-decoration: none;
                font-size: 15px;
                &:hover, &[aria-selected=true] {
                    color: $default-blue;
                }
            }
        }
    }
    &[aria-hidden="false"]{
        display: block;
    }
}
