@import'variables';

.docs-secondary-nav {
    &__header{
        color: $dark-grey-300;
        background: $dark-blue-800;
        padding: 24px 20px;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: .5em;
    }

    &__list {
        [aria-selected="true"] {
            font-weight: bold;
        }
    }
    &__listitem{
        margin-bottom: 0;
        &-header {
            font-size: 20px;
            color: $dark-grey-300;
            padding: 12px 12px 0 24px;
            display: block;
            font-weight: 600;
            margin-top: 12px;
        }
        > ul{
            padding-left: 12px;
            > li {
                margin-bottom: 0;
                > a{
                    color: $light-grey-100;
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    position: relative;
                    padding: 2px 24px 2px 12px;
                    margin: 15px 30px 15px 12px;
                    &:hover {
                        color: $default-blue;
                    }
                }
            }
        }
    }

    &__listlink {
        display: block;
        padding: 0 20px;
        &[aria-haspopup] {
            &::after {
                content: '';
                //@include triangle(10px, color(light), down);
                position: relative;
                top: 15px;
            }

        }
    }


}
