// * Sets behavior for primary layout containers


%section-base {
    @include clearfix;
}

%app-section {
    @extend %section-base;
    margin-left: 0;
    margin-right: 0;
    padding-left: $ui-side-padding;
    padding-right: $ui-side-padding;
    &:last-child {
        margin-bottom: 0;
    }
}

.docs-section {
    @extend %app-section;
    margin-bottom: 100px;
    &--extra-bottom-padding {
        @extend %app-section;
        margin-bottom: 150px;
    }
}
