//all variable related to Web site techne.yaas.io and techne library overwrites should be located here

//size
$primary-nav--height: 50px;

//fonts
$font-family-dosis: 'Dosis', sans-serif;
$font-size-base:          14px;
$font-size--footer: ceil(($font-size-base * 1.07));

//colors
//
$white: #fff;
$grey: #808fa1;
$dark-grey: #7f90a4;
$light-grey-100: #dbe3eb;
$light-grey-200: #d4d7dc;

//blue
$default-blue: #0486e0;
$default-blue-500: #0368ae;
$dark-blue-700: #27394f;
$dark-blue-800: #1e2c3b;

