//all variable related to Web site techne.yaas.io and techne library overwrites should be located here

//breakpoints
$breakpoints: (
    xs: 480px,
    s: 667px,
    m: 768px,
    l: 1024px,
    xl: 1248px,
    xxl: 1440px
) !default;

$ui-side-padding: 40px;
$ui-grid-gutter: 17px;
$margin-bottom: 40px;

//type
$type: (
    60: 60px (60/60),
    46: 46px (55/45),
    24: 24px (24/24), 
    18: 18px (24/18),
    0: 16px (24/16),
) !default;

//fonts
$fonts: (
    body: #{"'Open Sans'", sans-serif},
    header: #{"Dosis", sans-serif},
    code: #{"Courier", sans-serif},
) !default;
//fonts
$font-family-dosis: 'Dosis', sans-serif;

//size
$primary-nav--height: 50px;


//colors
//
$white: #fff;
$grey: #808fa1;
$dark-grey: #7f90a4;
$dark-grey-400: #223245;
$dark-grey-500: #3e4d60;
$light-grey-100: #dbe3eb;
$light-grey-200: #d4d7dc;

//blue
$light-blue-400: #a4c8f0;
$default-blue: #0486e0;
$default-blue-300: #0376c6;
$default-blue-500: #0368ae;
$dark-blue-600: #035995;
$dark-blue-700: #27394f;
$dark-blue-800: #1e2c3b;
$dark-blue-900: #233243;
