@import 'mixins';
@import 'primary-nav';
@import 'code';

p, ul {
    margin-bottom: 20px;
}
//namespace docs
.docs-app {

    &__header {
        background-color: lightblue;
        height: 100px;
    }
    &__main {
        display: flex;
        min-height: calc(100vh -  60px);
    }

    &__sidebar {
        padding: 20px;
        background: midnightblue;
        color: white;
        a {
            color: white;
        }

    }

}

.docs-page {
    max-width: 1000px;
    padding: 20px;
}
