/* GENERAL BOOTSTRAP THEME SPECIFIC OVERWRITES - REQURIES CLEANUP & SPLIT IN FILES! */
@import '_grid.less';
@import '_type.less';
@import '_tooltip.less';
@import '_alert.less';
@import '_thumbnails.less';
@import '_input-groups.less';
@import '_close.less';
@import '_code.less';
@import '_badges.less';

.color-danger{ // Remove undocumented color class - Replace with labels in projects
   color: @default-red;
}

.light-text{ // Remove undocumented color class - Replace with labels in projects
   color: @light-blue-700;
}

body.use-techne-header{
    padding-top: 70px !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
   &.list-group-item-heading{
      small{
         display: block;

         margin-bottom: 10px;
      }
   }
}


section{
    margin-bottom: 45px;
}

.body-content{
    padding-top: 30px;
}

.header-edit{
  margin-top: 12px;

}

.categoryTable{

  .tablehead{
    background-color:#7f90a4;
    font-size: 12px;
    color: #fff;
    padding: 15px;
  }

  .subcategories-list{
    margin-left: 40px;
  }

  .category-toggle, .dropdown-toggle{
    padding: 0;
  }



  .categoryRow{
    background-color: #edf1f5;
    border: 1px solid #dce1e8;
    border-top: none;
    .categoryRow{
      background-color: #f4f7f9;
      border: none !important;
      .categoryRow{
        background-color: #fafbfc;

        .categoryRow{
          background-color: #fff;
        }
      }
    }
  }

  .mobileLayout, .desktopLayout{
    padding: 15px;
  }

  .hasNoChildCategories{
    background-color: #fff !important;
  }

}


/*CATEGORY TABLE */
@media (max-width: @screen-xs-max) {
  .categoryTable {
    .dropdown-menu{
      min-width: 223px !important;
    }

    .subcategories-list{
      margin-left: 0;
    }

  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
