// Action Buttons
//
// A majority of buttons in the site are built from the same base class.
// 
// Markup:
//<button class="btn btn-lg {$modifiers}">
//	This is a Button
//</button>
// 
// .btn-default           - The secondary button should be used for any secondary, but important, actions on the page and is generally found in the upper right quadrant of the actionable area besides the “Save” primary button. Examples include “Add” in a popover or “Invite” in Team Management.
// .btn-primary           - The primary button should be used for the primary record actions on the page and is generally found in the upper right quadrant of the actionable area, usually the tool bar, i.e. “Save”.
// .btn-danger            - The Delete button is used to indicate removal of records from the system. Delete is represented by a red button, typically placed on the lower left quadrant of the actionable area. Any action analogous to Cancel or Undo should use the secondary action style. 
//
// Styleguide 2.1

.btn{
	border: @btn-border;
}

.btn-primary {
	.box-shadow(0 3px 0 darken(@btn-primary-bg, 7%));
}

.btn-default {
	.box-shadow(0 3px 0 darken(@btn-default-bg, 10%));
}

.btn-success {
	.box-shadow(0 3px 0 darken(@btn-success-bg, 10%));
}

.btn-info {
	.box-shadow(0 3px 0 darken(@btn-info-bg, 20%));
}

.btn-warning {
	.box-shadow(0 3px 0 darken(@btn-warning-bg, 7%));
}

.btn-danger{
  .box-shadow: none;
  &:active,
  &:focus{
    color: #fff;
    background: @btn-danger-color;
  }
}

.btn-subordinate{
  .button-variant(@btn-subordinate-color; @btn-subordinate-bg; @btn-subordinate-border);
}

// Button variants 
// -------------------------
// with more parameter so you get full controll over hover etc states
.button-variant-custom(@color-default; @background-default; @border-default; @boxshadow-default; @color-hover; @background-hover; @border-hover; @boxshadow-hover) {
  color: @color-default;
  background-color: @background-default;
  border-color: @border-default;
  .box-shadow(0 2px 0 fade(@boxshadow-default, 100%));

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color-hover;
    background-color: @background-hover;
        border-color: @border-hover;
    .box-shadow(0 2px 0 fade(darken(@boxshadow-hover, 4%), 100%));
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
    background-color: lighten(@background-hover, 4%);
        border-color: lighten(@border-hover, 4%);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(0 2px 0 fade(@boxshadow-default, 100%));

    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background-default;
          border-color: @border-default;
    }
    &:active,
    &.active,
    .open .dropdown-toggle& {
    background-image: none;
    background-color: lighten(@background-hover, 4%);
        border-color: lighten(@border-hover, 4%);
        .box-shadow(0 2px 0 fade(darken(@boxshadow-hover, 4%), 100%));
  }
  }

  .badge {
    color: @background-default;
    background-color: @color-default;
  }
}



// Buttons (Input Type)
//
// Input Type File needs special markup to get skinned in a proper way. 
// You can use this with all available btn modifier classes
// 
// Markup:
//<div class="file-selector">
//	<span class="btn btn-default btn-lg {$modifiers}">
//		<span>Upload File Button</span>
//		<input type="file" multiple="" ng-file-select="">
//	</span>
//</div>
//
// Styleguide 2.2

.file-selector {
	display: inline-block;
    line-height: 1.33;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    .btn{
    	// BTN SHADOW
    	margin-bottom: 2px;
    	margin-left: 1px;
    	margin-right: 1px;
    }

    input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
	}
}

// Segmented Buttons
//
//  Segmented buttons are a horizontal control of multiple segments. 
//  Each segment is a button, use them to indicate that they are related.
//
// Markup:
//<div data-toggle="buttons" class="btn-group">
//	<label class="btn btn-segmented btn-lg {$modifiers} ">
//		<input type="radio" id="option1" name="options"> Action
//	</label>
//	<label class="btn btn-segmented btn-lg active {$modifiers} ">
//		<input type="radio" id="option2" name="options"> Action
//	</label>
//  <label class="btn btn-segmented btn-lg {$modifiers} ">
//		<input type="radio" id="option3" name="options"> Action
//	</label>
//</div>
//
// Styleguide 2.5
.btn-group {
  border-radius: 4px;
  .box-shadow(1px 2px 1px fade(@default-greyblue-200, 100%));
}
.btn-segmented{
  background-color: #fff;
  color: @default-blue;
  border-style: solid;
  border-width: 1px;
  border-color: @default-greyblue-200;
  &.active,
  &:active {
    background-color: @default-blue;
    color: #fff;
  }
  &:hover {
    background-color: rgba(4,134,224,0.85);
  }
}
