// Input Field
//
// Markup:
// <form>
//   <div class="form-group">
//     <label for="exampleInputEmail1" class="control-label required">Email address</label>
//     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
//   </div>
//   <div class="form-group">
//     <label for="exampleInputPassword1" class="control-label required">Password</label>
//     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
//   </div>
//   <div class="form-group">
//     <label for="exampleInputNotRequired">Optional field label</label>
//     <input type="password" class="form-control" id="exampleInputNotRequired" placeholder="Password">
//   </div>
// </form>
//
// Styleguide 5.1

@form-label-color: @light-blue-700;

label{
  color: @form-label-color;
  font-weight: normal;
}

textarea{
  resize: vertical;
}

.has-success,
.has-warning,
.has-error {

  // Keep label textcolor default
  label,
  label.control-label,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @form-label-color;
  }
  
  // Overwrite of backgroundcolor for input-group-addons
  .input-group-addon{
      background: @alert-success-text;
   }
}

.has-error{
    // Color error form element value
  .form-control {
    color: @state-danger-text;
  }
}

.input-group-addon{
  background-color: #e1e6ec;
}

label.control-label.required{
  font-weight: bold;
  &:after{
    content: ' *';
  }
}


// Input Icons left hand side
.has-feedback{
   &.has-feedback-left{
      // Ensure icons don't overlap text
      .form-control{
         padding-right: 0;
         padding-left: (@input-height-base * 1.25);
      }
      // Feedback icon (requires .glyphicon classes)
      .form-control-feedback{
         top: (@line-height-computed + 5); // Height of the `label` and its margin
         right: auto;
         left: 0;
      }
   }
   // Reposition feedback icon if label is hidden with "screenreader only" state - Fixed in Boostrap 3.2.0
   label.sr-only ~ .form-control-feedback{
      top: 0;
   }
}

// Fix form-inline when radios are chained 
.form-inline{
  &.form-inline-padding{
     > .radio{
      margin-top: @form-group-margin-bottom;
      margin-bottom: @form-group-margin-bottom * 1.5;
      
      & + .radio{
        margin-left: 15px;
      }
    }
  }
}
