// Inputfield
//
// Markup:
// <form>
//   <div class="form-group">
//     <label for="exampleInputEmail1">Email address</label>
//     <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
//   </div>
//   <div class="form-group">
//     <label for="exampleInputPassword1">Password</label>
//     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
//   </div>
// </form>
//
// Styleguide 7.1

@form-label-color: @light-blue-700;

label{
  color: @form-label-color;
}

textarea{
  resize: none;
}

.has-success,
.has-warning,
.has-error {

  // Keep label textcolor default
  label,
  label.control-label,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @form-label-color;
  }
}


.has-error{
    // Color error form element value
  .form-control {
    color: @state-danger-text;
  }
}


.input-group-addon{
  background-color: #e1e6ec;
}

label.control-label.required::after{
  content: '*';
  font-weight: bold;

}



// Form Validation
//
// Markup:
// <div class="form-group has-error">
//   <label class="control-label ng-binding">Description *</label>
//   <input builder-input="noRestriction" class="form-control input-lg ng-scope ng-pristine ng-invalid ng-invalid-required" name="Team Description" ng-model="team.description" required="">
// <span class="error-input help-block ng-binding ng-scope"> Field is required </span><span class="builder-input-hint inline-hint-text"></span></div>
//
// Styleguide 8.1
