.modal-dialog-partialblocking {
    position: absolute;
    top: 0px;
    left: 0px;
}
.modal {
    overflow-y: auto;
}


.modal-header,
.modal-footer{
  border:none;
  background: @default-greyblue-100;
}