// Navigation stylings
.nav {
	a {
		color: @navigation-links-color;
		&:hover {
			color: #FFF;
		}
	}
}

.navbar{
	border: none;
	margin-bottom: 0;
	border-radius: 0;

	.navbar-text{
		h1,h2,h3,h4,h5,h6{
			margin: 0px 15px;
		}
	}

}

.navbar-default{
	.box-shadow(0 1px 0 @default-grey-600);
}

.navbar-right{
	float: right!important;
	display: block;
}

.navbar-left{
	float: left!important;
	display: block;
}



// Standalone Pills
//
// Extend Pills to show validation states
// <p><b>Deprecated</b> - The states will be removed in the future
// please don't use it anymore</p>
// <p><b>Experimental</b> - Only use states standalone with for static text right now!</p>
//
// Markup:
//   <div class="nav-pill">Text</div>
//



//Color States are deprecated, please remove them soon

.nav-pill-variant(default; transparent; @dark-grey; @dark-grey-800;);
.nav-pill-variant(has-success; transparent; @state-success-bg; @state-success-bg;);
.nav-pill-variant(has-info; transparent; @state-info-bg; @state-info-bg);
.nav-pill-variant(has-warning; transparent; @state-warning-bg; @state-warning-bg;);
.nav-pill-variant(has-error; transparent; @state-danger-bg; @state-danger-bg;);


// MIXINS
// ==================================================================

// Standalone Pills with States

.nav-pill-variant(@state; @background; @border; @color) {
  .nav-pill-style(){
     display: block;
      padding: 10px 15px;
      position: relative;
      border-radius: @nav-pills-border-radius;
      margin-left: 2px;
      background: @background;
      color: @color;
      float: left;
      border: 1px solid @border;

    &.active,
    & a:hover,
    & a:focus{
            background: lighten(@border, 30%);
            color: darken(@color, 5%)
    }

  }

    .nav-pill{
      .nav-pill-state() when (@state = default) {
        .nav-pill-style;
      }
      .nav-pill-state(){
        &.@{state}{
          .nav-pill-style;
        }
      }
      .nav-pill-state;
    }

}
