// Panels
//
// Panel States
// 
// Markup:
//<div class="panel {$modifiers}">
//	<div class="panel-heading">Panel heading without title</div>
//	<div class="panel-body">
//		Panel content
//	</div>
//</div>
// 
// .panel-primary - primary
// .panel-info - info
// .panel-warning - warning
// .panel-danger - danger
// .panel-success - success
//
// Styleguide 3.2


.panel{
	.box-shadow(0 1px 0 @default-grey-600);
	border-color: #dce1e8;

	&.panel-primary{
			border-left:5px solid @default-blue;
	}

	&.panel-success{
			border-left:5px solid @default-green;
	}

	&.panel-info{
			border-left:5px solid @state-info-bg;
	}

	&.panel-warning{
			border-left:5px solid @default-yellow;
	}

	&.panel-danger{
		border-left:5px solid @default-red;
	}

	&.panel-border{
		border: 1px solid @default-grey-600;
		border-radius: 0;
		.box-shadow(0 0 0 @default-grey-600);
	}
	.panel-heading{

		// RESET FOR HEADING TO USE RIGHT MARKUP
		h1,h2,h3,h4,h5,h6{
			font-size: 18px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}