
.table{
	border-collapse: separate;

  color: @default-greyblue;


		> thead,
		> tbody,
		> tfoot {
			> tr {
				> th,
				> td {
          &.sticky-right{
					   text-align: right;
					 }			
			  	}

			  	> th{
			  		background: @table-head-color;
					  color: #fff;

					a{
						color: #fff;
					}
		  		}

		  		> td:first-child {
            		padding-left: @table-cell-padding + 5;
          		}


		  		&:last-child{
			  		> th,
					> td {
						border-bottom: none;
					}
		  		}

		  		&.active{
		  			a {
		  				color: #fff;
		  			}
		  		}
			}
  		}
	}


.table-responsive{
	-webkit-overflow-scrolling: touch;
}