@import 'system/colors';
@import 'system/spacing';
@import 'system/responsive';

// Techné Main Navigation

.tn-main-nav {
    display: flex;
    background-color: $tn-color-default-light;
    color: white;

    a { 
        color: white; 
        text-decoration: none; 
    }

    @include tn-padding($tn-narrow-spacing);

    .tn-main-nav-section {
        @include tn-margin-horizontal($tn-narrow-spacing);
    }

    .tn-main-nav-options {
        display: flex;

        .tn-main-nav-option {
            list-style: none;
            @include tn-margin-horizontal($tn-wide-spacing);
            font-size: 1.2em;

            a {
                color: $tn-color-neutral-lighter;
            }

            &.tn-main-nav-option-selected {
                a {
                    color: $tn-color-neutral-lightest;
                }
            }
        }

        @media screen and (max-width: $tn-phone-break) {
            display: none;
        }
    }
}

.tn-identity {
    margin: 0 0 0 1.5em;

    .tn-logo {
        height: 30px; 
        vertical-align: middle;
    }

    .tn-inidentity-name {
        font-size: 1.5em;
        font-weight: normal;
        margin: 0 0 0 .2em;
        vertical-align: middle;
    }
}